workflows/⌚ [Fabricio Nunnes] Clint | Planilha Sheets.json
{
  "active": true,
  "connections": {
    "Call_Agendada": {
      "main": [
        [
          {
            "node": "CLINT CALL AGENDADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLINT": {
      "main": [
        [
          {
            "node": "infos_bc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "infos_bc": {
      "main": [
        [
          {
            "node": "avisa_Closer1_Jonatã",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "avisa_Closer1_Jonatã": {
      "main": [
        [
          {
            "node": "avisa_Fabricio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "avisa_Fabricio": {
      "main": [
        [
          {
            "node": "avisa_Luana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "call_realizada": {
      "main": [
        [
          {
            "node": "CLINT CALL REALIZADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "no_show": {
      "main": [
        [
          {
            "node": "CLINT NO SHOW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLINT NO SHOW": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLINT CALL REALIZADA": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "add_lead_leadlovers_callrealizada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "add_lead_leadlovers_noshow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "avisa_Luana": {
      "main": [
        [
          {
            "node": "avisa_Michelle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "avisa_Michelle": {
      "main": [
        [
          {
            "node": "MensagemGrupoSoftware1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemGrupoSoftware1": {
      "main": [
        [
          {
            "node": "Asana1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead_Ganho": {
      "main": [
        [
          {
            "node": "CLINT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-14T14:43:48.505Z",
  "id": "yKQUtrmtKqHHdeF2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚ [Fabricio Nunnes] Clint | Planilha Sheets",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1e7-lIJxBcfuqXi1WvT6Y98amrIWex_6ftUDhXgX0G-w",
          "mode": "list",
          "cachedResultName": "Vendas diárias Closer - Universidade Vendas (respostas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e7-lIJxBcfuqXi1WvT6Y98amrIWex_6ftUDhXgX0G-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 515667983,
          "mode": "list",
          "cachedResultName": "CLINT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e7-lIJxBcfuqXi1WvT6Y98amrIWex_6ftUDhXgX0G-w/edit#gid=515667983"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Origem (cadência)": "={{ $json[\"body\"][\"deal_origin\"] }}",
            "Data da venda": "={{ String($json[\"body\"][\"deal_won_at\"]).slice(0,10) }}",
            "CNPJ ou CPF": "={{ $json[\"body\"][\"contact_cpfcnpj\"] }} {{ $json[\"body\"][\"organization_cnpj\"] }}",
            "Nome do cliente": "={{ $json[\"body\"][\"contact_name\"] }}",
            "Telefone do cliente": "={{ $json[\"body\"][\"contact_phone\"] }}",
            "Razão social do cliente": "={{ $json[\"body\"][\"organization_name\"] }}",
            "E-mail do Cliente": "={{ $json[\"body\"][\"contact_email\"] }}",
            "Observações de pagamento": "={{ $json[\"body\"][\"organization_documentos_important\"] }}",
            "Serviço (s)": "={{ $json.body.contact_produto ? $json.body.contact_produto : $json.body.deal_produto }}",
            "Qual o valor total do contrato?": "=R$ {{ $json[\"body\"][\"deal_faturamento\"] }}",
            "Qual o valor total que o cliente já pagou?": "=R$ {{ $json[\"body\"][\"deal_value\"] }}",
            "Outro telefone do cliente (se houver)": "={{ $json[\"body\"][\"deal_user_phone\"] }}",
            "Endereço de e-mail": "={{ $json[\"body\"][\"contact_email\"] }}",
            "Closer": "={{ $json[\"body\"][\"deal_closer\"].replace('Ana Carvalho','Ana Cristina') }}",
            "quem qualificou": "={{ $json[\"body\"][\"deal_sdr\"] }}",
            "Quantidade": "1",
            "Vigência total (em meses)": "={{ $json[\"body\"][\"deal_meses_de_contrato\"] }}",
            "CEP do cliente": "={{ $json[\"body\"][\"deal_cep\"] }}{{ $json[\"body\"][\"organization_cep\"] }}",
            "Rua do cliente": "={{ $json[\"body\"][\"deal_endereco\"] }}",
            "Dia do vencimento": "={{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_dia_do_vencimento\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_vencimento_da_parcel\"] }}",
            "Nome fantasia da empresa": "={{ $json[\"body\"][\"deal_nome_fantasia_da_emp\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Origem (cadência)",
              "displayName": "Origem (cadência)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dia do vencimento",
              "displayName": "Dia do vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data da venda",
              "displayName": "Data da venda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vigência total (em meses)",
              "displayName": "Vigência total (em meses)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome do cliente",
              "displayName": "Nome do cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CNPJ ou CPF",
              "displayName": "CNPJ ou CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Razão social do cliente",
              "displayName": "Razão social do cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail do Cliente",
              "displayName": "E-mail do Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Observações de pagamento",
              "displayName": "Observações de pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Serviço (s)",
              "displayName": "Serviço (s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual o valor total do contrato?",
              "displayName": "Qual o valor total do contrato?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual o valor total que o cliente já pagou?",
              "displayName": "Qual o valor total que o cliente já pagou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone do cliente",
              "displayName": "Telefone do cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CEP do cliente",
              "displayName": "CEP do cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rua do cliente",
              "displayName": "Rua do cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Número do endereço do cliente",
              "displayName": "Número do endereço do cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bairro do cliente",
              "displayName": "Bairro do cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Outro telefone do cliente (se houver)",
              "displayName": "Outro telefone do cliente (se houver)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome fantasia da empresa",
              "displayName": "Nome fantasia da empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Endereço de e-mail",
              "displayName": "Endereço de e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Closer",
              "displayName": "Closer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantidade",
              "displayName": "Quantidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quem qualificou",
              "displayName": "quem qualificou",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "a465ed8f-1258-48d5-858e-7764fe920f67",
      "name": "CLINT",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9VMJ3bREWTIIbmTh",
          "name": "[Google Sheets] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1e7-lIJxBcfuqXi1WvT6Y98amrIWex_6ftUDhXgX0G-w",
          "mode": "list",
          "cachedResultName": "Vendas diárias Closer - Universidade Vendas (respostas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e7-lIJxBcfuqXi1WvT6Y98amrIWex_6ftUDhXgX0G-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 111290368,
          "mode": "list",
          "cachedResultName": "CLINT CALL AGENDADA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e7-lIJxBcfuqXi1WvT6Y98amrIWex_6ftUDhXgX0G-w/edit#gid=111290368"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Origem (cadência)": "={{ $json[\"body\"][\"deal_origin\"] }}",
            "Nome": "={{ $json[\"body\"][\"contact_name\"] }}",
            "Email": "={{ $json[\"body\"][\"contact_email\"] }}",
            "Telefone": "={{ $json[\"body\"][\"contact_phone\"] }}",
            "Etapa do Funil": "={{ $json[\"body\"][\"deal_stage\"] }}",
            "Razão social do cliente": "={{ $json[\"body\"][\"organization_name\"] }}",
            "Nome fantasia da empresa": "={{ $json[\"body\"][\"deal_nome_fantasia_da_emp\"] }}",
            "Dono do negocio": "={{ $json[\"body\"][\"deal_user\"] }}",
            "Status do negocio": "={{ $json[\"body\"][\"deal_status\"] }}",
            "Data da Reunião": "={{ $json[\"body\"][\"deal_reuniao\"].slice(0,10) }}",
            "Closer": "={{ $json[\"body\"][\"deal_closer\"].replace('Ana Carvalho','Ana Cristina').replace('leandro.arcas@universidadevendas.com.br','Leandro Arcas') }}",
            "SDR": "={{ $json[\"body\"][\"deal_sdr\"] }}",
            "Quantidade": "1"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Origem (cadência)",
              "displayName": "Origem (cadência)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Etapa do Funil",
              "displayName": "Etapa do Funil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Razão social do cliente",
              "displayName": "Razão social do cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome fantasia da empresa",
              "displayName": "Nome fantasia da empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dono do negocio",
              "displayName": "Dono do negocio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status do negocio",
              "displayName": "Status do negocio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data da Reunião",
              "displayName": "Data da Reunião",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Closer",
              "displayName": "Closer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SDR",
              "displayName": "SDR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantidade",
              "displayName": "Quantidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d093502f-9871-413a-8a9a-615d436671e5",
      "name": "CLINT CALL AGENDADA",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        940,
        520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9VMJ3bREWTIIbmTh",
          "name": "[Google Sheets] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1e7-lIJxBcfuqXi1WvT6Y98amrIWex_6ftUDhXgX0G-w",
          "mode": "list",
          "cachedResultName": "Vendas diárias Closer - Universidade Vendas (respostas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e7-lIJxBcfuqXi1WvT6Y98amrIWex_6ftUDhXgX0G-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1810914043,
          "mode": "list",
          "cachedResultName": "CLINT CALL REALIZADA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e7-lIJxBcfuqXi1WvT6Y98amrIWex_6ftUDhXgX0G-w/edit#gid=1810914043"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Origem (cadência)": "={{ $json[\"body\"][\"deal_origin\"] }}",
            "Nome": "={{ $json[\"body\"][\"contact_name\"] }}",
            "Email": "={{ $json[\"body\"][\"contact_email\"] }}",
            "Telefone": "={{ $json[\"body\"][\"contact_phone\"] }}",
            "Etapa do Funil": "={{ $json[\"body\"][\"deal_stage\"] }}",
            "Razão social do cliente": "={{ $json[\"body\"][\"organization_name\"] }}",
            "Nome fantasia da empresa": "={{ $json[\"body\"][\"deal_nome_fantasia_da_emp\"] }}",
            "Dono do negocio": "={{ $json[\"body\"][\"deal_user\"] }}",
            "Status do negocio": "={{ $json[\"body\"][\"deal_status\"] }}",
            "Data da reunião": "={{ $json[\"body\"][\"deal_reuniao\"].slice(0,10) }}",
            "Closer": "={{ $json[\"body\"][\"deal_closer\"].replace('Ana Carvalho','Ana Cristina').replace('leandro.arcas@universidadevendas.com.br','Leandro Arcas') }}",
            "SDR": "={{ $json[\"body\"][\"deal_sdr\"] }}",
            "Quantidade": "1"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Origem (cadência)",
              "displayName": "Origem (cadência)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Etapa do Funil",
              "displayName": "Etapa do Funil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Razão social do cliente",
              "displayName": "Razão social do cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome fantasia da empresa",
              "displayName": "Nome fantasia da empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dono do negocio",
              "displayName": "Dono do negocio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status do negocio",
              "displayName": "Status do negocio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data da reunião",
              "displayName": "Data da reunião",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Closer",
              "displayName": "Closer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SDR",
              "displayName": "SDR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantidade",
              "displayName": "Quantidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "9cd158e9-4868-455a-9e1f-01e64fc710bb",
      "name": "CLINT CALL REALIZADA",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        940,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9VMJ3bREWTIIbmTh",
          "name": "[Google Sheets] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1e7-lIJxBcfuqXi1WvT6Y98amrIWex_6ftUDhXgX0G-w",
          "mode": "list",
          "cachedResultName": "Vendas diárias Closer - Universidade Vendas (respostas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e7-lIJxBcfuqXi1WvT6Y98amrIWex_6ftUDhXgX0G-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2107555942,
          "mode": "list",
          "cachedResultName": "CLINT NO SHOW",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e7-lIJxBcfuqXi1WvT6Y98amrIWex_6ftUDhXgX0G-w/edit#gid=2107555942"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Origem (cadência)": "={{ $json[\"body\"][\"deal_origin\"] }}",
            "Nome": "={{ $json[\"body\"][\"contact_name\"] }}",
            "Email": "={{ $json[\"body\"][\"contact_email\"] }}",
            "Telefone": "={{ $json[\"body\"][\"contact_phone\"] }}",
            "Etapa do Funil": "={{ $json[\"body\"][\"deal_stage\"] }}",
            "Razão social do cliente": "={{ $json[\"body\"][\"organization_name\"] }}",
            "Nome fantasia da empresa": "={{ $json[\"body\"][\"deal_nome_fantasia_da_emp\"] }}",
            "Dono do negocio": "={{ $json[\"body\"][\"deal_user\"] }}",
            "Status do negocio": "={{ $json[\"body\"][\"deal_status\"] }}",
            "Data da Reunião": "={{ $json[\"body\"][\"deal_reuniao\"].slice(0,10) }}",
            "Closer": "={{ $json[\"body\"][\"deal_closer\"].replace('Ana Carvalho','Ana Cristina').replace('leandro.arcas@universidadevendas.com.br','Leandro Arcas') }}",
            "SDR": "={{ $json[\"body\"][\"deal_sdr\"] }}",
            "Quantidade": "1"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Origem (cadência)",
              "displayName": "Origem (cadência)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Etapa do Funil",
              "displayName": "Etapa do Funil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Razão social do cliente",
              "displayName": "Razão social do cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome fantasia da empresa",
              "displayName": "Nome fantasia da empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dono do negocio",
              "displayName": "Dono do negocio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status do negocio",
              "displayName": "Status do negocio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data da Reunião",
              "displayName": "Data da Reunião",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Closer",
              "displayName": "Closer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SDR",
              "displayName": "SDR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantidade",
              "displayName": "Quantidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "cd3f1849-a6f0-41d8-8305-a64bd1b389a8",
      "name": "CLINT NO SHOW",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        940,
        920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9VMJ3bREWTIIbmTh",
          "name": "[Google Sheets] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call_agendada-hetzner",
        "options": {}
      },
      "id": "d789d820-9f28-432e-81be-0ea9b4a12a0b",
      "name": "Call_Agendada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        720,
        520
      ],
      "webhookId": "1d6d6bb5-a432-4b97-b31e-a27dd5bb44e5"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ID Jonatã BC Closer 1",
              "value": "342800505"
            },
            {
              "name": "API-KEY",
              "value": "003f9285-2ed2-4d3c-8f84-18e5a8fab5d3"
            },
            {
              "name": "ID Fabricio BC",
              "value": "214311872"
            },
            {
              "name": "ID Luana BC Closer",
              "value": "767369489"
            },
            {
              "name": "ID Michelle BC",
              "value": "733639086"
            },
            {
              "name": "ID_grupo_novos_clientes",
              "value": "120363219650907550@g.us"
            },
            {
              "name": "url_base_evolution",
              "value": "https://apievolution.automagicbots.com.br/"
            },
            {
              "name": "instancia_nome",
              "value": "FabricioNunnes2"
            },
            {
              "name": "APIKEY_Evolution",
              "value": "7F2739D3508A-4408-943F-8048AD60BAF7"
            }
          ]
        },
        "options": {}
      },
      "id": "b486dc0d-91b0-4d35-8b42-f22540c82e16",
      "name": "infos_bc",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"infos_bc\"].json[\"ID Jonatã BC Closer 1\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "=🎉 *NOVA VENDA - Ganho na Clint* 🎉\n\n*Data:* {{ ($node[\"Lead_Ganho\"].json[\"body\"][\"deal_won_at\"]).slice(0,10) }}\n*SDR*: {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_sdr\"] }}\n*Closer:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_closer\"] }}\n*Qual mentoria?* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_produto\"] }} {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_produto\"] }}\n*Nome da empresa: (Jurídico/Fantasia):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_name\"] }} / {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_nome_fantasia_da_emp\"] }}\n*CNPJ:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_cnpj\"] }}\n*Segmento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_segment\"] }}\n*Plano:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_plano\"] }}\n*Entrada:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_value\"] }}\n*Faturamento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_faturamento\"] }}\n*Quantidade de Parcelas (Entrada + Parcelas):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_quantidade_de_parcel\"] }}\n*Valor das Parcelas:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_valor_das_parcelas_e\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_valor_das_parcelas\"] }}\n*Data de vencimento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_dia_do_vencimento\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_vencimento_da_parcel\"] }}\n*Forma de pagamento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_forma_de_pagamento_1\"] }}\n*Contatos (Nome e telefone):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_name\"] }} - {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_phone\"] }}\n*E-mail:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_email\"] }}\n*Cidade:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_city\"] }}\n*Estado:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_state\"] }}\n*CEP:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_cep\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_cep\"] }}\n*Briefing:* {{ ($node[\"Lead_Ganho\"].json[\"body\"][\"deal_briefing\"].replaceAll('<p>', '').replaceAll('<br>','\\n').replaceAll('</p>', '').replaceAll('&nbsp;','').replaceAll('#;', '').replaceAll('**;', '')).replace(/, /g, ',').replaceAll(/ ,/g, ', ') }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"infos_bc\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "avisa_Closer1_Jonatã",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ],
      "id": "9610ee9a-8dc9-4cad-8e0b-0ae06b2fd5d9",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"infos_bc\"].json[\"ID Fabricio BC\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "=🎉 *NOVA VENDA - Ganho na Clint* 🎉\n\n*Data:* {{ ($node[\"Lead_Ganho\"].json[\"body\"][\"deal_won_at\"]).slice(0,10) }}\n*SDR*: {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_sdr\"] }}\n*Closer:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_closer\"] }}\n*Qual mentoria?* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_produto\"] }} {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_produto\"] }}\n*Nome da empresa: (Jurídico/Fantasia):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_name\"] }} / {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_nome_fantasia_da_emp\"] }}\n*CNPJ:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_cnpj\"] }}\n*Segmento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_segment\"] }}\n*Plano:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_plano\"] }}\n*Entrada:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_value\"] }}\n*Faturamento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_faturamento\"] }}\n*Quantidade de Parcelas (Entrada + Parcelas):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_quantidade_de_parcel\"] }}\n*Valor das Parcelas:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_valor_das_parcelas_e\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_valor_das_parcelas\"] }}\n*Data de vencimento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_dia_do_vencimento\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_vencimento_da_parcel\"] }}\n*Forma de pagamento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_forma_de_pagamento_1\"] }}\n*Contatos (Nome e telefone):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_name\"] }} - {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_phone\"] }}\n*E-mail:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_email\"] }}\n*Cidade:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_city\"] }}\n*Estado:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_state\"] }}\n*CEP:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_cep\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_cep\"] }}\n*Briefing:* {{ ($node[\"Lead_Ganho\"].json[\"body\"][\"deal_briefing\"].replaceAll('<p>', '').replaceAll('<br>','\\n').replaceAll('</p>', '').replaceAll('&nbsp;','').replaceAll('#;', '').replaceAll('**;', '')).replace(/, /g, ',').replaceAll(/ ,/g, ', ') }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"infos_bc\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "avisa_Fabricio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ],
      "id": "1818815f-bd8e-4274-9602-f349e061d4b9",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"infos_bc\"].json[\"url_base_evolution\"] }}message/sendText/{{ $node[\"infos_bc\"].json[\"instancia_nome\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"infos_bc\"].json[\"APIKEY_Evolution\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"infos_bc\"].json[\"ID_grupo_novos_clientes\"] }}"
            },
            {
              "name": "text",
              "value": "=🎉 *NOVA VENDA - Ganho na Clint* 🎉\n\n*Data:* {{ ($node[\"Lead_Ganho\"].json[\"body\"][\"deal_won_at\"]).slice(0,10) }}\n*SDR*: {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_sdr\"] }}\n*Closer:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_closer\"] }}\n*Qual mentoria?* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_produto\"] }} {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_produto\"] }}\n*Nome da empresa: (Jurídico/Fantasia):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_name\"] }} / {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_nome_fantasia_da_emp\"] }}\n*CNPJ:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_cnpj\"] }}\n*Segmento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_segment\"] }}\n*Plano:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_plano\"] }}\n*Entrada:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_value\"] }}\n*Faturamento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_faturamento\"] }}\n*Quantidade de Parcelas (Entrada + Parcelas):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_quantidade_de_parcel\"] }}\n*Valor das Parcelas:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_valor_das_parcelas_e\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_valor_das_parcelas\"] }}\n*Data de vencimento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_dia_do_vencimento\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_vencimento_da_parcel\"] }}\n*Forma de pagamento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_forma_de_pagamento_1\"] }}\n*Contatos (Nome e telefone):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_name\"] }} - {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_phone\"] }}\n*E-mail:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_email\"] }}\n*Cidade:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_city\"] }}\n*Estado:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_state\"] }}\n*CEP:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_cep\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_cep\"] }}\n*Briefing:* {{ ($node[\"Lead_Ganho\"].json[\"body\"][\"deal_briefing\"].replaceAll('<p>', '').replaceAll('<br>','\\n').replaceAll('</p>', '').replaceAll('&nbsp;','').replaceAll('#;', '').replaceAll('**;', '')).replace(/, /g, ',').replaceAll(/ ,/g, ', ') }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=mentionsEveryOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "86fd7d0b-e5b2-4e14-bbc0-ee909569f9d8",
      "name": "MensagemGrupoSoftware1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2120,
        300
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "7d62bddb-c5df-4118-9a76-a379e165393f",
              "leftValue": "={{ $node[\"call_realizada\"].json[\"body\"][\"contact_email\"] }}",
              "rightValue": "Integração novos clientes - Universidade Vendas",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "839e64b6-070c-4090-bd67-f994f105bc12",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1140,
        720
      ]
    },
    {
      "parameters": {
        "url": "=https://apievolution.automagicbots.com.br/group/fetchAllGroups/Fabricio-Nunnes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "getParticipants",
              "value": "false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=D2977F0B8F6C-4B1F-A11C-D78FBA4D10A0"
            }
          ]
        },
        "options": {}
      },
      "id": "f3028904-1b1e-4f4d-aab0-05fe1bae7f0d",
      "name": "get_groups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        40
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call_realizada-hetzner",
        "options": {}
      },
      "id": "bd7f3a00-c1c3-43a2-9c9b-e8dffa1ba0cf",
      "name": "call_realizada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        720,
        720
      ],
      "webhookId": "1d6d6bb5-a432-4b97-b31e-a27dd5bb44e5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "no_show-hetzner",
        "options": {}
      },
      "id": "8139dbb5-7280-4ce8-983c-6e16c61258f2",
      "name": "no_show",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        720,
        920
      ],
      "webhookId": "1d6d6bb5-a432-4b97-b31e-a27dd5bb44e5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://llapi.leadlovers.com/webapi/lead",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "4A3A3499EBDA4A25A1282B4BD44D5A97"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Name\": \"{{ $node[\"no_show\"].json[\"body\"][\"contact_name\"] }}\",\n  \"Email\": \"{{ $node[\"no_show\"].json[\"body\"][\"contact_email\"] }}\",\n  \"MachineCode\": 758865,\n  \"EmailSequenceCode\": 1794353,\n  \"SequenceLevelCode\": 1\n}",
        "options": {}
      },
      "id": "0a588858-c86e-4ef3-959c-2dac0ae2dd7e",
      "name": "add_lead_leadlovers_noshow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://llapi.leadlovers.com/webapi/lead",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "4A3A3499EBDA4A25A1282B4BD44D5A97"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Name\": \"{{ $node[\"call_realizada\"].json[\"body\"][\"contact_name\"] }}\",\n  \"Email\": \"{{ $node[\"call_realizada\"].json[\"body\"][\"contact_email\"] }}\",\n  \"MachineCode\": 758873,\n  \"EmailSequenceCode\": 1794362,\n  \"SequenceLevelCode\": 1\n}",
        "options": {}
      },
      "id": "807c5a6c-de63-49ee-93ef-af12c7302455",
      "name": "add_lead_leadlovers_callrealizada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "7d62bddb-c5df-4118-9a76-a379e165393f",
              "leftValue": "={{ $node[\"no_show\"].json[\"body\"][\"contact_email\"] }}",
              "rightValue": "Integração novos clientes - Universidade Vendas",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0158945a-29ac-4d0d-8ca7-4d2906fbdf6c",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1140,
        920
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"infos_bc\"].json[\"ID Luana BC Closer\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "=🎉 *NOVA VENDA - Ganho na Clint* 🎉\n\n*Data:* {{ ($node[\"Lead_Ganho\"].json[\"body\"][\"deal_won_at\"]).slice(0,10) }}\n*SDR*: {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_sdr\"] }}\n*Closer:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_closer\"] }}\n*Qual mentoria?* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_produto\"] }} {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_produto\"] }}\n*Nome da empresa: (Jurídico/Fantasia):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_name\"] }} / {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_nome_fantasia_da_emp\"] }}\n*CNPJ:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_cnpj\"] }}\n*Segmento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_segment\"] }}\n*Plano:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_plano\"] }}\n*Entrada:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_value\"] }}\n*Faturamento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_faturamento\"] }}\n*Quantidade de Parcelas (Entrada + Parcelas):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_quantidade_de_parcel\"] }}\n*Valor das Parcelas:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_valor_das_parcelas_e\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_valor_das_parcelas\"] }}\n*Data de vencimento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_dia_do_vencimento\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_vencimento_da_parcel\"] }}\n*Forma de pagamento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_forma_de_pagamento_1\"] }}\n*Contatos (Nome e telefone):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_name\"] }} - {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_phone\"] }}\n*E-mail:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_email\"] }}\n*Cidade:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_city\"] }}\n*Estado:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_state\"] }}\n*CEP:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_cep\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_cep\"] }}\n*Briefing:* {{ ($node[\"Lead_Ganho\"].json[\"body\"][\"deal_briefing\"].replaceAll('<p>', '').replaceAll('<br>','\\n').replaceAll('</p>', '').replaceAll('&nbsp;','').replaceAll('#;', '').replaceAll('**;', '')).replace(/, /g, ',').replaceAll(/ ,/g, ', ') }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"infos_bc\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "avisa_Luana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1700,
        300
      ],
      "id": "50d4cdd0-edfd-4f12-80fe-e13388b40ff3",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"infos_bc\"].json[\"ID Michelle BC\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "=🎉 *NOVA VENDA - Ganho na Clint* 🎉\n\n*Data:* {{ ($node[\"Lead_Ganho\"].json[\"body\"][\"deal_won_at\"]).slice(0,10) }}\n*SDR*: {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_sdr\"] }}\n*Closer:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_closer\"] }}\n*Qual mentoria?* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_produto\"] }} {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_produto\"] }}\n*Nome da empresa: (Jurídico/Fantasia):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_name\"] }} / {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_nome_fantasia_da_emp\"] }}\n*CNPJ:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_cnpj\"] }}\n*Segmento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_segment\"] }}\n*Plano:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_plano\"] }}\n*Entrada:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_value\"] }}\n*Faturamento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_faturamento\"] }}\n*Quantidade de Parcelas (Entrada + Parcelas):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_quantidade_de_parcel\"] }}\n*Valor das Parcelas:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_valor_das_parcelas_e\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_valor_das_parcelas\"] }}\n*Data de vencimento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_dia_do_vencimento\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_vencimento_da_parcel\"] }}\n*Forma de pagamento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_forma_de_pagamento_1\"] }}\n*Contatos (Nome e telefone):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_name\"] }} - {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_phone\"] }}\n*E-mail:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_email\"] }}\n*Cidade:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_city\"] }}\n*Estado:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_state\"] }}\n*CEP:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_cep\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_cep\"] }}\n*Briefing:* {{ ($node[\"Lead_Ganho\"].json[\"body\"][\"deal_briefing\"].replaceAll('<p>', '').replaceAll('<br>','\\n').replaceAll('</p>', '').replaceAll('&nbsp;','').replaceAll('#;', '').replaceAll('**;', '')).replace(/, /g, ',').replaceAll(/ ,/g, ', ') }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"infos_bc\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "avisa_Michelle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1900,
        300
      ],
      "id": "dd538bc4-fbe8-4b5a-96f3-288281714324",
      "continueOnFail": true
    },
    {
      "parameters": {
        "workspace": "1202692939354145",
        "name": "=Iniciar Onboarding - {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_name\"] }} / {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_nome_fantasia_da_emp\"] }}",
        "otherProperties": {
          "assignee": "1210898485359550",
          "due_on": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
          "notes": "=🎉 *NOVA VENDA - Ganho na Clint* 🎉\n\n*Data:* {{ ($node[\"Lead_Ganho\"].json[\"body\"][\"deal_won_at\"]).slice(0,10) }}\n*SDR*: {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_sdr\"] }}\n*Closer:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_closer\"] }}\n*Qual mentoria?* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_produto\"] }} {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_produto\"] }}\n*Nome da empresa: (Jurídico/Fantasia):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_name\"] }} / {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_nome_fantasia_da_emp\"] }}\n*CNPJ:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_cnpj\"] }}\n*Segmento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_segment\"] }}\n*Plano:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_plano\"] }}\n*Entrada:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_value\"] }}\n*Faturamento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_faturamento\"] }}\n*Quantidade de Parcelas (Entrada + Parcelas):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_quantidade_de_parcel\"] }}\n*Valor das Parcelas:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_valor_das_parcelas_e\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_valor_das_parcelas\"] }}\n*Data de vencimento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_dia_do_vencimento\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_vencimento_da_parcel\"] }}\n*Forma de pagamento:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_forma_de_pagamento_1\"] }}\n*Contatos (Nome e telefone):* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_name\"] }} - {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_phone\"] }}\n*E-mail:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"contact_email\"] }}\n*Cidade:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_city\"] }}\n*Estado:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_state\"] }}\n*CEP:* {{ $node[\"Lead_Ganho\"].json[\"body\"][\"deal_cep\"] }}{{ $node[\"Lead_Ganho\"].json[\"body\"][\"organization_cep\"] }}\n*Briefing:* {{ ($node[\"Lead_Ganho\"].json[\"body\"][\"deal_briefing\"].replaceAll('<p>', '').replaceAll('<br>','\\n').replaceAll('</p>', '').replaceAll('&nbsp;','').replaceAll('#;', '').replaceAll('**;', '')).replace(/, /g, ',').replaceAll(/ ,/g, ', ') }}",
          "projects": [
            "1211085333440981"
          ]
        }
      },
      "id": "6ae146a9-3a65-431d-807f-3643f88c686b",
      "name": "Asana1",
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        2340,
        300
      ],
      "credentials": {
        "asanaApi": {
          "id": "IaFCWYfj7ybADROA",
          "name": "[Asana] - Fabricio Nunes"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ganho-planilha-hetzner",
        "options": {}
      },
      "id": "964519b9-bd7e-4e47-b456-6c1110a1ba35",
      "name": "Lead_Ganho",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        700,
        300
      ],
      "webhookId": "1d6d6bb5-a432-4b97-b31e-a27dd5bb44e5"
    }
  ],
  "pinData": {
    "Call_Agendada": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookfabricionunnes.automagicbots.com.br",
            "user-agent": "axios/0.27.2",
            "content-length": "394",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "x-forwarded-for": "52.200.254.28",
            "x-forwarded-host": "n8nwebhookfabricionunnes.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "077bd0aa48be",
            "x-real-ip": "52.200.254.28",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "contact_name": "Fábio",
            "contact_email": "comercial@bigarcondicionado.com.br",
            "contact_phone": "+5514996064047",
            "deal_stage": "Reunião",
            "deal_user": "sunamita.freitas@universidadevendas.com.br",
            "deal_status": "OPEN",
            "deal_reuniao": "07/03/2024, 09:00",
            "deal_closer": "Sunamita Freitas",
            "deal_sdr": "Não tem",
            "deal_origin": "Sessão Estratégica",
            "organization_name": "",
            "deal_nome_fantasia_da_emp": ""
          }
        }
      }
    ],
    "call_realizada": [
      {
        "json": {
          "headers": {
            "host": "webhookeditorhetznerfabricionunnes.automagicbots.com.br",
            "user-agent": "axios/1.7.9",
            "content-length": "410",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "traceparent": "00-68014942000000006d49bf12665589e8-47ab13591b9530a0-00",
            "tracestate": "dd=t.tid:6801494200000000;t.dm:-3;s:-1;p:47ab13591b9530a0",
            "x-datadog-parent-id": "5164242671146184864",
            "x-datadog-sampling-priority": "-1",
            "x-datadog-tags": "_dd.p.tid=6801494200000000",
            "x-datadog-trace-id": "7875035509181221352",
            "x-forwarded-for": "52.200.254.28",
            "x-forwarded-host": "webhookeditorhetznerfabricionunnes.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "77400aba3c69",
            "x-real-ip": "52.200.254.28"
          },
          "params": {},
          "query": {},
          "body": {
            "contact_name": "Thatiane Souza",
            "contact_email": "thatianesouza@assistancesolucoes.com.br",
            "contact_phone": "+5531997456705",
            "deal_stage": "Follow up infinito",
            "deal_user": "thiago.campanholo@universidadevendas.com.br",
            "deal_status": "OPEN",
            "deal_origin": "Funil SS",
            "deal_reuniao": "11/03/2025, 17:00",
            "organization_name": "",
            "deal_nome_fantasia_da_emp": "",
            "deal_closer": "Leandro Arcas",
            "deal_sdr": "Yasmin Vitorino"
          },
          "webhookUrl": "https://webhookeditorhetznerfabricionunnes.automagicbots.com.br/webhook/call_realizada-hetzner",
          "executionMode": "production"
        }
      }
    ],
    "no_show": [
      {
        "json": {
          "headers": {
            "host": "webhookeditorhetznerfabricionunnes.automagicbots.com.br",
            "user-agent": "axios/1.7.9",
            "content-length": "382",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "traceparent": "00-6801291a000000001803cf602c3455be-373de58e43346588-00",
            "tracestate": "dd=t.tid:6801291a00000000;t.dm:-3;s:-1;p:373de58e43346588",
            "x-datadog-parent-id": "3980590044841010568",
            "x-datadog-sampling-priority": "-1",
            "x-datadog-tags": "_dd.p.tid=6801291a00000000",
            "x-datadog-trace-id": "1730454693805839806",
            "x-forwarded-for": "52.200.254.28",
            "x-forwarded-host": "webhookeditorhetznerfabricionunnes.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "77400aba3c69",
            "x-real-ip": "52.200.254.28"
          },
          "params": {},
          "query": {},
          "body": {
            "contact_name": "Yuri",
            "contact_email": "yuri.12@gmail.com",
            "contact_phone": "+5511982558090",
            "deal_stage": "No show",
            "deal_user": "thiago.campanholo@universidadevendas.com.br",
            "deal_status": "OPEN",
            "deal_origin": "Funil SE",
            "deal_reuniao": "17/04/2025, 13:00",
            "organization_name": "",
            "deal_nome_fantasia_da_emp": "",
            "deal_closer": "thiago.campanholo@universidadevendas.com.br",
            "deal_sdr": ""
          },
          "webhookUrl": "https://webhookeditorhetznerfabricionunnes.automagicbots.com.br/webhook/no_show-hetzner",
          "executionMode": "production"
        }
      }
    ],
    "Lead_Ganho": [
      {
        "json": {
          "headers": {
            "host": "webhookeditorhetznerfabricionunnes.automagicbots.com.br",
            "user-agent": "axios/1.11.0",
            "content-length": "6258",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "baggage": "sentry-trace_id=079c1b32b10749b1b43983ba46a44109,sentry-environment=production_new,sentry-release=a7c3fdd26b0ac8499bdde1e6570ec265a3a6b858,sentry-public_key=af3c6636fa6e4f89948eaa4e575b3286,sentry-transaction=%2Fapi%2Fv1%2Fblocks_integration%2Ftest_request%2F,sentry-sample_rate=0.02,sentry-sampled=false,sentry-org_id=4508812279349248,sentry-sample_rand=0.9195238866008815,origin=3,name=flows,loc=app.tasks.flows.batch_evaluate_flow_action_evaluations_webhook_send_multibroker__r0,source=klaviyo,bubblegroup.http.route=api%2F1.1%2Fwf,bubblegroup.http.host=metrifiquei.bubbleapps.io,bubblegroup.workflow.appname=metrifiquei,bubblegroup.workflow.app_version=live,bubblegroup.workflow.situation=post_wf_api,bubblegroup.workflow.id=bTqMF,bubblegroup.workflow.event.type=APIEvent,bubblegroup.workflow.action.id=bTueZ,bubblegroup.workflow.action.type=apiconnector2-bTueO.bTueP,actorType=user,userToken=01K4N4EPF6RV3YQ6PDZ9G9ERTT,rootTraceId=a98df290efb3c3abf38fe4806f114ad2,userId=01F1FM1QRPZVFPV768WFSN0V1M,rootTimestamp=1757599986191",
            "content-type": "application/json",
            "traceparent": "00-68d437dc0000000035db6e3b2ddd2e7c-7e0042924d32359f-01",
            "tracestate": "dd=t.tid:68d437dc00000000;t.dm:-12;s:2;p:7e0042924d32359f",
            "x-datadog-parent-id": "9079330044906714527",
            "x-datadog-sampling-priority": "2",
            "x-datadog-tags": "_dd.p.tid=68d437dc00000000,_dd.p.dm=-12",
            "x-datadog-trace-id": "3880816704361410172",
            "x-forwarded-for": "52.200.254.28",
            "x-forwarded-host": "webhookeditorhetznerfabricionunnes.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "77400aba3c69",
            "x-real-ip": "52.200.254.28"
          },
          "params": {},
          "query": {},
          "body": {
            "contact_name": "Ari Cavalcante",
            "contact_email": "aribcavalcante@gmail.com",
            "contact_phone": "+5585999812249",
            "deal_stage": "Reunião Realizada",
            "deal_user": "michelle.nunes@universidadevendas.com.br",
            "deal_status": "WON",
            "contact_tag": [
              "Qualificado",
              "Natália"
            ],
            "contact_vendedores": "",
            "deal_won_at": "24/09/2025 15:26:36",
            "contact_numero_de_parcelas": "",
            "deal_quantidade_de_parcel": "",
            "contact_cpfcnpj": "10245715304",
            "organization_name": "Arilub  Distribuidora Arilub Distribuidor de Oleos Lubrificantes e Aditivos LTDA",
            "contact_status_de_pagamento": "",
            "contact_produto": "",
            "deal_value": 6000,
            "deal_faturamento": "",
            "deal_user_phone": "5511948145047",
            "deal_endereco": "Rua Barão do Rio Branco, 2266 -  Centro - Fortaleza / CE - CEP 60025-062",
            "organization_city": "Fortaleza",
            "organization_state": "CE",
            "organization_estado_sigla": "",
            "organization_documentos_important": "",
            "deal_origin": "Funil SE",
            "deal_meses_de_contrato": "",
            "deal_dia_do_vencimento": "",
            "deal_closer": "Michelle Nunes",
            "deal_sdr": "Natália Amador",
            "deal_valor_da_entrada": "",
            "deal_valor_das_parcelas": "",
            "deal_forma_de_pagamento": "",
            "deal_cep": "",
            "deal_nome_fantasia_da_emp": "Arilub  Distribuidora ",
            "deal_plano": "",
            "deal_forma_de_pagamento_1": "Cartão",
            "organization_segment": "",
            "deal_briefing": "<h2>Principais Pontos da Conversa</h2><h2>1. <strong>Contexto da Empresa</strong></h2><ul><li>Empresa atua principalmente com lubrificantes, com foco maior em área industrial.</li><li>Recebe mais demanda do que faz prospecção ativa, mas deseja inverter esse cenário para buscar clientes ativamente.</li><li>Atende principalmente localmente, porém recebe contatos de empresas de fora devido a obras temporárias na região.</li><li>Atualmente, o processo de vendas é muito baseado no orgânico (indicação, nome conhecido, busca por Google).</li><li>Utiliza WhatsApp e ligações esporádicas para fidelizar clientes, mas faz poucas visitas presenciais.</li><li>Parte significativa das vendas é feita através de licitações/governo.</li></ul><h2>2. <strong>Desafios Identificados</strong></h2><ul><li><strong>Dificuldade em formar equipe comercial ativa:</strong> Falta de pessoas treinadas e o custo elevado das tentativas anteriores fez parar contratações.</li><li><strong>Estoque elevado:</strong> Mais de R$600 mil em estoque parado, incluindo produtos fora do nicho tradicional da empresa, originados por compras casadas em licitações.</li><li><strong>Dificuldade de escoar o estoque:</strong> Falta de braço para vendas ativas e gestão disso.</li><li><strong>Precificação:</strong> Dificuldade em definir preços competitivos, especialmente em ambientes com concorrentes maiores.</li><li><strong>Capacitação da equipe:</strong> Apenas uma das vendedoras utiliza o CRM de forma consistente, falta capacitação para melhor uso da ferramenta e técnicas de vendas.</li></ul><h2>3. <strong>Objetivos</strong></h2><ul><li>Ativar a equipe comercial com treinamento e processos mais estruturados.</li><li>Estruturar o setor comercial para atender não só licitações, mas também vendas recorrentes e ativas de estoque.</li><li>Melhorar a gestão comercial, acompanhamento de métricas, cadência de atendimento e metas de vendas.</li><li>Queimar estoque e estruturar lançamento de uma nova marca (Valvoline) no Ceará.</li><li>Precisa de apoio para recrutamento, seleção, treinamento e acompanhamento da equipe.</li></ul><h2>4. <strong>Proposta da Universidade de Vendas</strong></h2><ul><li>Diagnóstico detalhado inicial dos processos e resultados.</li><li>Elaboração de planejamento estratégico, com acompanhamento e reavaliação a cada 3 meses.</li><li>Implantação de processos comerciais previsíveis, organização dos fluxos de vendas e canais de aquisição (Google, LinkedIn, possibilidade de tráfego pago).</li><li>Treinamento diário da equipe, acompanhamento próximo por consultoras operacionais e estratégicas, focando em metas, taxa de conversão e evolução técnica dos vendedores.</li><li>Suporte na contratação: escopo da vaga, seleção, entrevista e integração cultural.</li><li>Acompanhamento individual dos vendedores, plano de ação semanal e feedbacks contínuos.</li><li>Parceria para tráfego pago (via parceiro “Pai do Tráfego”), caso desejem potencializar prospecção digital.</li></ul><h2>5. <strong>Investimento</strong></h2><ul><li>Valor do serviço: R$ 3.000 mensais.</li><li>Opções de desconto para planos trimestrais, semestrais e anuais (possibilidade de parcelamento no cartão).</li><li>Tráfego pago é terceirizado e varia de R$1.000 a R$2.000 mensais (conforme o pacote desejado).</li></ul><h2>6. <strong>Considerações do Cliente</strong></h2><ul><li>Interesse em proposta detalhada, por escrito, incluindo pontos do que será feito.</li><li>Desejo de reunião/entrevista com outros membros da equipe antes de fechar.</li><li>Preocupação com histórico negativo em contratações anteriores de consultorias.</li><li>Valorização da confiança e baixo número de funcionários, empresa com perfil familiar, onde todos exercem múltiplas funções.</li><li>Pontos de atenção com mudança de cultura e resistência inicial dos funcionários em sair da zona de conforto.</li></ul><h2>7. <strong>Outros Pontos Importantes</strong></h2><ul><li>Responsável pela implantação da marca Valvoline será Alexandre, que ainda vai entrar na equipe.</li><li>Clientes principais de vendas recorrentes: Fabiana (há 20 anos na empresa) e Aglailton (há 6 anos, voltado ao financeiro e em desenvolvimento para gestão comercial).</li><li>Possibilidade de acompanhamento por WhatsApp e dashboards personalizados para controle de indicadores.</li><li>Intenção de conversar com todos da equipe antes de iniciar o processo.</li></ul><h3><strong>Resumo da Solução Ofertada</strong></h3><p>O foco é estruturar o processo comercial, capacitar a equipe, melhorar as vendas ativas, ajudar no recrutamento e implementação de tecnologia e rotinas de acompanhamento – sempre com acompanhamento próximo e indicadores claros, adaptando a solução à realidade enxuta e multifuncional da empresa.</p>",
            "deal_produto": "Sirius",
            "organization_cnpj": "41389388000141",
            "organization_cep": "60025062",
            "deal_vencimento_da_parcel": "N/A"
          },
          "webhookUrl": "https://webhookeditorhetznerfabricionunnes.automagicbots.com.br/webhook/ganho-planilha-hetzner",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Q8rgTKWALfDjS7MZ",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2025-09-24T19:48:12.666Z",
  "versionId": "bb808f14-d685-4f5d-a7b7-13bede223ba9"
}