workflows/⌚[FABRÍCIO NUNNES][BD][SE] - Calendly - Cancelamento.json
{
  "active": true,
  "connections": {
    "3": {
      "main": [
        [
          {
            "node": "create/update_negocio_clint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead3": {
      "main": [
        [
          {
            "node": "create/update_contato_clint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_agendamento": {
      "main": [
        [
          {
            "node": "nao_existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe1": {
      "main": [
        [
          {
            "node": "pesquisa_closer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_closer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_agendamento": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_closer": {
      "main": [
        [
          {
            "node": "nao_existe3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_colaborador": {
      "main": [
        [
          {
            "node": "id_colaborador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe3": {
      "main": [
        [
          {
            "node": "insert_data_colaborador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_colaborador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_agendamento": {
      "main": [
        [
          {
            "node": "insert_utm_2_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_dia_dia_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_dia_dia_data_lake": {
      "main": [
        [
          {
            "node": "lead_ja_existia12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake1": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_dia_dia_data_lake1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_dia_dia_data_lake1": {
      "main": [
        [
          {
            "node": "lead_ja_existia1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia1": {
      "main": [
        [
          {
            "node": "nada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nada1": {
      "main": [
        [
          {
            "node": "envia_campo_motivo_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia4": {
      "main": [
        [
          {
            "node": "nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nada": {
      "main": [
        [
          {
            "node": "envia_campo_motivo_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake7": {
      "main": [
        [
          {
            "node": "envia_campo_motivo_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_utm_2_agendamento": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador1": {
      "main": [
        [
          {
            "node": "insert_data_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_closer2": {
      "main": [
        [
          {
            "node": "nao_existe7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_colaborador2": {
      "main": [
        [
          {
            "node": "id_colaborador2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_colaborador2": {
      "main": [
        [
          {
            "node": "id_colaborador3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe7": {
      "main": [
        [
          {
            "node": "insert_data_colaborador2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_colaborador2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador2": {
      "main": [
        [
          {
            "node": "update_data_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador3": {
      "main": [
        [
          {
            "node": "update_data_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia13": {
      "main": [
        [
          {
            "node": "update_data_data_lake14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake6": {
      "main": [
        [
          {
            "node": "envia_campo_motivo_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake11": {
      "main": [
        [
          {
            "node": "envia_campo_motivo_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake14": {
      "main": [
        [
          {
            "node": "envia_campo_motivo_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake15": {
      "main": [
        [
          {
            "node": "envia_campo_motivo_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_id_bd_botconversa": {
      "main": [
        [
          {
            "node": "envia_campo_data_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_motivo_do_cancelamento": {
      "main": [
        [
          {
            "node": "envia_campo_id_bd_botconversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato": {
      "main": [
        [
          {
            "node": "sessao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe": {
      "main": [
        [
          {
            "node": "insere_dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "telefone_preenchido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead1": {
      "main": [
        [
          {
            "node": "pesquisa_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead": {
      "main": [
        [
          {
            "node": "id_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual": {
      "main": [
        [
          {
            "node": "atualiza_dados1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido": {
      "main": [
        [
          {
            "node": "email_igual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido6": {
      "main": [
        [
          {
            "node": "email_igual8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual8": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email6": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone1": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_email": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_email2": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual2": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email2_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido2": {
      "main": [
        [
          {
            "node": "email_igual2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email7": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone4": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email2_telefone1": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_igual": {
      "main": [
        [
          {
            "node": "email_preenchido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_preenchido": {
      "main": [
        [
          {
            "node": "telefone_igual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead4": {
      "main": [
        [
          {
            "node": "pesquisa_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados1": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_deal": {
      "main": [
        [
          {
            "node": "atualiza_deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_deal": {
      "main": [
        [
          {
            "node": "atualizar_campos_deal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_deal_desqualif4": {
      "main": [
        [
          {
            "node": "atualizar_campos_deal8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe_deal": {
      "main": [
        [
          {
            "node": "cria_deal_desqualif1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "busca_deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_deal_desqualif1": {
      "main": [
        [
          {
            "node": "atualizar_campos_deal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead": {
      "main": [
        [
          {
            "node": "pesquisa_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_idleadac": {
      "main": [
        [
          {
            "node": "envia_campo_id_bd_iddealac",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_lead3": {
      "main": [
        [
          {
            "node": "atualizar_campos_deal9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_cancelou": {
      "main": [
        [
          {
            "node": "id_activecampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cadastrar_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_colaborador": {
      "main": [
        [
          {
            "node": "id_colaborador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador": {
      "main": [
        [
          {
            "node": "insert_data_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia12": {
      "main": [
        [
          {
            "node": "insert_data_data_lake10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake10": {
      "main": [
        [
          {
            "node": "envia_campo_motivo_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sessao": {
      "main": [
        [
          {
            "node": "pesquisa_lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_lead": {
      "main": [
        [
          {
            "node": "add_tag_cancelou1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_cancelou1": {
      "main": [
        [
          {
            "node": "id_activecampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_lead2": {
      "main": [
        [
          {
            "node": "add_tag_cancelou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe2": {
      "main": [
        [
          {
            "node": "insere_dados1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "telefone_preenchido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados1": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead1": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_deal1": {
      "main": [
        [
          {
            "node": "atualiza_deal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_deal1": {
      "main": [
        [
          {
            "node": "atualizar_campos_deal2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_deal_desqualif": {
      "main": [
        [
          {
            "node": "atualizar_campos_deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_campos_deal": {
      "main": [
        [
          {
            "node": "insere_dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe_deal1": {
      "main": [
        [
          {
            "node": "cria_deal_desqualif2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "busca_deal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_deal_desqualif2": {
      "main": [
        [
          {
            "node": "atualizar_campos_deal2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead": {
      "main": [
        [
          {
            "node": "pesquisa_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual1": {
      "main": [
        [
          {
            "node": "atualiza_dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido1": {
      "main": [
        [
          {
            "node": "email_igual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido7": {
      "main": [
        [
          {
            "node": "email_igual9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual9": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email1": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email8": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_email1": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_email3": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual3": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email2_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido3": {
      "main": [
        [
          {
            "node": "email_igual3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email9": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone5": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email2_telefone": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_igual1": {
      "main": [
        [
          {
            "node": "email_preenchido1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_preenchido1": {
      "main": [
        [
          {
            "node": "telefone_igual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sessao1": {
      "main": [
        [
          {
            "node": "nao_existe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nao_existe2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_data_do_cancelamento": {
      "main": [
        [
          {
            "node": "fluxo_confirmacao_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_contato_clint": {
      "main": [
        [
          {
            "node": "é_Funil_SS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_negocio_clint": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entra_na_fila": {
      "main": [
        [
          {
            "node": "cadastrar_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "lead_ja_existia4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aguarda_5s": {
      "main": [
        [
          {
            "node": "Preenche Planilha de Agendamentos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preenche Planilha de Agendamentos2": {
      "main": [
        [
          {
            "node": "aguarda_5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3-3": {
      "main": [
        [
          {
            "node": "atualiza_negocio_clint-SS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é_Funil_SS1": {
      "main": [
        [
          {
            "node": "3-3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "é_ISCA_de_Baleia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_negocio_clint-SS1": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3-2": {
      "main": [
        [
          {
            "node": "atualiza_negocio_clint1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é_ISCA_de_Baleia": {
      "main": [
        [
          {
            "node": "3-2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "é_ISCA_email_marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_negocio_clint1": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead2": {
      "main": [
        [
          {
            "node": "sessao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é_ISCA_email_marketing": {
      "main": [
        [
          {
            "node": "3-4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3-4": {
      "main": [
        [
          {
            "node": "atualiza_negocio_clint2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_negocio_clint2": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-14T15:25:57.573Z",
  "id": "BOASBO27jfsrdyYo",
  "meta": null,
  "name": "⌚[FABRÍCIO NUNNES][BD][SE] - Calendly - Cancelamento",
  "nodes": [
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "33286455-c21e-4297-9c50-cf8599e12dcb",
      "name": "3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5220,
        1420
      ],
      "webhookId": "913baeed-133b-4d1d-8524-24fdef83c563"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $json[\"id_lead\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "5bffb940-d6f6-4ee9-98ea-2806b08cbaf3",
      "name": "pesquisa_lead3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4540,
        900
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "where": {
          "values": [
            {
              "column": "id_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "7c3537d0-7978-4f52-86bb-66e23fd72a07",
      "name": "pesquisa_agendamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5640,
        900
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_agendamento\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "83c557b2-cf4e-45c4-9e06-1fdbe6b493be",
      "name": "nao_existe1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5820,
        900
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_agendamento",
        "valueToMatchOn": "={{ $node[\"pesquisa_agendamento\"].json[\"id_agendamento\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "status_evento",
              "value": "=Cancelado"
            },
            {
              "column": "data_cancelamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"] }}"
            },
            {
              "column": "motivo_cancelamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Motivo do Cancelamento\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "3e36895a-de37-4e9f-9b3d-00b67da9867d",
      "name": "update_data_agendamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6720,
        1020
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "deea1412-5921-40d5-8079-072d7d107341",
      "name": "pesquisa_closer",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6020,
        780
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_colaborador",
        "valueToMatchOn": "={{ $node[\"pesquisa_closer\"].json[\"id_colaborador\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Responsável\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "75f6793a-8862-4cb1-a4bc-7c47df1a7571",
      "name": "update_data_colaborador",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6340,
        840
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_closer\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "723422ff-6e61-4702-ad0b-f450fa16d668",
      "name": "nao_existe3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6180,
        780
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            },
            {
              "column": "id_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"id_lead\"] }}"
            },
            {
              "column": "status_evento",
              "value": "Cancelado"
            },
            {
              "column": "data_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}"
            },
            {
              "column": "hora_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Hora de Início\"] }}"
            },
            {
              "column": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "column": "servico",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            },
            {
              "column": "dia_da_semana_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana do Evento\"] }}"
            },
            {
              "column": "data_cancelamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"] }}"
            },
            {
              "column": "motivo_cancelamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Motivo do Cancelamento\"] }}"
            },
            {
              "column": "id_responsavel",
              "value": "={{ $json[\"id_colaborador\"] }}"
            },
            {
              "column": "data_agendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "98eb3f56-a77e-4ef9-b32d-9235d350648b",
      "name": "insert_data_agendamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6840,
        780
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"].split(' ')[0] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "ad2b2caa-1b1e-43eb-b9b2-1a7c4724d768",
      "name": "pesquisa_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7220,
        780
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "b2a6739f-b1d7-4d05-955d-07c1d9fd6c36",
      "name": "nao_encontrou_registro_dia_dia_data_lake",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7460,
        780
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"].split(' ')[0] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "345f3bea-571c-4f42-b159-fb4ed361d2b1",
      "name": "pesquisa_data_data_lake1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6920,
        1020
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "b2c7b9ce-3615-47fc-860e-80f7cd3d0d78",
      "name": "nao_encontrou_registro_dia_dia_data_lake1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7120,
        1020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "cba5eb49-ecae-4af1-816d-90d6fcfe14a5",
      "name": "lead_ja_existia1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7440,
        1340
      ]
    },
    {
      "parameters": {},
      "id": "645a4353-d582-4a51-94d7-32451b76e949",
      "name": "nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7640,
        1240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "119a4b32-f712-496b-b755-799c9b2e79f2",
      "name": "lead_ja_existia4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7420,
        1620
      ]
    },
    {
      "parameters": {},
      "id": "9979b113-0dba-4c54-b39a-ec80819733ee",
      "name": "nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7640,
        1540
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "1f769813-c83c-4b98-ae02-91c06de5fb16",
      "name": "update_data_data_lake7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7640,
        1740
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "agendamentos_2_utms",
          "mode": "list",
          "cachedResultName": "agendamentos_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_agendamento",
              "value": "={{ $node[\"insert_data_agendamento\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "6c9a8e15-62ee-4b2a-91a7-2365b9346dbe",
      "name": "insert_utm_2_agendamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7040,
        780
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"pesquisa_closer\"].json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e09892a8-e70c-446e-b599-2672d0c547d0",
      "name": "id_colaborador1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        6540,
        840
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "211f8df1-3036-4c1e-86de-43b62d4d45b2",
      "name": "pesquisa_closer2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6020,
        1100
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Responsável\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "8a6b7680-6385-4f52-898b-82b1f53578bb",
      "name": "insert_data_colaborador2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6360,
        1020
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_colaborador",
        "valueToMatchOn": "={{ $node[\"pesquisa_closer2\"].json[\"id_colaborador\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Responsável\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "5dc850c7-00b4-491a-bf07-b84ca06e5c5e",
      "name": "update_data_colaborador2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6360,
        1220
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_closer2\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "9d431ad8-e5f0-438a-b1f5-31b1faa1e3db",
      "name": "nao_existe7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6180,
        1100
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"insert_data_colaborador2\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "63d833e0-5921-4788-b0b4-71aaebd59b04",
      "name": "id_colaborador2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        6540,
        1020
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"pesquisa_closer2\"].json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d43c1f25-33a7-4230-99dd-90cfa6b3b4a8",
      "name": "id_colaborador3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        6540,
        1220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "c54da87b-8af9-4b40-874f-cf6d3ba2ac2a",
      "name": "lead_ja_existia13",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7720,
        1080
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"] }}"
            },
            {
              "column": "qtd_leads",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "bb0bd92d-1cf2-47d4-8252-26cd3932d8f8",
      "name": "insert_data_data_lake6",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7640,
        1380
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"] }}"
            },
            {
              "column": "qtd_agendamentos",
              "value": "=1"
            },
            {
              "column": "qtd_leads",
              "value": "1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "c4bc3b43-e13c-4d44-a7fd-8325490d67c4",
      "name": "insert_data_data_lake11",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7920,
        780
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_agendamentos",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_agendamentos\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "47fcb60b-8db5-4c86-8f3e-2e7d82096070",
      "name": "update_data_data_lake14",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7920,
        980
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_agendamentos",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_agendamentos\"] + 1 }}"
            },
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "27d25098-c46d-4d2e-925d-675c27bb04f2",
      "name": "update_data_data_lake15",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7920,
        1160
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7ea4d85d-e67c-4f04-bec9-c57b1617f797",
      "name": "envia_campo_id_bd_botconversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        8340,
        1700
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"cadastrar_contato\"].json[\"id\"]}}/send_flow/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"fluxo_de_confirmacao_de_cancelamento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6e096e43-9e34-4172-948a-83b798a9181e",
      "name": "fluxo_confirmacao_cancelamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        8740,
        1700
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_do_campo_motivo_do_cancelamento_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Motivo do Cancelamento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6e64cf3e-d2af-4781-9ccd-1cf696f7724c",
      "name": "envia_campo_motivo_do_cancelamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        8140,
        1700
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}."
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1260,
        1200
      ],
      "id": "70cc099b-6bbb-4286-bfa6-88fd198ce17f",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "9553cbf5-a0cf-4b7f-8e6e-1ac804914ef4",
      "name": "nao_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2480,
        1200
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "e86d60a9-06b6-465f-8b44-3da7d4773e87",
      "name": "insere_dados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3020,
        1020
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"insere_dados\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "7953a4ed-4068-4b07-bdf8-445b7c239bf7",
      "name": "id_lead1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3380,
        1020
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "5a6108c8-d0db-4157-a0f3-032aa227194c",
      "name": "insert_data_utm_lead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3200,
        1020
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "824ebe4f-f42e-49fe-b1b5-723a6f65210b",
      "name": "email_igual",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4000,
        1180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "12c7d2f0-93ff-46e0-99ac-f1db1e2edb9c",
      "name": "email_preenchido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3840,
        1260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "209a16b4-70f9-4e84-ace2-109733bebf07",
      "name": "email_preenchido6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3800,
        1740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "7b1e7635-5195-4cc8-a3c4-b756ff52e8c9",
      "name": "email_igual8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3960,
        1660
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "46635c54-12d2-474c-94cc-2104061102c0",
      "name": "atualiza_dados_email",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4200,
        1260
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "27039654-1a9d-407e-b705-149b1f089981",
      "name": "atualiza_dados_email6",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4140,
        1440
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "cbece252-bf2e-4499-b5f3-8b1b7a3fe596",
      "name": "atualiza_dados_telefone1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4140,
        1580
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "60f61b00-bccd-4cf1-9968-0409fbb4c433",
      "name": "atualiza_dados_telefone2_email",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4220,
        1760
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "0fe0c4ac-0ee5-4fc2-8298-3aef770fce4c",
      "name": "atualiza_dados_telefone2_email2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3980,
        1840
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "cf8f71e6-6d59-4ba8-b799-d2ade3768b1a",
      "name": "email_igual2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3860,
        2120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "81cd1c6f-ba9b-41f4-950c-0771f10b552f",
      "name": "email_preenchido2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3700,
        2200
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "244dfe82-a82b-4622-940e-30e5155a1cf4",
      "name": "atualiza_dados_email7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3860,
        2360
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "ee373d6c-0ebb-49f0-9970-8e60dd4631ac",
      "name": "atualiza_dados_telefone4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4060,
        2040
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "ce385044-a8c3-408b-bb9e-66b69b8d16b1",
      "name": "atualiza_dados_email2_telefone1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4060,
        2200
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"telefone\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        }
      },
      "id": "5a1a4547-4c26-48ca-a998-af123d998ac1",
      "name": "telefone_igual",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3660,
        1360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"telefone\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "5b78b577-b55d-474f-8d3b-4e0410b898cf",
      "name": "telefone_preenchido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3500,
        1440
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fb8e293b-c032-46bf-a048-59816ed03e30",
      "name": "id_lead4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4400,
        1260
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "d5355f42-ea27-4120-bc19-8ca8bfeebd19",
      "name": "atualiza_dados1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4200,
        1100
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "get",
        "dealId": "={{ $node[\"pesquisa_lead\"].json[\"id_deal_activecampaign\"] }}"
      },
      "id": "d0eeed02-ced7-4a39-af9e-a6de4d1bdfe2",
      "name": "busca_deal",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2740,
        1500
      ],
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "update",
        "dealId": "={{ $json.deal.id }}",
        "updateFields": {
          "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"valor_produto_principal_em_centavos\"] }}",
          "group": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_pipeline_se_ac\"] }}",
          "stage": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_stage_agendou_reuniao_se_ac\"] }}",
          "owner": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_sdr\"] }}"
        }
      },
      "id": "335b8860-1ca4-4b8d-a5b1-73b96312add7",
      "name": "atualiza_deal",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2900,
        1500
      ],
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "deal",
        "title": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "contact": "={{ $node[\"id_activecampaign\"].json[\"id\"] }}",
        "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"valor_produto_principal_em_centavos\"] }}",
        "currency": "brl",
        "group": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_pipeline_se_ac\"] }}",
        "stage": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_stage_agendou_reuniao_se_ac\"] }}",
        "owner": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_sdr\"] }}",
        "additionalFields": {}
      },
      "id": "82aea6fa-90b7-4666-8336-c83a091ee586",
      "name": "cria_deal_desqualif4",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2580,
        1020
      ],
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "activeCampaignApi",
        "requestMethod": "PUT",
        "url": "=https://{{ $node[\"entra_na_fila\"].json[\"content\"][\"url_api_activecampaign\"] }}.api-us1.com/api/3/deals/{{  $json[\"deal\"][\"id\"]  }}",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n\"deal\": {\n\"fields\": [\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_source_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_campaign_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_term_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_medium_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_content_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_dia_semana_agendamento_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana do Evento\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_fun_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_var_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_e_hora_de_termino_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"data_e_hora_de_termino\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_id_do_cliente_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_link_de_cancelamento_se_ac\"] }},\n\"fieldValue\": \"https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_link_de_reagendamento_se_ac\"] }},\n\"fieldValue\": \"https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_tipo_de_evento_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_link_da_reuniao_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_de_termino_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"data_termino_ac\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_email_do_responsavel_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_do_agendamento_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_e_hora_de_inicio_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"data_e_hora_de_inicio\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_de_inicio_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_id_do_evento_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}\"\n}\n]\n}\n}"
      },
      "name": "atualizar_campos_deal8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2740,
        1020
      ],
      "id": "3a6f98b9-900f-4a6b-91e8-fec159515aeb",
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"id_deal_activecampaign\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "94ffe06c-63aa-4637-820b-f5f3918c2398",
      "name": "nao_existe_deal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2600,
        1400
      ]
    },
    {
      "parameters": {
        "resource": "deal",
        "title": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "contact": "={{ $node[\"id_activecampaign\"].json[\"id\"] }}",
        "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"valor_produto_principal_em_centavos\"] }}",
        "currency": "brl",
        "group": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_pipeline_se_ac\"] }}",
        "stage": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_stage_agendou_reuniao_se_ac\"] }}",
        "owner": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_sdr\"] }}",
        "additionalFields": {}
      },
      "id": "a36920b3-1b52-44fa-92e2-9843910e2050",
      "name": "cria_deal_desqualif1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2740,
        1340
      ],
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "e0222b63-88c4-49c4-a6c4-497a4e61e65b",
      "name": "pesquisa_lead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1960,
        1200
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_idleadac_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"id_lead_activecampaign\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "19bc8a9d-0e92-4493-a814-e000bc643dab",
      "name": "envia_campo_idleadac",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        8540,
        1280
      ],
      "retryOnFail": true,
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_iddealac_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"id_deal_activecampaign\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c574a45e-1419-4003-ac13-ae0c22af146e",
      "name": "envia_campo_id_bd_iddealac",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        8740,
        1280
      ],
      "retryOnFail": true,
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "email": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "43",
                "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
              },
              {
                "field": "106",
                "value": "={{ $node[\"pesquisa_lead3\"].json[\"id_lead\"] }}"
              }
            ]
          },
          "firstName": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \")[0] }}",
          "lastName": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}",
          "phone": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
        }
      },
      "id": "c7bc4f1a-21d5-4a70-8567-c96f5a634da0",
      "name": "cria_lead3",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        9140,
        1280
      ],
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "activeCampaignApi",
        "requestMethod": "PUT",
        "url": "=https://{{ $node[\"entra_na_fila\"].json[\"content\"][\"url_api_activecampaign\"] }}.api-us1.com/api/3/deals/{{ $node[\"pesquisa_lead3\"].json[\"id_deal_activecampaign\"] }}",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n\"deal\": {\n\"fields\": [\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_ac\"] }},\n\"fieldValue\": \"{{ $node[\"pesquisa_lead3\"].json[\"id_lead\"] }}\"\n}\n]\n}\n}"
      },
      "name": "atualizar_campos_deal9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        9340,
        1280
      ],
      "id": "b212faf0-d7ef-491b-b1ad-abec94f8273b",
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "155",
        "contactId": "={{ $node[\"cria_lead2\"].json[\"id\"] }}"
      },
      "id": "3d463825-6820-479d-aa67-e4be32eea6c3",
      "name": "add_tag_cancelou",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1840,
        1460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "17af582e-8b56-4b26-a1fc-f154cd46be70",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1260,
        1020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"fields\"][\"redelivered\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "150bc161-4625-49c9-819e-1c70972afc76",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        1200
      ]
    },
    {
      "parameters": {
        "queue": "Calendly - Cancelamentos",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": true,
          "parallelMessages": 3
        }
      },
      "id": "f9522990-9097-4e0e-bcf4-01449089bd21",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        860,
        1200
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Responsável\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "bae4edc9-5bef-4dcd-8b72-49aa5a01ff0e",
      "name": "insert_data_colaborador",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6340,
        660
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"insert_data_colaborador\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "240e9263-3643-46d8-93bb-41327741ff99",
      "name": "id_colaborador",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        6540,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "d8b9429d-1417-445d-8fbf-3e17d06847e8",
      "name": "lead_ja_existia12",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7700,
        680
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"] }}"
            },
            {
              "column": "qtd_agendamentos",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "b02af00a-671b-43d3-b98f-852b75674d17",
      "name": "insert_data_data_lake10",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7920,
        580
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000&search={{ $node[\"Set\"].json[\"tag_procurada\"] }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1860,
        680
      ],
      "id": "3a2bbada-ecc4-4961-a641-8a82c8d92946"
    },
    {
      "parameters": {
        "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs dos Campos e Tags no ActiveCampaign",
        "height": 407.6377565498652,
        "width": 747.0856205721786
      },
      "id": "08aa41c9-6ea8-482d-ba27-ea193edb7496",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        520
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1660,
        680
      ],
      "id": "c56a7f8c-0cd1-4d98-b1f3-a9dc4bc25fea"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "f855a9327a9219d27bf8713569e0f7e926110f6bbe180b11ad6c3a9bdb922fd7f05402c9"
            },
            {
              "name": "url_api_activecampaign",
              "value": "futureminds14016"
            },
            {
              "name": "tag_procurada",
              "value": "cancelou"
            }
          ]
        },
        "options": {}
      },
      "id": "cd647a9d-9000-46a4-8fbb-c3c2d868f4a0",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1460,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "value2": "sessao-estrategica"
            },
            {
              "value1": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "operation": "contains",
              "value2": "Sessão Estratégica Comercial"
            },
            {
              "value1": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "value2": "Sessão Estratégica Head Comercial"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "0c435aae-6c68-413b-a1f4-0f22a7de5781",
      "name": "sessao",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1460,
        1200
      ]
    },
    {
      "parameters": {
        "email": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "66",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"].split(' ')[0] }}"
              },
              {
                "field": "62",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}"
              },
              {
                "field": "63",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_e_hora_de_inicio\"] }}"
              },
              {
                "field": "64",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_termino_ac\"] }}"
              },
              {
                "field": "65",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_e_hora_de_termino\"] }}"
              },
              {
                "field": "59",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
              },
              {
                "field": "67",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana do Evento\"] }}"
              },
              {
                "field": "77",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
              },
              {
                "field": "78",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
              },
              {
                "field": "79",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
              },
              {
                "field": "80",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
              },
              {
                "field": "81",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
              },
              {
                "field": "69",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              },
              {
                "field": "68",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
              },
              {
                "field": "107",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
              },
              {
                "field": "108",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
              },
              {
                "field": "109",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
              },
              {
                "field": "71",
                "value": "=https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              },
              {
                "field": "70",
                "value": "=https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              },
              {
                "field": "61",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
              },
              {
                "field": "60",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Responsável\"] }}"
              }
            ]
          },
          "firstName": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}",
          "lastName": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}",
          "phone": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
        }
      },
      "id": "5c7d08de-f56b-4016-a253-cb9de2c0ea63",
      "name": "cria_lead",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1680,
        1640
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "155",
        "contactId": "={{ $node[\"cria_lead\"].json[\"id\"] }}"
      },
      "id": "10bf46c7-fd40-472c-b169-518cb9809fd3",
      "name": "add_tag_cancelou1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1840,
        1640
      ],
      "disabled": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json[\"contact\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b67039b0-1fd9-4909-a86b-aba7a21c4af1",
      "name": "id_activecampaign",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2000,
        1460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "email": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "66",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"].split(' ')[0] }}"
              },
              {
                "field": "62",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}"
              },
              {
                "field": "63",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_e_hora_de_inicio\"] }}"
              },
              {
                "field": "64",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_termino_ac\"] }}"
              },
              {
                "field": "65",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_e_hora_de_termino\"] }}"
              },
              {
                "field": "59",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
              },
              {
                "field": "67",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana do Evento\"] }}"
              },
              {
                "field": "77",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
              },
              {
                "field": "78",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
              },
              {
                "field": "79",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
              },
              {
                "field": "80",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
              },
              {
                "field": "81",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
              },
              {
                "field": "69",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              },
              {
                "field": "68",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
              },
              {
                "field": "107",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
              },
              {
                "field": "108",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
              },
              {
                "field": "109",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
              },
              {
                "field": "71",
                "value": "=https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              },
              {
                "field": "70",
                "value": "=https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              },
              {
                "field": "61",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
              },
              {
                "field": "60",
                "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Responsável\"] }}"
              }
            ]
          },
          "firstName": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}",
          "lastName": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}",
          "phone": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
        }
      },
      "id": "c8a77025-ffb6-4db4-b69e-b255f0d675f3",
      "name": "cria_lead2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1680,
        1460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "activeCampaignApi",
        "requestMethod": "PUT",
        "url": "=https://{{ $node[\"entra_na_fila\"].json[\"content\"][\"url_api_activecampaign\"] }}.api-us1.com/api/3/deals/{{  $json[\"deal\"][\"id\"]  }}",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n\"deal\": {\n\"fields\": [\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_source_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_campaign_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_term_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_medium_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_content_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_dia_semana_agendamento_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana do Evento\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_fun_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_var_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_e_hora_de_termino_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"data_e_hora_de_termino\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_id_do_cliente_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_link_de_cancelamento_se_ac\"] }},\n\"fieldValue\": \"https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_link_de_reagendamento_se_ac\"] }},\n\"fieldValue\": \"https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_tipo_de_evento_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_link_da_reuniao_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_de_termino_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"data_termino_ac\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_email_do_responsavel_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_do_agendamento_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_e_hora_de_inicio_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"data_e_hora_de_inicio\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_de_inicio_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_id_do_evento_se_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}\"\n}\n]\n}\n}"
      },
      "name": "atualizar_campos_deal1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3240,
        1420
      ],
      "id": "6da56ef2-5a86-4d4f-884c-9936ef16e082",
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "aa335796-d1f5-4337-bf04-7a7cf68ef346",
      "name": "nao_existe2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2480,
        1960
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "548fd6f4-a733-40c0-9e41-bf2bfcd6412a",
      "name": "insere_dados1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3020,
        1760
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "d3f8912e-28cd-423f-b2bd-7ef5f4093916",
      "name": "insert_data_utm_lead1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3200,
        1760
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "get",
        "dealId": "={{ $node[\"pesquisa_lead\"].json[\"id_deal_activecampaign\"] }}"
      },
      "id": "9a0f4900-9dee-4316-9c11-10076891676b",
      "name": "busca_deal1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        3040,
        2160
      ],
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "update",
        "dealId": "={{ $json.deal.id }}",
        "updateFields": {
          "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"valor_produto_principal_em_centavos\"] }}",
          "group": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_pipeline_app_ac\"] }}",
          "stage": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_stage_agendou_reuniao_app_ac\"] }}",
          "owner": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_sdr\"] }}"
        }
      },
      "id": "26ac2e4a-5a1d-476e-a047-3319cea8d3a4",
      "name": "atualiza_deal1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        3260,
        2160
      ],
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "deal",
        "title": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "contact": "={{ $node[\"id_activecampaign\"].json[\"id\"] }}",
        "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"valor_produto_principal_em_centavos\"] }}",
        "currency": "brl",
        "group": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_pipeline_app_ac\"] }}",
        "stage": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_stage_agendou_reuniao_app_ac\"] }}",
        "owner": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_sdr\"] }}",
        "additionalFields": {}
      },
      "id": "00619eed-5d59-4cce-aece-94fe97ebf172",
      "name": "cria_deal_desqualif",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2640,
        1760
      ],
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "activeCampaignApi",
        "requestMethod": "PUT",
        "url": "=https://{{ $node[\"entra_na_fila\"].json[\"content\"][\"url_api_activecampaign\"] }}.api-us1.com/api/3/deals/{{  $json[\"deal\"][\"id\"]  }}",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n\"deal\": {\n\"fields\": [\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_source_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_campaign_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_term_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_medium_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_content_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_dia_semana_agendamento_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana do Evento\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_fun_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_var_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_e_hora_de_termino_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"data_e_hora_de_termino\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_id_do_cliente_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_link_de_cancelamento_app_ac\"] }},\n\"fieldValue\": \"https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_link_de_reagendamento_app_ac\"] }},\n\"fieldValue\": \"https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_tipo_de_evento_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_link_da_reuniao_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_de_termino_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"data_termino_ac\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_email_do_responsavel_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_do_agendamento_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_e_hora_de_inicio_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"data_e_hora_de_inicio\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_de_inicio_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_id_do_evento_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}\"\n}\n]\n}\n}"
      },
      "name": "atualizar_campos_deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2820,
        1760
      ],
      "id": "544d1d1a-8f1b-4a4e-a112-e3c0a2a44c2f",
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"id_deal_activecampaign\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "81802f5f-fe37-4c81-a309-f78b7de4a37b",
      "name": "nao_existe_deal1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2860,
        2080
      ]
    },
    {
      "parameters": {
        "resource": "deal",
        "title": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "contact": "={{ $node[\"id_activecampaign\"].json[\"id\"] }}",
        "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"valor_produto_principal_em_centavos\"] }}",
        "currency": "brl",
        "group": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_pipeline_app_ac\"] }}",
        "stage": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_stage_agendou_reuniao_app_ac\"] }}",
        "owner": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"id_sdr\"] }}",
        "additionalFields": {}
      },
      "id": "6cf3d9a1-90f7-493e-b379-8eaf7a7ddf91",
      "name": "cria_deal_desqualif2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        3040,
        1980
      ],
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "activeCampaignApi",
        "requestMethod": "PUT",
        "url": "=https://{{ $node[\"entra_na_fila\"].json[\"content\"][\"url_api_activecampaign\"] }}.api-us1.com/api/3/deals/{{  $json[\"deal\"][\"id\"]  }}",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n\"deal\": {\n\"fields\": [\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_source_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_campaign_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_term_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_medium_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_content_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_dia_semana_agendamento_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana do Evento\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_fun_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_utm_var_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_e_hora_de_termino_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"data_e_hora_de_termino\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_id_do_cliente_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_link_de_cancelamento_app_ac\"] }},\n\"fieldValue\": \"https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_link_de_reagendamento_app_ac\"] }},\n\"fieldValue\": \"https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_tipo_de_evento_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_link_da_reuniao_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_de_termino_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"data_termino_ac\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_email_do_responsavel_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_do_agendamento_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_e_hora_de_inicio_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"data_e_hora_de_inicio\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_de_inicio_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_id_do_evento_app_ac\"] }},\n\"fieldValue\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}\"\n}\n]\n}\n}"
      },
      "name": "atualizar_campos_deal2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3460,
        2080
      ],
      "id": "398a784a-7b79-44c0-a055-d34bbfafce31",
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "5bf45766-245d-47dd-8a72-5bb3e01ae36a",
      "name": "id_lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3380,
        1760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "13c457fa-b655-4175-8705-f58e38761961",
      "name": "email_igual1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3920,
        2600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "70851541-53fc-4829-9af0-42ea549fee29",
      "name": "email_preenchido1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3760,
        2680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "5937b62a-4110-45b0-bb37-b87b27a8a8fd",
      "name": "email_preenchido7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3740,
        3160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "cffe162d-feef-4bd0-a241-d5d1af620f0f",
      "name": "email_igual9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3940,
        3080
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "4b406d09-0f03-4e56-84dc-70101665e1a9",
      "name": "atualiza_dados_email1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4120,
        2680
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "00304c2f-a89d-4ed5-ba46-cb8972671ae0",
      "name": "atualiza_dados_email8",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3920,
        2860
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "890d2a14-30fc-46b3-b230-23d914021337",
      "name": "atualiza_dados_telefone",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4140,
        3000
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "c2267e77-d959-489c-8c37-2f4bf9cbd178",
      "name": "atualiza_dados_telefone2_email1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4140,
        3180
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "0c06d460-927c-4e12-8afc-223c7791bdc5",
      "name": "atualiza_dados_telefone2_email3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3940,
        3300
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "07a4d5d2-f10c-4ad6-8bca-224eab18ff75",
      "name": "email_igual3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3780,
        3540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "6cdd385e-29c1-4833-a1fa-90ccf7e61ecb",
      "name": "email_preenchido3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3620,
        3620
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "f173dc21-c33c-4184-a810-0c2f6363e08b",
      "name": "atualiza_dados_email9",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3780,
        3780
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "1e8038f2-3762-452d-8497-531896af5f8f",
      "name": "atualiza_dados_telefone5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3980,
        3460
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "aa95f55b-863f-4a71-935b-ba4364c7ab51",
      "name": "atualiza_dados_email2_telefone",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3980,
        3620
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"telefone\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        }
      },
      "id": "b23317e5-86fd-41de-8616-f30a0bd6fe59",
      "name": "telefone_igual1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3580,
        2780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"telefone\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "8627626a-554e-4fb5-8070-f476a5612f64",
      "name": "telefone_preenchido1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3420,
        2860
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "263e2359-4a74-4654-97cf-a82aada00483",
      "name": "atualiza_dados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4120,
        2520
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "value2": "sessao-estrategica"
            },
            {
              "value1": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "value2": "Sessão Estratégica Comercial"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "51e6ddc3-135e-4c6d-9c9c-ab6d1b2fbed2",
      "name": "sessao1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2300,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_cancelamento_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"].split('-')[2] }}/{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"].split('-')[1] }}/{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"].split('-')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "06ead468-521d-4c15-8bed-b60ea63e96da",
      "name": "envia_campo_data_do_cancelamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        8540,
        1700
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/a2bc35fe-d345-4fa3-b553-7b2476cea463",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "etapa_funil",
              "value": "Pré-qualificação"
            },
            {
              "name": "dono_negocio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            },
            {
              "name": "reunião",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}"
            },
            {
              "name": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "name": "link_cancelamento",
              "value": "=https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "link_reagendamento",
              "value": "=https://calendly.com/reschedullings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "etapa_funil",
              "value": "3"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "closer",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"].replace('silas.moraes@universidadevendas.com.br','Silas Moraes').replace('fabricio@universidadevendas.com.br','Fabricio Nunes').replace('closer1@universidadevendas.com.br','Jonatã Almeida').replace('closer1@universidadevendas.com.br','Jonatã Almeida').replace('leonardo.barroso@universidadevendas.com.br','Leonardo Barroso').replace('mayra.santos@universidadevendas.com.br','Mayra Santos') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3e19483b-e02f-403b-ba4c-906e6b8a8a28",
      "name": "create/update_negocio_clint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5400,
        1420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/14e33fc1-94ba-44b7-9360-b4e03f6a9b2f",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "988c28f0-3332-4cce-9543-0733fc9e1616",
      "name": "create/update_contato_clint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4720,
        900
      ]
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "id": "636a6624-1a74-4137-8ddc-a3f60bb998f6",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        7280,
        1420
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1aw5PK4ebPb9ZPpeh_6SuowrM1v8yv-e4UmxESBC5Y4M",
          "mode": "list",
          "cachedResultName": "[Fabrício] [HT] | Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aw5PK4ebPb9ZPpeh_6SuowrM1v8yv-e4UmxESBC5Y4M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 938588697,
          "mode": "list",
          "cachedResultName": "Relatório de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aw5PK4ebPb9ZPpeh_6SuowrM1v8yv-e4UmxESBC5Y4M/edit#gid=938588697"
        },
        "columnToMatchOn": "EMAIL",
        "valueToMatchOn": "={{ $node.entra_na_fila.json.content[\"E-mail do Cliente\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "NOME",
              "fieldValue": "={{ $node.entra_na_fila.json.content[\"Nome do Cliente\"] }}"
            },
            {
              "column": "TELEFONE",
              "fieldValue": "={{ $node.entra_na_fila.json.content[\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "AGENDOU?",
              "fieldValue": "=Cancelado"
            },
            {
              "column": "ÚLTIMA ETAPA NA CLINT",
              "fieldValue": "Reunião"
            },
            {
              "column": "DATA DO ÚLTIMO EVENTO",
              "fieldValue": "={{$now.toFormat('dd/MM/yyyy HH:mm')}}"
            },
            {
              "column": "POSSUI TAG SDR NO BOTCONVERSA?",
              "fieldValue": "={{$node[\"cadastrar_contato\"].json[\"tags\"].includes(\"LAIANE\") ? \"Sim\" : \"Não\"}}"
            },
            {
              "column": "CLOSER ATUAL",
              "fieldValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"].replace('closer1@universidadevendas.com.br','Jonatã dos Santos Almeida').replace('closer2@universidadevendas.com.br','Gabriel Borges').replace('fabricio@universidadevendas.com.br','Fabrício Augusto Nunes Oliveira').replace('sunamita.freitas@universidadevendas.com.br','Sunamita Freitas').replace('laiane@universidadevendas.com.br','SDR') }}"
            },
            {
              "column": "DATA DE ENTRADA (CADASTRO NO BC",
              "fieldValue": "={{ $node[\"cadastrar_contato\"].json[\"created_at\"].slice(8,10) }}/{{ $node[\"cadastrar_contato\"].json[\"created_at\"].slice(5,7) }}/{{ $node[\"cadastrar_contato\"].json[\"created_at\"].slice(0,4) }} {{ $node[\"cadastrar_contato\"].json[\"created_at\"].slice(11,16) }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "8205114d-f0fa-43b4-89c2-f959ba428d71",
      "name": "Preenche Planilha de Agendamentos1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        9340,
        1700
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9VMJ3bREWTIIbmTh",
          "name": "[Google Sheets] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "9c727ed8-573a-410a-93f8-b895f1732725",
      "name": "aguarda_5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        9140,
        1700
      ],
      "webhookId": "d38e048b-de8b-4b6f-867f-e74f2b064d5e"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1aw5PK4ebPb9ZPpeh_6SuowrM1v8yv-e4UmxESBC5Y4M",
          "mode": "list",
          "cachedResultName": "[Fabrício] [HT] | Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aw5PK4ebPb9ZPpeh_6SuowrM1v8yv-e4UmxESBC5Y4M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Agendamentos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aw5PK4ebPb9ZPpeh_6SuowrM1v8yv-e4UmxESBC5Y4M/edit#gid=0"
        },
        "columnToMatchOn": "ID DO EVENTO",
        "valueToMatchOn": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "DATA DE INÍCIO",
              "fieldValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].slice(8,10) }}/{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].slice(5,7) }}/{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].slice(0,4) }} "
            },
            {
              "column": "HORA DE INÍCIO",
              "fieldValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Hora de Início\"].slice(0,5) }}"
            },
            {
              "column": "NOME DO CLIENTE",
              "fieldValue": "={{ $node.entra_na_fila.json.content[\"Nome do Cliente\"] }}"
            },
            {
              "column": "EMAIL",
              "fieldValue": "={{ $node.entra_na_fila.json.content[\"E-mail do Cliente\"] }}"
            },
            {
              "column": "TELEFONE DO CLIENTE",
              "fieldValue": "={{ $node.entra_na_fila.json.content[\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "LINK DA REUNIÃO",
              "fieldValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "column": "NOME DO RESPONSÁVEL",
              "fieldValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Responsável\"] }}"
            },
            {
              "column": "E-MAIL DO RESPONSÁVEL",
              "fieldValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            },
            {
              "column": "DATA DO CANCELAMENTO",
              "fieldValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Cancelamento\"] }}"
            },
            {
              "column": "DATA DE TÉRMINO",
              "fieldValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_e_hora_de_termino\"].slice(0,10) }}"
            },
            {
              "column": "DIA DA SEMANA DO EVENTO",
              "fieldValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana do Evento\"] }}"
            },
            {
              "column": "UTM_SOURCE",
              "fieldValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "UTM_CAMPAIGN",
              "fieldValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "UTM_TERM",
              "fieldValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "UTM_MEDIUM",
              "fieldValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "UTM_CONTENT",
              "fieldValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "ID DO CLIENTE",
              "fieldValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "column": "STATUS DO EVENTO",
              "fieldValue": "Cancelado"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "9ec4ffc9-3a75-4e76-bf83-3b69aa368119",
      "name": "Preenche Planilha de Agendamentos2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        8940,
        1700
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9VMJ3bREWTIIbmTh",
          "name": "[Google Sheets] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "a9a036e5-b183-44b6-85a3-9f1efd9882eb",
      "name": "3-3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5220,
        800
      ],
      "webhookId": "913baeed-133b-4d1d-8524-24fdef83c563"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "7a91e12d-29cb-4fdd-99a7-88b0ee99c735",
              "leftValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "rightValue": "Sessão Estratégica Comercial - Funil SS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2d16f737-0941-4c1e-82ad-c1ea789dd359",
      "name": "é_Funil_SS1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4880,
        900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/1bca3b38-495c-43f4-ba79-b14db77457f2",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "dono_negocio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            },
            {
              "name": "reunião",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}"
            },
            {
              "name": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "name": "link_cancelamento",
              "value": "=https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "link_reagendamento",
              "value": "=https://calendly.com/reschedullings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "pais",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"pais\"] }}"
            },
            {
              "name": "data_de_inicio_portugal",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início - PT\"] }}"
            },
            {
              "name": "data_de_termino_portugal",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Término - PT\"] }}"
            },
            {
              "name": "closer",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"].replace('silas.moraes@universidadevendas.com.br','Silas Moraes').replace('fabricio@universidadevendas.com.br','Fabricio Nunes').replace('closer1@universidadevendas.com.br','Jonatã Almeida').replace('closer1@universidadevendas.com.br','Jonatã Almeida').replace('leonardo.barroso@universidadevendas.com.br','Leonardo Barroso').replace('mayra.santos@universidadevendas.com.br','Mayra Santos') }}"
            },
            {
              "name": "etapa_funil",
              "value": "3"
            },
            {
              "name": "etapa_funil",
              "value": "Pré-qualificação"
            }
          ]
        },
        "options": {}
      },
      "id": "46f8a4b2-bcbe-4134-b463-cb36c4b5facd",
      "name": "atualiza_negocio_clint-SS1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5380,
        800
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "1f265b0a-a3df-40fa-8c99-13e008df063d",
      "name": "3-2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5220,
        1000
      ],
      "webhookId": "913baeed-133b-4d1d-8524-24fdef83c563"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/6a5690aa-a379-4d2d-9227-3e1befeee3fa",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "dono_negocio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            },
            {
              "name": "reunião",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}"
            },
            {
              "name": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "name": "link_cancelamento",
              "value": "=https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "link_reagendamento",
              "value": "=https://calendly.com/reschedullings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "pais",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"pais\"] }}"
            },
            {
              "name": "data_de_inicio_portugal",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início - PT\"] }}"
            },
            {
              "name": "data_de_termino_portugal",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Término - PT\"] }}"
            },
            {
              "name": "closer",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"].replace('silas.moraes@universidadevendas.com.br','Silas Moraes').replace('fabricio@universidadevendas.com.br','Fabricio Nunes').replace('closer1@universidadevendas.com.br','Jonatã Almeida').replace('closer1@universidadevendas.com.br','Jonatã Almeida').replace('leonardo.barroso@universidadevendas.com.br','Leonardo Barroso').replace('mayra.santos@universidadevendas.com.br','Mayra Santos') }}"
            },
            {
              "name": "etapa_funil",
              "value": "3"
            },
            {
              "name": "etapa_funil",
              "value": "Pré-qualificação"
            }
          ]
        },
        "options": {}
      },
      "id": "3f825b96-2336-410a-9de9-c6bfb0d1940c",
      "name": "atualiza_negocio_clint1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5400,
        1000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "7a91e12d-29cb-4fdd-99a7-88b0ee99c735",
              "leftValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "rightValue": "Sessão Estratégica Comercial - Funil Isca de Baleia",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4e3f704f-080b-43d5-913f-2f3cfdd341bc",
      "name": "é_ISCA_de_Baleia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5000,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "cb394ce8-4fba-40b8-80a5-8e47d1b72835",
      "name": "pesquisa_lead2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        2120,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/b734e07b-0a4f-4ed0-ae60-fcb82ab3d49c",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "dono_negocio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            },
            {
              "name": "reunião",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}"
            },
            {
              "name": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "name": "link_cancelamento",
              "value": "=https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "link_reagendamento",
              "value": "=https://calendly.com/reschedullings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "pais",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"pais\"] }}"
            },
            {
              "name": "data_de_inicio_portugal",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início - PT\"] }}"
            },
            {
              "name": "data_de_termino_portugal",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Término - PT\"] }}"
            },
            {
              "name": "closer",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"].replace('silas.moraes@universidadevendas.com.br','Silas Moraes').replace('fabricio@universidadevendas.com.br','Fabricio Nunes').replace('closer1@universidadevendas.com.br','Jonatã Almeida').replace('closer1@universidadevendas.com.br','Jonatã Almeida').replace('leonardo.barroso@universidadevendas.com.br','Leonardo Barroso').replace('mayra.santos@universidadevendas.com.br','Mayra Santos') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9bf06e55-43fd-41d3-bb96-a5b4d717b151",
      "name": "atualiza_negocio_clint2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5400,
        1220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "7a91e12d-29cb-4fdd-99a7-88b0ee99c735",
              "leftValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "rightValue": "Sessão Estratégica Comercial - E-mail Marketing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "182c83ac-198d-4119-bf35-60f65bf22893",
      "name": "é_ISCA_email_marketing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5020,
        1240
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "9f60e1b5-ac89-4987-82f9-e9f79ce7618a",
      "name": "3-4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5220,
        1220
      ],
      "webhookId": "913baeed-133b-4d1d-8524-24fdef83c563"
    }
  ],
  "pinData": {
    "entra_na_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-j6mc8iTlGOQJQ1EOZHsDCg",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Calendly - Cancelamentos"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "Nome do Cliente": "Vitor Queiroz",
            "E-mail do Cliente": "vitorrqueiroztrafego@gmail.com",
            "Telefone do Cliente - Formato BC": "+5519984574874",
            "Telefone do Cliente - Formato Z-API": "5519984574874",
            "ID do Evento": "09fc61e9-d133-468d-9b83-2b8032dd4532",
            "Data do Cancelamento": "2023-11-08",
            "ID do Cliente": "a67f300d-8a83-4d57-8d54-47c22bf927c8",
            "API-KEY": "a9585685-a8d4-4f70-be7c-44c8dedf905f",
            "id_do_campo_id_do_agendamento_bot_conversa": "1045673",
            "id_do_campo_inviteeid_bot_conversa": "1045675",
            "id_do_campo_horario_agendado_bot_conversa": "1045669",
            "id_do_campo_data_do_agendamento_bot_conversa": "1045668",
            "id_do_campo_dia_da_semana_do_agendamento_bot_conversa": "1045528",
            "fluxo_de_confirmacao_de_cancelamento": "1769093",
            "id_do_campo_motivo_do_cancelamento_bot_conversa": "1045683",
            "Motivo do Cancelamento": "",
            "Data de Início": "2023-11-09",
            "Hora de Início": "10:00:00",
            "Link da Reunião": "https://calendly.com/events/09fc61e9-d133-468d-9b83-2b8032dd4532/google_meet",
            "Tipo de Evento": "Sessão Estratégica Comercial",
            "Dia da Semana do Evento": "Quinta",
            "utm_source": "meta",
            "utm_campaign": "sessao_estrategica",
            "utm_term": "magento",
            "utm_medium": "cpc",
            "utm_content": "ad34",
            "data_agendamento": "2023-11-07 22:35:53",
            "id_campo_id_banco_de_dados_bot_conversa": "1408048",
            "data_termino_ac": "2023-11-09",
            "data_e_hora_de_termino": "09/11/2023 11:00",
            "data_e_hora_de_inicio": "09/11/2023 10:00",
            "funil": "sessao_estrategica",
            "variacao_do_funil": "v1",
            "E-mail do Responsável": "amoncsoliver@gmail.com",
            "Nome do Responsável": "[A] Renato Gonçalves ",
            "id_campo_data_cancelamento_bot_conversa": "1057942"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-05-14T15:06:28.872Z",
      "updatedAt": "2024-05-14T15:06:28.872Z",
      "id": "nzGANUfak2QAGAAC",
      "name": "[Calendly]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-07-18T00:25:19.969Z",
  "versionId": "c328906d-2dc6-4540-ad64-056d001d9ae3"
}