workflows/⌚[Fabrício Nunnes][SE][BR] - LEMBRETE DIÁRIO DE AGENDAMENTOS.json
{
  "active": true,
  "connections": {
    "infos_bot_conversa": {
      "main": [
        [
          {
            "node": "pesquisa_agendamentos_do_dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato": {
      "main": [
        [
          {
            "node": "sessao_estrategica1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelado": {
      "main": [
        [
          {
            "node": "sem_acao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_agendamentos_do_dia": {
      "main": [
        [
          {
            "node": "inexistente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_linhas": {
      "main": [
        [
          {
            "node": "pesquisa_lead_via_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_via_id": {
      "main": [
        [
          {
            "node": "inexistente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_lembrete_se": {
      "main": [
        [
          {
            "node": "espera_3_segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sessao_estrategica": {
      "main": [
        [
          {
            "node": "envia_lembrete_se",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_lembrete_app",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_lembrete_app": {
      "main": [
        [
          {
            "node": "espera_3_segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_bc_existe": {
      "main": [
        [
          {
            "node": "sessao_estrategica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cadastrar_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_lembrete_se1": {
      "main": [
        [
          {
            "node": "espera_3_segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_lembrete_app1": {
      "main": [
        [
          {
            "node": "espera_3_segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_3_segundos": {
      "main": [
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inexistente": {
      "main": [
        [
          {
            "node": "sem_acao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inexistente1": {
      "main": [
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "item_unico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sessao_estrategica1": {
      "main": [
        [
          {
            "node": "envia_lembrete_se1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_lembrete_app1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "item_unico": {
      "main": [
        [
          {
            "node": "e_ddd_55",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "e_ddd_55": {
      "main": [
        [
          {
            "node": "pesquisa_responsavel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clint_donodonegocio": {
      "main": [
        [
          {
            "node": "id_bc_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_responsavel": {
      "main": [
        [
          {
            "node": "cria/atualiza_contato_qualificado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria/atualiza_contato_qualificado1": {
      "main": [
        [
          {
            "node": "Clint_donodonegocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "todo_dia_7:30am": {
      "main": [
        [
          {
            "node": "infos_bot_conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-29T12:24:43.618Z",
  "id": "4R95rLCwpZ9JoTXQ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Fabrício Nunnes][SE][BR] - LEMBRETE DIÁRIO DE AGENDAMENTOS",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "API-KEY",
              "value": "a9585685-a8d4-4f70-be7c-44c8dedf905f"
            },
            {
              "name": "flow_de_lembrete_diario_se",
              "value": "1757667"
            },
            {
              "name": "flow_de_lembrete_diario_app"
            }
          ]
        },
        "options": {}
      },
      "id": "addfaa6c-e4d3-4a97-9218-899531367885",
      "name": "infos_bot_conversa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2540,
        420
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "=+{{ $node[\"pesquisa_lead_via_id\"].json[\"telefone\"].replace('+','') }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"pesquisa_lead_via_id\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"pesquisa_lead_via_id\"].json[\"sobrenome\"] }}."
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"infos_bot_conversa\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        20,
        700
      ],
      "id": "a99da16b-d0dd-44ab-beaf-1bb2da6a6ea5",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_agendamentos_do_dia\"].json[\"status_evento\"] }}",
              "operation": "contains",
              "value2": "Cancelado"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "800a08fc-d32d-496a-8ab3-d69605e4d53c",
      "name": "cancelado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1920,
        480
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "where": {
          "values": [
            {
              "column": "data_de_inicio",
              "value": "={{ $now.toFormat('dd/MM/yyyy').slice(6,10) }}-{{ $now.toFormat('dd/MM/yyyy').slice(3,5) }}-{{ $now.toFormat('dd/MM/yyyy').slice(0,2) }}"
            }
          ]
        },
        "options": {
          "detailedOutput": false
        }
      },
      "id": "c57416e9-ab1a-48ea-afb1-6a55aee47239",
      "name": "pesquisa_agendamentos_do_dia",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -2340,
        420
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "49363757-1feb-458d-83a1-ffb2e2c9b113",
      "name": "separa_em_linhas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1720,
        480
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"separa_em_linhas\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "729fa65a-970f-4ea5-a4b6-586300fe20b7",
      "name": "pesquisa_lead_via_id",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -1520,
        460
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"pesquisa_lead_via_id\"].json[\"id_botconversa\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"infos_bot_conversa\"].json[\"flow_de_lembrete_diario_se\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"infos_bot_conversa\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "envia_lembrete_se",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        420,
        240
      ],
      "id": "030e6002-004f-465a-ba83-e3eee81860e2",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"separa_em_linhas\"].json[\"servico\"] }}",
              "operation": "contains",
              "value2": "Sessão Estratégica Comercial"
            },
            {
              "value1": "={{ $node[\"separa_em_linhas\"].json[\"servico\"] }}",
              "operation": "contains",
              "value2": "Sessão Estratégica Comercial"
            },
            {
              "value1": "={{ $node[\"separa_em_linhas\"].json[\"servico\"] }}",
              "operation": "contains",
              "value2": "Sessão Estratégica Comercial"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "a2e026df-8a77-417b-b48f-2dcbee0370d4",
      "name": "sessao_estrategica",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        180,
        320
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"pesquisa_lead_via_id\"].json[\"id_botconversa\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"infos_bot_conversa\"].json[\"flow_de_lembrete_diario_app\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"infos_bot_conversa\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "envia_lembrete_app",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        420,
        440
      ],
      "id": "88dbfff2-644b-4f46-b25d-1aab4740e8b6",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead_via_id\"].json[\"id_botconversa\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "bc558ade-8572-46aa-92aa-e35374769bfa",
      "name": "id_bc_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        480
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"infos_bot_conversa\"].json[\"flow_de_lembrete_diario_se\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"infos_bot_conversa\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "envia_lembrete_se1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        440,
        620
      ],
      "id": "51d75a9a-050c-403c-8f00-44fff496cd6f",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"infos_bot_conversa\"].json[\"flow_de_lembrete_diario_app\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"infos_bot_conversa\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "envia_lembrete_app1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        440,
        800
      ],
      "id": "19a2f49e-c2e0-4ee5-9634-c2a1625e9ba5",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "5f79f2bc-c2fc-4923-825b-9263924ee24a",
      "name": "espera_3_segundos",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        780,
        860
      ],
      "webhookId": "3f04edd2-2f7d-4b98-9635-32d743824e37"
    },
    {
      "parameters": {},
      "id": "80398b74-8f23-4dd7-a1bf-5f69ff4f2881",
      "name": "fim",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -840,
        760
      ]
    },
    {
      "parameters": {},
      "id": "206f2f22-a3a3-4031-b36a-7aceb6cb2f02",
      "name": "sem_acao",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1720,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_agendamentos_do_dia\"].json[\"success\"] }}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "76f21bd5-e9d3-4da3-8931-1ea4ba936366",
      "name": "inexistente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2140,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead_via_id\"].json[\"success\"] }}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "ddf2cefc-0cd4-4997-8615-b56d4a752565",
      "name": "inexistente1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1360,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"separa_em_linhas\"].json[\"servico\"] }}",
              "operation": "contains",
              "value2": "Sessão Estratégica Comercial"
            },
            {
              "value1": "={{ $node[\"separa_em_linhas\"].json[\"servico\"] }}",
              "operation": "contains",
              "value2": "Sessão Estratégica Comercial"
            },
            {
              "value1": "={{ $node[\"separa_em_linhas\"].json[\"servico\"] }}",
              "operation": "contains",
              "value2": "Sessão Estratégica Comercial"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "fe2b9053-2498-42ea-8898-1ed9d36c6779",
      "name": "sessao_estrategica1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        700
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "7ebb656c-1f09-45f9-9b76-2844c7ba92bf",
      "name": "item_unico",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -1160,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead_via_id\"].json[\"telefone\"].slice(0,2) }}",
              "operation": "contains",
              "value2": "55"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "eb9856f4-576c-4979-94b0-8125e01d5393",
      "name": "e_ddd_55",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1000,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/5ce68176-7425-47ae-8821-86ca1f2ad8ad",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"pesquisa_lead_via_id\"].json[\"nome\"] }}"
            },
            {
              "name": "telefone",
              "value": "=+{{ $node[\"pesquisa_lead_via_id\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"pesquisa_lead_via_id\"].json[\"email\"].trim() }}"
            },
            {
              "name": "etapa_funil",
              "value": "3"
            },
            {
              "name": "dono_negocio",
              "value": "={{ $node[\"pesquisa_responsavel\"].json[\"email\"].trim() }}"
            },
            {
              "name": "etapa_funil",
              "value": "Reunião"
            }
          ]
        },
        "options": {}
      },
      "id": "7062b167-56be-4664-a644-47f59871c059",
      "name": "Clint_donodonegocio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -320,
        480
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "where": {
          "values": [
            {
              "column": "id_colaborador",
              "value": "={{ $node[\"separa_em_linhas\"].json[\"id_responsavel\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "f56e8a73-d593-4457-a590-a7f71ba51cd6",
      "name": "pesquisa_responsavel",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -780,
        480
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/14e33fc1-94ba-44b7-9360-b4e03f6a9b2f",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"pesquisa_lead_via_id\"].json[\"nome\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"pesquisa_lead_via_id\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"pesquisa_lead_via_id\"].json[\"email\"].trim() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "68e68fd8-882d-4842-87e1-10a8149466bf",
      "name": "cria/atualiza_contato_qualificado1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -520,
        480
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "ac1d7eb9-6a4a-44b7-a9d6-028d5fb49596",
      "name": "todo_dia_7:30am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2720,
        420
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Q8rgTKWALfDjS7MZ",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "staticData": {
    "node:todo_dia_7:30am": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-05-14T00:40:11.886Z",
      "updatedAt": "2024-05-14T00:40:11.886Z",
      "id": "0latNaRGmb3Byif6",
      "name": "[LEMBRETE]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-31T13:05:27.421Z",
  "versionId": "15271c98-49f2-411b-a901-d6243036fb8c"
}