workflows/⌚[Fabricio Nunnes][Banco de Dados] - Fila de Ações de Funis.json
{
  "active": true,
  "connections": {
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "reprocessamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_users": {
      "main": [
        [
          {
            "node": "cria_atualiza_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_atualiza_user": {
      "main": [
        [
          {
            "node": "pesquisa_etapa_funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_etapa_funil": {
      "main": [
        [
          {
            "node": "evento_checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_produtos": {
      "main": [
        [
          {
            "node": "busca_produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_produto": {
      "main": [
        [
          {
            "node": "pesquisa_situacao_checkout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "evento_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_situacao_checkout": {
      "main": [
        [
          {
            "node": "create_update_contact_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm1": {
      "main": [
        [
          {
            "node": "create_update_deal_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_crm": {
      "main": [
        [
          {
            "node": "create_update_contact_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm3": {
      "main": [
        [
          {
            "node": "create_update_deal_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_crm1": {
      "main": [
        [
          {
            "node": "create_update_contact_crm3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm4": {
      "main": [
        [
          {
            "node": "send_message_api_nao_oficial4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_deal_crm": {
      "main": [
        [
          {
            "node": "create_update_contact_crm4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_deal_crm1": {
      "main": [
        [
          {
            "node": "create_update_deal_crm5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_cadastro_bd": {
      "main": [
        [
          {
            "node": "cria_cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_cadastro": {
      "main": [
        [
          {
            "node": "create_update_contact_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_deal_crm": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm1": {
      "main": [
        [
          {
            "node": "add_customer_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_deal_crm1": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm3": {
      "main": [
        [
          {
            "node": "create_update_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_deal_crm5": {
      "main": [
        [
          {
            "node": "send_message_api_nao_oficial2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_conversion_bd": {
      "main": [
        [
          {
            "node": "add_conversion_bd1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conversion_bd1": {
      "main": [
        [
          {
            "node": "add_subscription_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_customer_bd": {
      "main": [
        [
          {
            "node": "add_customer_bd1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_customer_bd1": {
      "main": [
        [
          {
            "node": "add_conversion_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_subscription_bd": {
      "main": [
        [
          {
            "node": "add_subscription_bd1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_send_flow_manychat": {
      "main": [
        [
          {
            "node": "send_flow_manychat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_flow_manychat1": {
      "main": [
        [
          {
            "node": "insert_forms_answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm6": {
      "main": [
        [
          {
            "node": "create_update_deal_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_crm2": {
      "main": [
        [
          {
            "node": "create_update_contact_crm6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_deal_crm2": {
      "main": [
        [
          {
            "node": "create_update_deal_crm7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_deal_crm2": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_situacao_agendamento": {
      "main": [
        [
          {
            "node": "add_agendamento_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_agendamento_bd": {
      "main": [
        [
          {
            "node": "add_agendamento_bd1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_agendamento_bd1": {
      "main": [
        [
          {
            "node": "create_update_contact_crm5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_insert_forms_answers": {
      "main": [
        [
          {
            "node": "insert_forms_answers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_manychat": {
      "main": [
        [
          {
            "node": "create_update_manychat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_manychat1": {
      "main": [
        [
          {
            "node": "send_flow_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_deal_crm7": {
      "main": [
        [
          {
            "node": "send_message_api_nao_oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_send_message_api_nao_oficial": {
      "main": [
        [
          {
            "node": "send_message_api_nao_oficial1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_message_api_nao_oficial1": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_send_message_api_nao_oficial1": {
      "main": [
        [
          {
            "node": "send_message_api_nao_oficial3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_send_message_api_nao_oficial2": {
      "main": [
        [
          {
            "node": "send_message_api_nao_oficial5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_message_api_nao_oficial5": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reprocessamento": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evento_checkout": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_produtos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "evento_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evento_agendamento": {
      "main": [
        [
          {
            "node": "pesquisa_situacao_agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_cadastro_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_agendamento_bd": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_agendamento_bd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_contact_crm5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_deal_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_deal_crm": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_deal_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send_message_api_nao_oficial4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_message_api_nao_oficial4": {
      "main": [
        [
          {
            "node": "pesquisa_acao_send_message_api_nao_oficial2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_deal_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_deal_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_customer_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_customer_bd": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_customer_bd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_conversion_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conversion_bd": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_conversion_bd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_subscription_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_subscription_bd": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_subscription_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm5": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_crm2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_deal_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_deal_crm2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_deal_crm2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send_message_api_nao_oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_message_api_nao_oficial": {
      "main": [
        [
          {
            "node": "pesquisa_acao_send_message_api_nao_oficial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_deal_crm4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm4": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_deal_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_cadastro_bd": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_cadastro_bd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_contact_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_deal_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_deal_crm1": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_deal_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send_message_api_nao_oficial2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_message_api_nao_oficial2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_send_message_api_nao_oficial1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_deal_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_deal_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_manychat": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_manychat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send_flow_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_flow_manychat": {
      "main": [
        [
          {
            "node": "pesquisa_acao_send_flow_manychat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_forms_answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_forms_answers": {
      "main": [
        [
          {
            "node": "pesquisa_acao_insert_forms_answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-18T12:38:03.725Z",
  "id": "1dOopvxy8VCe2WmE",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Fabricio Nunnes][Banco de Dados] - Fila de Ações de Funis",
  "nodes": [
    {
      "parameters": {
        "queue": "Fila de Ações de Funis",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 1
        }
      },
      "id": "29b6035e-4b82-4697-8378-ccfa8fcf1971",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -1400,
        1660
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Users"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "dde320b5-f555-4a3b-87d2-f3938c007cf5",
      "name": "pesquisa_variavel_n8n_fluxo_users",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1020,
        1680
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_users\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] || \"\" }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"cpf\"] || \"\" }}"
            },
            {
              "name": "cnpj",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"cnpj\"] || \"\" }}"
            },
            {
              "name": "sexo",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sexo\"] }}"
            },
            {
              "name": "idade",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"idade\"] }}"
            },
            {
              "name": "momento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"momento\"] }}"
            },
            {
              "name": "tempo_contato",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tempo_contato\"] }}"
            },
            {
              "name": "dificuldade",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"dificuldade\"] }}"
            },
            {
              "name": "preocupacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"preocupacao\"] }}"
            },
            {
              "name": "transformacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"transformacao\"] }}"
            },
            {
              "name": "motivo_fit_mentoria",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"motivo_fit_mentoria\"] }}"
            },
            {
              "name": "pergunta_cafezinho",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta_cafezinho\"] }}"
            },
            {
              "name": "graduacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"graduacao\"] }}"
            },
            {
              "name": "tipo_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        1680
      ],
      "id": "62f4b6bf-1a45-496b-806f-4e135630b0ce",
      "name": "cria_atualiza_user"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "etapas_funil",
          "mode": "list",
          "cachedResultName": "etapas_funil"
        },
        "where": {
          "values": [
            {
              "column": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eaeeb869-148b-4804-9508-1c9984d72d61",
      "name": "pesquisa_etapa_funil",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -600,
        1680
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Produtos"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "cdc32349-7390-4373-ba2b-71a82e8d2d19",
      "name": "pesquisa_variavel_n8n_fluxo_produtos",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -60,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_produtos\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "product_id",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"product_id\"] }}"
            },
            {
              "name": "product_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"product_name\"] }}"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"value\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        560
      ],
      "id": "8abdbccc-8279-4bee-8827-39fac8981aec",
      "name": "busca_produto",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "situacoes_checkout",
          "mode": "list",
          "cachedResultName": "situacoes_checkout"
        },
        "where": {
          "values": [
            {
              "column": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "column": "id_produto",
              "value": "={{ $node[\"busca_produto\"].json[\"id\"] }}"
            },
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"trans_status\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ba66d3ef-9388-4b40-8001-a702543927e8",
      "name": "pesquisa_situacao_checkout",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        420,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        400
      ],
      "id": "df7979bf-1603-4a7f-97ba-4b08027f4a09",
      "name": "create_update_contact_crm1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "ff95e2eb-7fc5-424f-a05e-cc3457ed2262",
      "name": "pesquisa_acao_create_update_contact_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        900,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_crm1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        2940
      ],
      "id": "47e43c36-094e-42ec-9feb-a253e87f4acc",
      "name": "create_update_contact_crm3"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "84e83e2e-f326-42f7-97a5-fc01abdda1af",
      "name": "pesquisa_acao_create_update_contact_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        760,
        2940
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_deal_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        620
      ],
      "id": "1da26fe8-69f5-40e9-a2e6-d6e3b781c5e4",
      "name": "create_update_contact_crm4"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "0c4e7890-29c1-4c05-aa3e-d7338b9794e1",
      "name": "pesquisa_acao_create_update_deal_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1160,
        620
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "5a3e4493-2666-4559-9f84-7320664a09ed",
      "name": "pesquisa_acao_create_update_deal_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1020,
        3140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_cadastro_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "2b7360f2-31ed-4757-b52d-9e1ef319e921",
      "name": "pesquisa_acao_add_cadastro_bd",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        520,
        2740
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_cadastro_bd\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] || \"\" }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] || \"\" }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] || \"\" }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] || \"\" }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] || \"\" }}"
            },
            {
              "name": "id_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_forms\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] || \"\" }}"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        2740
      ],
      "id": "3521af11-5464-488f-a1e1-64acaaec087a",
      "name": "cria_cadastro"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "0d3a845d-babe-4c3e-927e-674d61d6372b",
      "name": "pesquisa_acao_add_tag_deal_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1560,
        980
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_deal_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        980
      ],
      "id": "6e982769-929b-47fb-a29e-ce18f2247ef5",
      "name": "add_tag_deal_crm1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "feb22136-e512-4ee9-967e-a26e9a485c67",
      "name": "pesquisa_acao_add_tag_deal_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1320,
        3520
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_deal_crm1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        3520
      ],
      "id": "63d36c98-8bcc-4e85-b6d0-73084fb72cd0",
      "name": "add_tag_deal_crm3"
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_deal_crm1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        3140
      ],
      "id": "aee6d3ef-9ea5-4d27-8f80-7309fb6fd75b",
      "name": "create_update_deal_crm5"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_conversion_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "d2ab38a4-fc56-45b8-b40c-3f8db4de1d15",
      "name": "pesquisa_acao_add_conversion_bd",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1860,
        1340
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_conversion_bd\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_transacao_checkout",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"transaction_id\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_cliente",
              "value": "={{ $node[\"add_customer_bd1\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_produto",
              "value": "={{ $node[\"busca_produto\"].json[\"id\"] }}"
            },
            {
              "name": "valor",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"value\"] || \"\" }}"
            },
            {
              "name": "comissao_gateway",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"gateway_comission\"] || \"\" }}"
            },
            {
              "name": "id_vendedor",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_vendedor\"] || \"\" }}"
            },
            {
              "name": "moeda",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"currency\"] || \"\" }}"
            },
            {
              "name": "forma_de_pagamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"payment_method\"] || \"\" }}"
            },
            {
              "name": "status_da_compra",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"trans_status\"] }}"
            },
            {
              "name": "data_garantia",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"warranty_date\"] || \"\" }}"
            },
            {
              "name": "data_conversao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"payment_date\"] || $node[\"chega_da_fila\"].json[\"content\"][\"event_date\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] || \"\" }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] || \"\" }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] || \"\" }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] || \"\" }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] || \"\" }}"
            },
            {
              "name": "parcelas",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"installments\"] || \"\" }}"
            },
            {
              "name": "oferta",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"offer_code\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        1340
      ],
      "id": "44d6db00-3f70-47c5-991c-8db9f92cfe5f",
      "name": "add_conversion_bd1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_customer_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "ef1ed238-010c-46ea-bb66-d9707446221a",
      "name": "pesquisa_acao_add_customer_bd",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1720,
        1140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_customer_bd\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "data_conversao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"payment_date\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        1140
      ],
      "id": "c5deb468-4fa1-4236-b47a-8a7a57af6e6a",
      "name": "add_customer_bd1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_subscription_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "5d961623-be25-4996-90d5-bc2c3c14c9d4",
      "name": "pesquisa_acao_add_subscription_bd",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2080,
        1500
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_subscription_bd\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_conversao",
              "value": "={{ $node[\"add_conversion_bd1\"].json[\"id\"] }}"
            },
            {
              "name": "id_produto",
              "value": "={{ $node[\"busca_produto\"].json[\"id\"] }}"
            },
            {
              "name": "data_conversao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"payment_date\"] }}"
            },
            {
              "name": "data_expiracao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"recurrenceExpirationDate\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        1500
      ],
      "id": "b9f8ff32-befc-45a5-a8d4-cb333116ecd7",
      "name": "add_subscription_bd1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "send_flow_manychat"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "ffa1b4b2-9f25-4952-b6ee-a070c19f479e",
      "name": "pesquisa_acao_send_flow_manychat",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1860,
        3940
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_send_flow_manychat\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "graduacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"graduacao\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        3940
      ],
      "id": "8636a571-e325-455a-a30c-4d879aabb90f",
      "name": "send_flow_manychat1"
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_crm2\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "id_situacao_agendamento",
              "value": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"id\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1780
      ],
      "id": "ca676641-11f5-474a-a479-8cff001f3a26",
      "name": "create_update_contact_crm6"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "4354acb9-e71f-4c07-83bd-c5b2750f1325",
      "name": "pesquisa_acao_create_update_contact_crm2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        620,
        1780
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "=acao",
              "value": "create_update_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "eb8e0820-7222-4922-9aa4-4094ce78f3ab",
      "name": "pesquisa_acao_create_update_deal_crm2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        780,
        1960
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "fe569955-6030-40d8-b3bb-c6e6332929ea",
      "name": "pesquisa_acao_add_tag_deal_crm2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1100,
        2320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_deal_crm2\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_situacao_agendamento",
              "value": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"id\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        2320
      ],
      "id": "30160ede-8f8c-47ef-ab6e-65ed9dad16f3",
      "name": "add_tag_deal_crm5"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "situacoes_agendamento",
          "mode": "list",
          "cachedResultName": "situacoes_agendamento"
        },
        "where": {
          "values": [
            {
              "column": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"evento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a40cbf4b-2ade-4687-a756-8185e79daf06",
      "name": "pesquisa_situacao_agendamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        60,
        1720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_agendamento_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "1ebaa170-cf6a-44aa-b4fd-89e462a935fc",
      "name": "pesquisa_acao_add_agendamento_bd",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        500,
        1600
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_agendamento_bd\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_agendamento\"] }}"
            },
            {
              "name": "id_cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_cliente\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_responsavel",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email_responsavel\"] }}"
            },
            {
              "name": "data_agendamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_do_agendamento\"].split ('/')[2].split(',')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"data_do_agendamento\"].split ('/')[1] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"data_do_agendamento\"].split ('/')[0] }} {{ $node[\"chega_da_fila\"].json[\"content\"][\"data_do_agendamento\"].split (', ')[1] }}:00"
            },
            {
              "name": "status_evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"evento\"].replace('Agendamento', 'Agendado').replace('Reagendamento', 'Reagendado').replace('Cancelamento', 'Cancelado') }}"
            },
            {
              "name": "data_de_inicio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_inicio\"].split ('/')[2].split(',')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"data_inicio\"].split ('/')[1] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"data_inicio\"].split ('/')[0] }}"
            },
            {
              "name": "hora_de_inicio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_inicio\"].split(' ')[1] }}"
            },
            {
              "name": "hora_de_termino",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_termino\"].split(' ')[1] }}"
            },
            {
              "name": "link_reuniao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"link_da_reuniao\"] }}"
            },
            {
              "name": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome_do_evento\"] }}"
            },
            {
              "name": "dia_da_semana_evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"dia_call\"] }}"
            },
            {
              "name": "data_cancelamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_cancelamento\"] || \"\" }}"
            },
            {
              "name": "motivo_cancelamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"motivo_cancelamento\"] || \"\" }}"
            },
            {
              "name": "id_agendamento_reagendado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_agendamento_reagendado\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        1600
      ],
      "id": "eef24329-c01a-4b98-9f23-8a7a9a91bccf",
      "name": "add_agendamento_bd1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "insert_forms_answers"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "e4325523-9cd7-42c4-a685-5b9dc23b9ac9",
      "name": "pesquisa_acao_insert_forms_answers",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2080,
        4140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_insert_forms_answers\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_forms\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        4140
      ],
      "id": "60ea89b5-05d8-406e-8cd4-24a238b2367a",
      "name": "insert_forms_answers1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_manychat"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "b9694db6-939e-4ac4-aba3-46e81173fb42",
      "name": "pesquisa_acao_create_update_manychat",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1600,
        3740
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_manychat\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "graduacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"graduacao\"] || \"\" }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        3740
      ],
      "id": "c21bb582-20ea-42ba-b2d3-dc2aa91f45f1",
      "name": "create_update_manychat1"
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_deal_crm2\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "id_situacao_agendamento",
              "value": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"id\"]  || \"\" }}"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        1960
      ],
      "id": "f335b4d0-a396-45ca-9f7a-44e3991281df",
      "name": "create_update_deal_crm7"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "send_message_api_nao_oficial"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "f88f6067-cf75-4635-8f51-8e46df958e7e",
      "name": "pesquisa_acao_send_message_api_nao_oficial",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        940,
        2140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_send_message_api_nao_oficial\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        2140
      ],
      "id": "98e77fb5-df53-4124-af80-5a08f2eccc79",
      "name": "send_message_api_nao_oficial1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "send_message_api_nao_oficial"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "483235ef-cf51-4711-9842-39107c0f1da1",
      "name": "pesquisa_acao_send_message_api_nao_oficial1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1220,
        3320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_send_message_api_nao_oficial1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        3320
      ],
      "id": "48213ba9-5ee4-4d7b-8932-651803115ff9",
      "name": "send_message_api_nao_oficial3"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "send_message_api_nao_oficial"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "66b1504d-4621-49d3-b271-ed2e7989154c",
      "name": "pesquisa_acao_send_message_api_nao_oficial2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1360,
        820
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_send_message_api_nao_oficial2\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        820
      ],
      "id": "5e16f389-0545-4669-b665-e2b6e12827cd",
      "name": "send_message_api_nao_oficial5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1020,
        1500
      ],
      "id": "4bb56198-d2a4-46b2-85d3-a515b39cf4f1",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $json[\"fields\"][\"redelivered\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1988997f-f032-414e-b2eb-28de64b0331b",
      "name": "reprocessamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1240,
        1660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}",
              "rightValue": "Checkout",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d63d9949-d484-4e30-b2ea-82e98478b6a8",
      "name": "evento_checkout",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        1680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}",
              "rightValue": "Agendamento",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "07de6461-416e-4d10-b30d-1dfa8ad37e66",
      "name": "evento_agendamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -180,
        1820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"acoes\"] }}",
              "rightValue": "add_agendamento_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b5c3ae58-274e-4f49-938e-4f8a1c0814f4",
      "name": "add_agendamento_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        280,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "91f83c59-9d65-4c6b-9a2d-86572cdb2df1",
      "name": "create_update_contact_crm",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "create_update_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0ebd311f-09f6-4dae-aeb0-10d9426a04fc",
      "name": "create_update_deal_crm",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "send_message_api_nao_oficial",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "691b768f-4843-4340-a00b-c8ddf4aee4fd",
      "name": "send_message_api_nao_oficial4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1060,
        860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0d927ab2-e32d-4a5c-bbdf-c299e5f81472",
      "name": "add_tag_deal_crm",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1260,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_customer_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "76db2ebc-bfe8-4ca4-8ba1-98cf8cf71674",
      "name": "add_customer_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1480,
        1200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_conversion_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "47407e74-1eb0-43d5-a93b-7a10d04b5947",
      "name": "add_conversion_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1640,
        1400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_subscription_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d0bfc1e-e5c3-4062-948e-5d946d366783",
      "name": "add_subscription_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1840,
        1560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7f00d867-b7f4-4278-9b3f-f3095956d55e",
      "name": "create_update_contact_crm5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        1900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"acoes\"] }}",
              "rightValue": "create_update_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8bb8d19e-04b5-4cf2-a19e-c2fdc6e9fb6b",
      "name": "create_update_deal_crm2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        580,
        2080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"acoes\"] }}",
              "rightValue": "send_message_api_nao_oficial",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e0586f8c-3a0e-4807-871b-6672549c685a",
      "name": "send_message_api_nao_oficial",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        740,
        2260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5df2a1fe-6bf2-4488-889d-ba42d8453f87",
      "name": "add_tag_deal_crm4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        2420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "add_cadastro_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b4719cad-c87d-4bd1-95b2-0734ee5aa2cf",
      "name": "add_cadastro_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        2820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "901da03e-79d9-4fe3-8b2f-5f588ff4c04d",
      "name": "create_update_contact_crm2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        3000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "create_update_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "402f7201-1b1b-47df-957d-bf2f4cf06481",
      "name": "create_update_deal_crm1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        740,
        3180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "send_message_api_nao_oficial",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8b43da89-016b-4bdf-8843-90a3bab11626",
      "name": "send_message_api_nao_oficial2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        940,
        3360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6412a580-c87f-4152-b9fc-257cfe411673",
      "name": "add_tag_deal_crm2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        3560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "create_update_manychat",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "08438621-3ccf-4b0c-9785-aa2224cec254",
      "name": "create_update_manychat",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1300,
        3800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "send_flow_manychat",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "06c86ede-035d-4cec-ac2c-7b8da642afb2",
      "name": "send_flow_manychat",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1520,
        4020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "92ea909e-69b6-49aa-8c83-e7e58256edbd",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "insert_forms_answers",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "df787c05-e397-462a-8443-36f15ade2ed6",
      "name": "insert_forms_answers",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1800,
        4200
      ]
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-2lJEOfs9WyPTuuy7z8fdDg",
            "deliveryTag": 105,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Fila de Ações de Funis"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "nome": "Camila",
            "sobrenome": "Lazafa",
            "email": "camillalazafa@gmail.com",
            "telefone": "5531986581904",
            "utm_source": "",
            "utm_campaign": "",
            "utm_term": "",
            "utm_medium": "",
            "utm_content": "",
            "id_funil": "1",
            "instagram": "",
            "id_agendamento": "122099d0-db68-4f83-8b7b-f840ef88bd08",
            "id_forms": "1",
            "tipo_forms": "Agendamento",
            "link_da_reuniao": "https://calendly.com/events/53e01fc2-c369-4ffe-a909-94f7ed836c2a/google_meet",
            "email_responsavel": "thiago@paulaardanza.com.br",
            "data_termino": "15/04/2025, 11:30",
            "data_inicio": "15/04/2025, 11:00",
            "data_do_agendamento": "14/04/2025, 09:38",
            "evento": "Agendamento",
            "dia_call": "Terça-feira",
            "id_agendamento_reagendado": "",
            "nome_do_evento": "[P] Consultoria de 30\" ",
            "motivo_cancelamento": "",
            "data_call_kommo": null,
            "closer": "Thiago",
            "hora_inicio": "11:00",
            "link_reagendamento": "https://calendly.com/reschedulings/122099d0-db68-4f83-8b7b-f840ef88bd08",
            "link_cancelamento": "https://calendly.com/cancellations/122099d0-db68-4f83-8b7b-f840ef88bd08",
            "id_do_cliente": "",
            "data_cancelamento": "14/04/2025 09:38"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-21T18:45:11.919Z",
  "versionId": "ba843a29-2083-4b0d-ba7f-6e12b1c9ca95"
}