workflows/⌚[Fabricio Nunes][DCI] - Trata dados.json
{
  "active": true,
  "connections": {
    "consulta_sdr": {
      "main": [
        [
          {
            "node": "create/update clint4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_url_rotacionamento_colaboradores": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_users": {
      "main": [
        [
          {
            "node": "cria_atualiza_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_atualiza_user": {
      "main": [
        [
          {
            "node": "consulta_sdr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_funil": {
      "main": [
        [
          {
            "node": "pesquisa_url_rotacionamento_colaboradores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_funis": {
      "main": [
        [
          {
            "node": "busca_funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "infos_bc": {
      "main": [
        [
          {
            "node": "avisa_Closer1_Jonatã",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "avisa_Closer1_Jonatã": {
      "main": [
        [
          {
            "node": "avisa_Natalia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados1": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_funis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados2": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_funis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consulta_sdr2": {
      "main": [
        [
          {
            "node": "create/update clint5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_url_rotacionamento_colaboradores2": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_users2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_users2": {
      "main": [
        [
          {
            "node": "cria_atualiza_user2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_funil2": {
      "main": [
        [
          {
            "node": "pesquisa_url_rotacionamento_colaboradores2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_funis2": {
      "main": [
        [
          {
            "node": "busca_funil2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados3": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_funis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consulta_sdr3": {
      "main": [
        [
          {
            "node": "create/update clint6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_url_rotacionamento_colaboradores3": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_users3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_users3": {
      "main": [
        [
          {
            "node": "cria_atualiza_user3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_funil3": {
      "main": [
        [
          {
            "node": "pesquisa_url_rotacionamento_colaboradores3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_funis3": {
      "main": [
        [
          {
            "node": "busca_funil3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_atualiza_user2": {
      "main": [
        [
          {
            "node": "consulta_sdr2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_atualiza_user3": {
      "main": [
        [
          {
            "node": "consulta_sdr3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update clint4": {
      "main": [
        [
          {
            "node": "infos_bc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "infos_bc1": {
      "main": [
        [
          {
            "node": "avisa_Closer1_Jonatã1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "avisa_Closer1_Jonatã1": {
      "main": [
        [
          {
            "node": "avisa_Natalia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update clint5": {
      "main": [
        [
          {
            "node": "infos_bc1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "infos_bc2": {
      "main": [
        [
          {
            "node": "avisa_Closer1_Jonatã2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "avisa_Closer1_Jonatã2": {
      "main": [
        [
          {
            "node": "avisa_Natalia2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update clint6": {
      "main": [
        [
          {
            "node": "infos_bc2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Popup-DCI-5": {
      "main": [
        [
          {
            "node": "formata_dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Popup-DCI-10": {
      "main": [
        [
          {
            "node": "formata_dados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_fluxo_funil": {
      "main": [
        [
          {
            "node": "envia_fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_user1": {
      "main": [
        [
          {
            "node": "cadastrar_contato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato1": {
      "main": [
        [
          {
            "node": "pesquisa_fluxo_funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa_apikey_botconversa1": {
      "main": [
        [
          {
            "node": "busca_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "avisa_Natalia": {
      "main": [
        [
          {
            "node": "puxa_apikey_botconversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_fluxo_funil1": {
      "main": [
        [
          {
            "node": "envia_fluxo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_user": {
      "main": [
        [
          {
            "node": "cadastrar_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato": {
      "main": [
        [
          {
            "node": "pesquisa_fluxo_funil1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa_apikey_botconversa": {
      "main": [
        [
          {
            "node": "busca_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "avisa_Natalia1": {
      "main": [
        [
          {
            "node": "puxa_apikey_botconversa1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_fluxo_funil2": {
      "main": [
        [
          {
            "node": "envia_fluxo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_user2": {
      "main": [
        [
          {
            "node": "cadastrar_contato2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato2": {
      "main": [
        [
          {
            "node": "pesquisa_fluxo_funil2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa_apikey_botconversa2": {
      "main": [
        [
          {
            "node": "busca_user2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "avisa_Natalia2": {
      "main": [
        [
          {
            "node": "puxa_apikey_botconversa2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Popup-DCI-25": {
      "main": [
        [
          {
            "node": "formata_dados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-19T17:26:29.684Z",
  "id": "GyvKchz2dPa3OTac",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Fabricio Nunes][DCI] - Trata dados",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// 🔹 Capturar os dados do input\nconst inputData = items[0].json.body || {};\n\n// 🔧 Utilidades\nfunction formatEmail(email) {\n  return email ? String(email).toLowerCase().trim() : \"\";\n}\n\nfunction processTelefone(telefoneOriginal) {\n  if (!telefoneOriginal) return \"\";\n  const digits = String(telefoneOriginal).replace(/\\D/g, \"\");\n  const withDDI = digits.startsWith(\"55\") ? digits : `55${digits}`;\n  const DDD = withDDI.slice(2, 4);\n  let numero = withDDI.slice(4);\n  if (numero.length === 8) numero = `9${numero}`;\n  return `55${DDD}${numero}`;\n}\n\nfunction formatDateTimeGMT3(iso) {\n  if (!iso) return \"\";\n  const d = new Date(iso);\n  d.setHours(d.getHours() - 3); // GMT-3 fixo\n  const yyyy = d.getFullYear();\n  const mm   = String(d.getMonth() + 1).padStart(2, \"0\");\n  const dd   = String(d.getDate()).padStart(2, \"0\");\n  const HH   = String(d.getHours()).padStart(2, \"0\");\n  const II   = String(d.getMinutes()).padStart(2, \"0\");\n  const SS   = String(d.getSeconds()).padStart(2, \"0\");\n  return `${yyyy}-${mm}-${dd} ${HH}:${II}:${SS}`;\n}\n\n// ➕ NOVA: formato BotConversa %d.%m.%Y %H:%M:%S (GMT-3)\nfunction formatDateTimeBotConversa(iso) {\n  if (!iso) return \"\";\n  const d = new Date(iso);\n  d.setHours(d.getHours() - 3); // GMT-3 fixo\n  const dd = String(d.getDate()).padStart(2, \"0\");\n  const mm = String(d.getMonth() + 1).padStart(2, \"0\");\n  const yyyy = d.getFullYear();\n  const HH = String(d.getHours()).padStart(2, \"0\");\n  const II = String(d.getMinutes()).padStart(2, \"0\");\n  const SS = String(d.getSeconds()).padStart(2, \"0\");\n  return `${dd}.${mm}.${yyyy} ${HH}:${II}:${SS}`;\n}\n\n// 🔧 Função para separar nome e sobrenome\nfunction splitName(fullName) {\n  if (!fullName) return { nome: \"\", sobrenome: \"\", nome_completo: \"\" };\n  const parts = fullName.trim().split(/\\s+/);\n  const nome = parts.shift() || \"\";\n  const sobrenome = parts.join(\" \") || \"\";\n  const nome_completo = [nome, sobrenome].filter(Boolean).join(\" \");\n  return { nome, sobrenome, nome_completo };\n}\n\n// 🔎 Extrair do payload\nconst nomeRaw     = inputData[\"name\"] || \"\";\nconst email       = inputData[\"email\"] || \"\";\nconst companyName = inputData[\"companyName\"] || \"\";\nconst planName    = inputData[\"planName\"] || \"\";\nconst planId      = inputData[\"planId\"] || \"\";\nconst maxUsers    = inputData[\"maxUsers\"] !== undefined ? String(inputData[\"maxUsers\"]) : \"\";\nconst timestamp   = inputData[\"timestamp\"] || \"\";\nconst TelefoneRaw = inputData[\"phone\"] || \"\";\nconst cnpj        = inputData[\"cnpj\"] || \"\";\nconst cpf         = inputData[\"cpf\"] || \"\";\nconst form_id     = inputData[\"pageId\"] || \"\";\nconst dataId      = inputData[\"dataId\"] || \"\";\n// UTMs\nconst utm_source   = inputData[\"utm_source\"]   || \"\";\nconst utm_campaign = inputData[\"utm_campaign\"] || \"\";\nconst utm_medium   = inputData[\"utm_medium\"]   || \"\";\nconst utm_term     = inputData[\"utm_term\"]     || \"\";\nconst utm_content  = inputData[\"utm_content\"]  || \"\";\n\n// 🧱 Montar o objeto final\nconst split = splitName(nomeRaw);\n\nconst result = {\n  nome: split.nome,\n  sobrenome: split.sobrenome,\n  nome_completo: split.nome_completo,\n\n  email: formatEmail(email),\n  Telefone: processTelefone(TelefoneRaw),\n\n  \"Nome da empresa\": companyName,\n  \"Tipo de plano\":   planName,\n  \"ID do plano\":     planId,\n  \"Usuários\":        maxUsers,    // string\n  \"CNPJ\":            cnpj,\n  \"CPF\":             cpf,\n\n  \"Data envio\": formatDateTimeGMT3(timestamp),\n\n  // ✅ Novo campo no formato aceito pelo BotConversa\n  data_botconversa: formatDateTimeBotConversa(timestamp),\n\n  form_id: form_id,\n  dataId: dataId,\n\n  utm_source,\n  utm_campaign,\n  utm_medium,\n  utm_term,\n  utm_content\n};\n\n// ✅ Retornar para o n8n\nreturn [{ json: result }];\n"
      },
      "id": "5de7779d-fa75-48e5-9a40-cf783026c08b",
      "name": "formata_dados1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        820,
        -360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/a4866f91-5853-4cbf-88cd-b8f1561ac7e6",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"formata_dados1\"].json[\"nome\"] }} {{ $node[\"formata_dados1\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"formata_dados1\"].json[\"Telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"formata_dados1\"].json[\"email\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados1\"].json[\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados1\"].json[\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados1\"].json[\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados1\"].json[\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados1\"].json[\"utm_content\"] }}"
            },
            {
              "name": "funil",
              "value": "=DCI - Diretor Comercial Inteligente"
            },
            {
              "name": "variacao_do_funil",
              "value": "=V1"
            },
            {
              "name": "Nome da empresa",
              "value": "={{ $node[\"formata_dados1\"].json[\"Nome da empresa\"] }}"
            },
            {
              "name": "Tipo de plano",
              "value": "={{ $node[\"formata_dados1\"].json[\"Tipo de plano\"] }}"
            },
            {
              "name": "ID do plano",
              "value": "={{ $node[\"formata_dados1\"].json[\"ID do plano\"] }}"
            },
            {
              "name": "Usuários",
              "value": "={{ $node[\"formata_dados1\"].json[\"Usuários\"] }}"
            },
            {
              "name": "CNPJ",
              "value": "={{ $node[\"formata_dados1\"].json[\"CNPJ\"] }}"
            },
            {
              "name": "CPF",
              "value": "={{ $node[\"formata_dados1\"].json[\"CPF\"] }}"
            },
            {
              "name": "Data envio",
              "value": "={{ $node[\"formata_dados1\"].json[\"Data envio\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "48bd9861-272c-4a3e-beff-e05e9fef9c39",
      "name": "create/update clint4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2280,
        -360
      ]
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_url_rotacionamento_colaboradores\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "time",
              "value": "=SDR"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        -360
      ],
      "id": "04e41a72-9a9e-40f9-bf06-993599c1a73b",
      "name": "consulta_sdr"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Rotacionamento de Colaboradores"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "e323257a-f000-4e29-ae66-6d11c8ff237a",
      "name": "pesquisa_url_rotacionamento_colaboradores",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1420,
        -360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Users"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "e0090f28-acc0-4683-b7a8-9453831cfbf6",
      "name": "pesquisa_variavel_n8n_fluxo_users",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1660,
        -360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_users\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"formata_dados1\"].json[\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"formata_dados1\"].json[\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"formata_dados1\"].json[\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"formata_dados1\"].json[\"Telefone\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        -360
      ],
      "id": "9bcb2cfc-2433-4cd9-9da4-649a21cb5aa7",
      "name": "cria_atualiza_user"
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_funis\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_forms",
              "value": "={{ $node[\"formata_dados1\"].json[\"form_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        -360
      ],
      "id": "a19e7ce9-23c0-4169-8cdd-5a3ca34e44c7",
      "name": "busca_funil"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Funis"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "ead1997d-fdbb-481c-888c-eed6bf9cd2a3",
      "name": "pesquisa_variavel_n8n_fluxo_funis",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1020,
        -360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ID Jonatã BC Closer 1",
              "value": "342800505"
            },
            {
              "name": "API-KEY",
              "value": "003f9285-2ed2-4d3c-8f84-18e5a8fab5d3"
            },
            {
              "name": "ID Natalia BC",
              "value": "768179930"
            },
            {
              "name": "ID Felipe  BC",
              "value": "747203618"
            },
            {
              "name": "ID Isabella BC Closer 3",
              "value": "695498921"
            },
            {
              "name": "ID Laiane BC Closer 4",
              "value": "445512667"
            },
            {
              "name": "ID Winicius BC",
              "value": "563485579"
            },
            {
              "name": "ID_grupo_novos_clientes",
              "value": "120363219650907550@g.us"
            },
            {
              "name": "url_base_evolution",
              "value": "https://apievolution.automagicbots.com.br/"
            },
            {
              "name": "instancia_nome",
              "value": "Fabricio-Nunnes"
            },
            {
              "name": "APIKEY_Evolution",
              "value": "D2977F0B8F6C-4B1F-A11C-D78FBA4D10A0"
            },
            {
              "name": "ID Rafael BC",
              "value": "269199328"
            },
            {
              "name": "ID Thiago BC",
              "value": "387179683"
            },
            {}
          ]
        },
        "options": {}
      },
      "id": "5f6dd6f9-5ceb-4732-91bc-8cdc237a97a8",
      "name": "infos_bc",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2500,
        -360
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"infos_bc\"].json[\"ID Jonatã BC Closer 1\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "=🔔 NOTIFICAÇÃO 🔔\n\n🔔 NOVO LEAD NO FUNIL DCI 🔔\n\n*Nome*: {{ $node[\"formata_dados1\"].json[\"nome\"] }} {{ $node[\"formata_dados1\"].json[\"sobrenome\"] }}\n*E-mail*: {{ $node[\"formata_dados1\"].json[\"email\"] }}\n*Telefone*: {{ $node[\"formata_dados1\"].json[\"Telefone\"] }}\n*WhatsApp*: wa.me/{{ $node[\"formata_dados1\"].json[\"Telefone\"] }}\n*Data de Entrada no Funil*: {{ $now.toFormat('dd/MM/yyyy HH:mm') }}\n*Plano*: DCI - {{ $node[\"formata_dados1\"].json[\"Usuários\"] }} usuários"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"infos_bc\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "avisa_Closer1_Jonatã",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2700,
        -360
      ],
      "id": "0c058180-8059-49f2-b26c-2c0e56e64ffe",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"infos_bc\"].json[\"ID Natalia BC\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "=🔔 NOTIFICAÇÃO 🔔\n\n🔔 NOVO LEAD NO FUNIL DCI 🔔\n\n*Nome*: {{ $node[\"formata_dados1\"].json[\"nome\"] }} {{ $node[\"formata_dados1\"].json[\"sobrenome\"] }}\n*E-mail*: {{ $node[\"formata_dados1\"].json[\"email\"] }}\n*Telefone*: {{ $node[\"formata_dados1\"].json[\"Telefone\"] }}\n*WhatsApp*: wa.me/{{ $node[\"formata_dados1\"].json[\"Telefone\"] }}\n*Data de Entrada no Funil*: {{ $now.toFormat('dd/MM/yyyy HH:mm') }}\n*Plano*: DCI - {{ $node[\"formata_dados1\"].json[\"Usuários\"] }} usuários"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"infos_bc\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "avisa_Natalia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2900,
        -360
      ],
      "id": "337444e5-9961-480d-a51e-1b12fd29468b",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 🔹 Capturar os dados do input\nconst inputData = items[0].json.body || {};\n\n// 🔧 Utilidades\nfunction formatEmail(email) {\n  return email ? String(email).toLowerCase().trim() : \"\";\n}\n\nfunction processTelefone(telefoneOriginal) {\n  if (!telefoneOriginal) return \"\";\n  const digits = String(telefoneOriginal).replace(/\\D/g, \"\");\n  const withDDI = digits.startsWith(\"55\") ? digits : `55${digits}`;\n  const DDD = withDDI.slice(2, 4);\n  let numero = withDDI.slice(4);\n  if (numero.length === 8) numero = `9${numero}`;\n  return `55${DDD}${numero}`;\n}\n\nfunction formatDateTimeGMT3(iso) {\n  if (!iso) return \"\";\n  const d = new Date(iso);\n  d.setHours(d.getHours() - 3); // GMT-3 fixo\n  const yyyy = d.getFullYear();\n  const mm   = String(d.getMonth() + 1).padStart(2, \"0\");\n  const dd   = String(d.getDate()).padStart(2, \"0\");\n  const HH   = String(d.getHours()).padStart(2, \"0\");\n  const II   = String(d.getMinutes()).padStart(2, \"0\");\n  const SS   = String(d.getSeconds()).padStart(2, \"0\");\n  return `${yyyy}-${mm}-${dd} ${HH}:${II}:${SS}`;\n}\n\n// 🔧 Função para separar nome e sobrenome\nfunction splitName(fullName) {\n  if (!fullName) return { nome: \"\", sobrenome: \"\", nome_completo: \"\" };\n  const parts = fullName.trim().split(/\\s+/);\n  const nome = parts.shift() || \"\";\n  const sobrenome = parts.join(\" \") || \"\";\n  const nome_completo = [nome, sobrenome].filter(Boolean).join(\" \");\n  return { nome, sobrenome, nome_completo };\n}\n\n// 🔎 Extrair do payload\nconst nomeRaw     = inputData[\"name\"] || \"\";\nconst email       = inputData[\"email\"] || \"\";\nconst companyName = inputData[\"companyName\"] || \"\";\nconst planName    = inputData[\"planName\"] || \"\";\nconst planId      = inputData[\"planId\"] || \"\";\nconst maxUsers    = inputData[\"maxUsers\"] !== undefined ? String(inputData[\"maxUsers\"]) : \"\";\nconst timestamp   = inputData[\"timestamp\"] || \"\";\nconst TelefoneRaw = inputData[\"phone\"] || \"\";\nconst cnpj        = inputData[\"cnpj\"] || \"\";\nconst cpf         = inputData[\"cpf\"] || \"\";\nconst form_id     = inputData[\"pageId\"] || \"\";\nconst dataId      = inputData[\"dataId\"] || \"\";\n// UTMs\nconst utm_source   = inputData[\"utm_source\"]   || \"\";\nconst utm_campaign = inputData[\"utm_campaign\"] || \"\";\nconst utm_medium   = inputData[\"utm_medium\"]   || \"\";\nconst utm_term     = inputData[\"utm_term\"]     || \"\";\nconst utm_content  = inputData[\"utm_content\"]  || \"\";\n\n// 🧱 Montar o objeto final\nconst split = splitName(nomeRaw);\n\nconst result = {\n  nome: split.nome,\n  sobrenome: split.sobrenome,\n  nome_completo: split.nome_completo,\n\n  email: formatEmail(email),\n  Telefone: processTelefone(TelefoneRaw),\n\n  \"Nome da empresa\": companyName,\n  \"Tipo de plano\":   planName,\n  \"ID do plano\":     planId,\n  \"Usuários\":        maxUsers,    // string\n  \"CNPJ\":            cnpj,\n  \"CPF\":             cpf,\n\n  \"Data envio\": formatDateTimeGMT3(timestamp),  // ✅ ajustado aqui\n\n  form_id: form_id,\n  dataId: dataId,\n\n  utm_source,\n  utm_campaign,\n  utm_medium,\n  utm_term,\n  utm_content\n};\n\n// ✅ Retornar para o n8n\nreturn [{ json: result }];\n"
      },
      "id": "17bfbe0b-e905-4922-b698-94658ba9857a",
      "name": "formata_dados2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        820,
        -140
      ]
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_url_rotacionamento_colaboradores2\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "time",
              "value": "=SDR"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user2\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        -140
      ],
      "id": "a1880e51-3712-4ad0-823e-a7ef982072f8",
      "name": "consulta_sdr2"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Rotacionamento de Colaboradores"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "af141df3-fb76-4f05-94d4-fda8e210c261",
      "name": "pesquisa_url_rotacionamento_colaboradores2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1420,
        -140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Users"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "d0405c99-bdd5-492b-aab2-6865c72ebf5b",
      "name": "pesquisa_variavel_n8n_fluxo_users2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1660,
        -140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_funis2\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_forms",
              "value": "={{ $node[\"formata_dados2\"].json[\"form_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        -140
      ],
      "id": "d1870386-e80e-477a-9047-f912b98ce1eb",
      "name": "busca_funil2"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Funis"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "228d7d3e-7844-4f83-a379-20d32d0cf344",
      "name": "pesquisa_variavel_n8n_fluxo_funis2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1020,
        -140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 🔹 Capturar os dados do input\nconst inputData = items[0].json.body || {};\n\n// 🔧 Utilidades\nfunction formatEmail(email) {\n  return email ? String(email).toLowerCase().trim() : \"\";\n}\n\nfunction processTelefone(telefoneOriginal) {\n  if (!telefoneOriginal) return \"\";\n  const digits = String(telefoneOriginal).replace(/\\D/g, \"\");\n  const withDDI = digits.startsWith(\"55\") ? digits : `55${digits}`;\n  const DDD = withDDI.slice(2, 4);\n  let numero = withDDI.slice(4);\n  if (numero.length === 8) numero = `9${numero}`;\n  return `55${DDD}${numero}`;\n}\n\nfunction formatDateTimeGMT3(iso) {\n  if (!iso) return \"\";\n  const d = new Date(iso);\n  d.setHours(d.getHours() - 3); // GMT-3 fixo\n  const yyyy = d.getFullYear();\n  const mm   = String(d.getMonth() + 1).padStart(2, \"0\");\n  const dd   = String(d.getDate()).padStart(2, \"0\");\n  const HH   = String(d.getHours()).padStart(2, \"0\");\n  const II   = String(d.getMinutes()).padStart(2, \"0\");\n  const SS   = String(d.getSeconds()).padStart(2, \"0\");\n  return `${yyyy}-${mm}-${dd} ${HH}:${II}:${SS}`;\n}\n\n// 🔧 Função para separar nome e sobrenome\nfunction splitName(fullName) {\n  if (!fullName) return { nome: \"\", sobrenome: \"\", nome_completo: \"\" };\n  const parts = fullName.trim().split(/\\s+/);\n  const nome = parts.shift() || \"\";\n  const sobrenome = parts.join(\" \") || \"\";\n  const nome_completo = [nome, sobrenome].filter(Boolean).join(\" \");\n  return { nome, sobrenome, nome_completo };\n}\n\n// 🔎 Extrair do payload\nconst nomeRaw     = inputData[\"name\"] || \"\";\nconst email       = inputData[\"email\"] || \"\";\nconst companyName = inputData[\"companyName\"] || \"\";\nconst planName    = inputData[\"planName\"] || \"\";\nconst planId      = inputData[\"planId\"] || \"\";\nconst maxUsers    = inputData[\"maxUsers\"] !== undefined ? String(inputData[\"maxUsers\"]) : \"\";\nconst timestamp   = inputData[\"timestamp\"] || \"\";\nconst TelefoneRaw = inputData[\"phone\"] || \"\";\nconst cnpj        = inputData[\"cnpj\"] || \"\";\nconst cpf         = inputData[\"cpf\"] || \"\";\nconst form_id     = inputData[\"pageId\"] || \"\";\nconst dataId      = inputData[\"dataId\"] || \"\";\n// UTMs\nconst utm_source   = inputData[\"utm_source\"]   || \"\";\nconst utm_campaign = inputData[\"utm_campaign\"] || \"\";\nconst utm_medium   = inputData[\"utm_medium\"]   || \"\";\nconst utm_term     = inputData[\"utm_term\"]     || \"\";\nconst utm_content  = inputData[\"utm_content\"]  || \"\";\n\n// 🧱 Montar o objeto final\nconst split = splitName(nomeRaw);\n\nconst result = {\n  nome: split.nome,\n  sobrenome: split.sobrenome,\n  nome_completo: split.nome_completo,\n\n  email: formatEmail(email),\n  Telefone: processTelefone(TelefoneRaw),\n\n  \"Nome da empresa\": companyName,\n  \"Tipo de plano\":   planName,\n  \"ID do plano\":     planId,\n  \"Usuários\":        maxUsers,    // string\n  \"CNPJ\":            cnpj,\n  \"CPF\":             cpf,\n\n  \"Data envio\": formatDateTimeGMT3(timestamp),  // ✅ ajustado aqui\n\n  form_id: form_id,\n  dataId: dataId,\n\n  utm_source,\n  utm_campaign,\n  utm_medium,\n  utm_term,\n  utm_content\n};\n\n// ✅ Retornar para o n8n\nreturn [{ json: result }];\n"
      },
      "id": "23f78533-cdde-4441-8b2c-b6b463408d6a",
      "name": "formata_dados3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        820,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_url_rotacionamento_colaboradores3\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "time",
              "value": "=SDR"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user3\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        100
      ],
      "id": "6a511290-d22a-4922-9d24-2fdef22ff2d9",
      "name": "consulta_sdr3"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Rotacionamento de Colaboradores"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "8ac37039-47ab-4613-ad5e-7760efee7086",
      "name": "pesquisa_url_rotacionamento_colaboradores3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1420,
        100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Users"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "34ba7010-87a9-4ec6-afc6-d656c7e823a6",
      "name": "pesquisa_variavel_n8n_fluxo_users3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1660,
        100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_funis3\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_forms",
              "value": "={{ $node[\"formata_dados3\"].json[\"form_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        100
      ],
      "id": "3fd8b957-317e-45cf-bc40-fa5982277e6c",
      "name": "busca_funil3"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Funis"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "16230c84-3ebf-4f7b-9beb-7a50fdf392e2",
      "name": "pesquisa_variavel_n8n_fluxo_funis3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1020,
        100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_users2\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"formata_dados2\"].json[\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"formata_dados2\"].json[\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"formata_dados2\"].json[\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"formata_dados2\"].json[\"Telefone\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        -140
      ],
      "id": "179f5954-11ab-417d-af87-cbee09e354ea",
      "name": "cria_atualiza_user2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/725e0999-ab66-43a3-a785-c5b1c7d30e61",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"formata_dados2\"].json[\"nome\"] }} {{ $node[\"formata_dados2\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"formata_dados2\"].json[\"Telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"formata_dados2\"].json[\"email\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados2\"].json[\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados2\"].json[\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados2\"].json[\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados2\"].json[\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados2\"].json[\"utm_content\"] }}"
            },
            {
              "name": "funil",
              "value": "=DCI - Diretor Comercial Inteligente"
            },
            {
              "name": "variacao_do_funil",
              "value": "=V1"
            },
            {
              "name": "Nome da empresa",
              "value": "={{ $node[\"formata_dados2\"].json[\"Nome da empresa\"] }}"
            },
            {
              "name": "Tipo de plano",
              "value": "={{ $node[\"formata_dados2\"].json[\"Tipo de plano\"] }}"
            },
            {
              "name": "ID do plano",
              "value": "={{ $node[\"formata_dados2\"].json[\"ID do plano\"] }}"
            },
            {
              "name": "Usuários",
              "value": "={{ $node[\"formata_dados2\"].json[\"Usuários\"] }}"
            },
            {
              "name": "CNPJ",
              "value": "={{ $node[\"formata_dados2\"].json[\"CNPJ\"] }}"
            },
            {
              "name": "CPF",
              "value": "={{ $node[\"formata_dados2\"].json[\"CPF\"] }}"
            },
            {
              "name": "Data envio",
              "value": "={{ $node[\"formata_dados2\"].json[\"Data envio\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "37ff6d55-19cd-479c-ad63-2092b625e979",
      "name": "create/update clint5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2280,
        -140
      ]
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_users3\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"formata_dados3\"].json[\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"formata_dados3\"].json[\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"formata_dados3\"].json[\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"formata_dados3\"].json[\"Telefone\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        100
      ],
      "id": "8f31993f-9146-48df-affe-d1b0a1a12728",
      "name": "cria_atualiza_user3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/3b0b6d11-a156-4b12-8c1d-5fcda38597c1",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"formata_dados3\"].json[\"nome\"] }} {{ $node[\"formata_dados3\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"formata_dados3\"].json[\"Telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"formata_dados3\"].json[\"email\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados3\"].json[\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados3\"].json[\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados3\"].json[\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados3\"].json[\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados3\"].json[\"utm_content\"] }}"
            },
            {
              "name": "funil",
              "value": "=DCI - Diretor Comercial Inteligente"
            },
            {
              "name": "variacao_do_funil",
              "value": "=V1"
            },
            {
              "name": "Nome da empresa",
              "value": "={{ $node[\"formata_dados3\"].json[\"Nome da empresa\"] }}"
            },
            {
              "name": "Tipo de plano",
              "value": "={{ $node[\"formata_dados3\"].json[\"Tipo de plano\"] }}"
            },
            {
              "name": "ID do plano",
              "value": "={{ $node[\"formata_dados3\"].json[\"ID do plano\"] }}"
            },
            {
              "name": "Usuários",
              "value": "={{ $node[\"formata_dados3\"].json[\"Usuários\"] }}"
            },
            {
              "name": "CNPJ",
              "value": "={{ $node[\"formata_dados3\"].json[\"CNPJ\"] }}"
            },
            {
              "name": "CPF",
              "value": "={{ $node[\"formata_dados3\"].json[\"CPF\"] }}"
            },
            {
              "name": "Data envio",
              "value": "={{ $node[\"formata_dados3\"].json[\"Data envio\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9eeafe3e-daf7-4920-b9c2-b94018b58f30",
      "name": "create/update clint6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2280,
        100
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ID Jonatã BC Closer 1",
              "value": "342800505"
            },
            {
              "name": "API-KEY",
              "value": "003f9285-2ed2-4d3c-8f84-18e5a8fab5d3"
            },
            {
              "name": "ID Natalia BC",
              "value": "768179930"
            },
            {
              "name": "ID Felipe  BC",
              "value": "747203618"
            },
            {
              "name": "ID Isabella BC Closer 3",
              "value": "695498921"
            },
            {
              "name": "ID Laiane BC Closer 4",
              "value": "445512667"
            },
            {
              "name": "ID Winicius BC",
              "value": "563485579"
            },
            {
              "name": "ID_grupo_novos_clientes",
              "value": "120363219650907550@g.us"
            },
            {
              "name": "url_base_evolution",
              "value": "https://apievolution.automagicbots.com.br/"
            },
            {
              "name": "instancia_nome",
              "value": "Fabricio-Nunnes"
            },
            {
              "name": "APIKEY_Evolution",
              "value": "D2977F0B8F6C-4B1F-A11C-D78FBA4D10A0"
            },
            {
              "name": "ID Rafael BC",
              "value": "269199328"
            },
            {
              "name": "ID Thiago BC",
              "value": "387179683"
            },
            {}
          ]
        },
        "options": {}
      },
      "id": "cfb5ecfa-7d70-4418-8738-56981f5911d6",
      "name": "infos_bc1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2500,
        -140
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"infos_bc1\"].json[\"ID Jonatã BC Closer 1\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "=🔔 NOTIFICAÇÃO 🔔\n\n🔔 NOVO LEAD NO FUNIL DCI 🔔\n\n*Nome*: {{ $node[\"formata_dados2\"].json[\"nome\"] }} {{ $node[\"formata_dados2\"].json[\"sobrenome\"] }}\n*E-mail*: {{ $node[\"formata_dados2\"].json[\"email\"] }}\n*Telefone*: {{ $node[\"formata_dados2\"].json[\"Telefone\"] }}\n*WhatsApp*: wa.me/{{ $node[\"formata_dados2\"].json[\"Telefone\"] }}\n*Data de Entrada no Funil*: {{ $now.toFormat('dd/MM/yyyy HH:mm') }}\n*Plano*: DCI - {{ $node[\"formata_dados2\"].json[\"Usuários\"] }} usuários"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"infos_bc1\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "avisa_Closer1_Jonatã1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2700,
        -140
      ],
      "id": "a94775ce-3174-464e-b16a-50680391e681",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"infos_bc1\"].json[\"ID Natalia BC\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "=🔔 NOTIFICAÇÃO 🔔\n\n🔔 NOVO LEAD NO FUNIL DCI 🔔\n\n*Nome*: {{ $node[\"formata_dados2\"].json[\"nome\"] }} {{ $node[\"formata_dados2\"].json[\"sobrenome\"] }}\n*E-mail*: {{ $node[\"formata_dados2\"].json[\"email\"] }}\n*Telefone*: {{ $node[\"formata_dados2\"].json[\"Telefone\"] }}\n*WhatsApp*: wa.me/{{ $node[\"formata_dados2\"].json[\"Telefone\"] }}\n*Data de Entrada no Funil*: {{ $now.toFormat('dd/MM/yyyy HH:mm') }}\n*Plano*: DCI - {{ $node[\"formata_dados2\"].json[\"Usuários\"] }} usuários"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"infos_bc1\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "avisa_Natalia1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2920,
        -140
      ],
      "id": "20848707-99eb-471e-aec7-bf3f1d2bf402",
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ID Jonatã BC Closer 1",
              "value": "342800505"
            },
            {
              "name": "API-KEY",
              "value": "003f9285-2ed2-4d3c-8f84-18e5a8fab5d3"
            },
            {
              "name": "ID Natalia BC",
              "value": "768179930"
            },
            {
              "name": "ID Felipe  BC",
              "value": "747203618"
            },
            {
              "name": "ID Isabella BC Closer 3",
              "value": "695498921"
            },
            {
              "name": "ID Laiane BC Closer 4",
              "value": "445512667"
            },
            {
              "name": "ID Winicius BC",
              "value": "563485579"
            },
            {
              "name": "ID_grupo_novos_clientes",
              "value": "120363219650907550@g.us"
            },
            {
              "name": "url_base_evolution",
              "value": "https://apievolution.automagicbots.com.br/"
            },
            {
              "name": "instancia_nome",
              "value": "Fabricio-Nunnes"
            },
            {
              "name": "APIKEY_Evolution",
              "value": "D2977F0B8F6C-4B1F-A11C-D78FBA4D10A0"
            },
            {
              "name": "ID Rafael BC",
              "value": "269199328"
            },
            {
              "name": "ID Thiago BC",
              "value": "387179683"
            },
            {}
          ]
        },
        "options": {}
      },
      "id": "b141df01-04ad-4c5e-bdec-2342a225d236",
      "name": "infos_bc2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2500,
        100
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"infos_bc2\"].json[\"ID Jonatã BC Closer 1\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "=🔔 NOTIFICAÇÃO 🔔\n\n🔔 NOVO LEAD NO FUNIL DCI 🔔\n\n*Nome*: {{ $node[\"formata_dados3\"].json[\"nome\"] }} {{ $node[\"formata_dados3\"].json[\"sobrenome\"] }}\n*E-mail*: {{ $node[\"formata_dados3\"].json[\"email\"] }}\n*Telefone*: {{ $node[\"formata_dados3\"].json[\"Telefone\"] }}\n*WhatsApp*: wa.me/{{ $node[\"formata_dados3\"].json[\"Telefone\"] }}\n*Data de Entrada no Funil*: {{ $now.toFormat('dd/MM/yyyy HH:mm') }}\n*Plano*: DCI - {{ $node[\"formata_dados3\"].json[\"Usuários\"] }} usuários"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"infos_bc2\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "avisa_Closer1_Jonatã2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2700,
        100
      ],
      "id": "0af382e7-1408-4f76-8b0a-98d8cd25799e",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"infos_bc2\"].json[\"ID Natalia BC\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "=🔔 NOTIFICAÇÃO 🔔\n\n🔔 NOVO LEAD NO FUNIL DCI 🔔\n\n*Nome*: {{ $node[\"formata_dados3\"].json[\"nome\"] }} {{ $node[\"formata_dados3\"].json[\"sobrenome\"] }}\n*E-mail*: {{ $node[\"formata_dados3\"].json[\"email\"] }}\n*Telefone*: {{ $node[\"formata_dados3\"].json[\"Telefone\"] }}\n*WhatsApp*: wa.me/{{ $node[\"formata_dados3\"].json[\"Telefone\"] }}\n*Data de Entrada no Funil*: {{ $now.toFormat('dd/MM/yyyy HH:mm') }}\n*Plano*: DCI - {{ $node[\"formata_dados3\"].json[\"Usuários\"] }} usuários"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"infos_bc2\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "avisa_Natalia2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2900,
        100
      ],
      "id": "684d8fb7-48c6-4ece-b1c1-feed62f5232f",
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "popup-dci",
        "options": {}
      },
      "id": "38c0692f-8254-4be2-b04b-0d217b611911",
      "name": "Popup-DCI-5",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        620,
        -360
      ],
      "webhookId": "e1da26b9-1518-4ee2-b60a-a96ddcd630a8"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "popup-dci-10",
        "options": {}
      },
      "id": "8c539ef6-eb41-4b36-9062-71993d17d773",
      "name": "Popup-DCI-10",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        620,
        -140
      ],
      "webhookId": "e1da26b9-1518-4ee2-b60a-a96ddcd630a8"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "fluxo_funil_v2",
          "mode": "list",
          "cachedResultName": "fluxo_funil_v2"
        },
        "where": {
          "values": [
            {
              "column": "id_etapa_funil",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "id": "ecdbb94e-85a1-4414-8ff2-93ab8c976116",
      "name": "pesquisa_fluxo_funil",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3740,
        -140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/send_flow/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"puxa_apikey_botconversa1\"].json[\"valor_variavel\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "={{ $node[\"pesquisa_fluxo_funil\"].json[\"id_fluxo\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "76f51ad0-bb6e-4e2d-a54f-db7e35fe7e9d",
      "name": "envia_fluxo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3920,
        -140
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $node[\"cria_atualiza_user2\"].json[\"id\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "e3ae4e6d-745e-4950-9619-0885b0d3fa0c",
      "name": "busca_user1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3340,
        -140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"busca_user1\"].json[\"telefone\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"busca_user1\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"busca_user1\"].json[\"sobrenome\"] || '.' }}"
            },
            {
              "name": "Email-da-Compra",
              "value": "={{ $node[\"busca_user1\"].json[\"email\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"puxa_apikey_botconversa1\"].json[\"valor_variavel\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3540,
        -140
      ],
      "id": "cbec9b1b-618f-4cae-a539-79620098e503",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "=API-KEY BOT CONVERSA"
            }
          ]
        },
        "options": {}
      },
      "id": "bb97f1b5-6fcb-425b-9ba5-c7fdffd0f3ba",
      "name": "puxa_apikey_botconversa1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3120,
        -140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/bot_fields/",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "003f9285-2ed2-4d3c-8f84-18e5a8fab5d3"
            }
          ]
        }
      },
      "name": "add_campo_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3380,
        460
      ],
      "id": "47150c03-3f75-46cd-9b51-9a86d74f893b",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "fluxo_funil_v2",
          "mode": "list",
          "cachedResultName": "fluxo_funil_v2"
        },
        "where": {
          "values": [
            {
              "column": "id_etapa_funil",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "id": "c9265769-2ea2-4711-b0bb-814738f92f49",
      "name": "pesquisa_fluxo_funil1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3740,
        -360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/send_flow/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"puxa_apikey_botconversa\"].json[\"valor_variavel\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "={{ $node[\"pesquisa_fluxo_funil1\"].json[\"id_fluxo\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "172929b9-61bc-47ba-813b-8442a9c78e62",
      "name": "envia_fluxo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3920,
        -360
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "378ad1fc-44b8-4315-8bad-c8a394a3ff60",
      "name": "busca_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3340,
        -360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"busca_user\"].json[\"telefone\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"busca_user\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"busca_user\"].json[\"sobrenome\"] || '.' }}"
            },
            {
              "name": "Email-da-Compra",
              "value": "={{ $node[\"busca_user\"].json[\"email\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"puxa_apikey_botconversa\"].json[\"valor_variavel\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3540,
        -360
      ],
      "id": "0efef436-2dc9-4c26-a14c-f50b4ba096f6",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "=API-KEY BOT CONVERSA"
            }
          ]
        },
        "options": {}
      },
      "id": "0dc7e609-9bb7-4847-a5dd-8ba922036d46",
      "name": "puxa_apikey_botconversa",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3120,
        -360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "fluxo_funil_v2",
          "mode": "list",
          "cachedResultName": "fluxo_funil_v2"
        },
        "where": {
          "values": [
            {
              "column": "id_etapa_funil",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "id": "81eae77e-3f52-4d9e-b9ad-4302b95e4654",
      "name": "pesquisa_fluxo_funil2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3720,
        100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato2\"].json[\"id\"] }}/send_flow/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"puxa_apikey_botconversa2\"].json[\"valor_variavel\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "={{ $node[\"pesquisa_fluxo_funil2\"].json[\"id_fluxo\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a69eef83-d7b0-4eef-a1ea-0567e7353f11",
      "name": "envia_fluxo2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3920,
        100
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $node[\"cria_atualiza_user3\"].json[\"id\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "a62fb8f6-e416-47f8-b055-7f7e625afb7c",
      "name": "busca_user2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3320,
        100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"busca_user2\"].json[\"telefone\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"busca_user2\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"busca_user2\"].json[\"sobrenome\"] || '.' }}"
            },
            {
              "name": "Email-da-Compra",
              "value": "={{ $node[\"busca_user2\"].json[\"email\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"puxa_apikey_botconversa2\"].json[\"valor_variavel\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3520,
        100
      ],
      "id": "1cf5d4a2-7303-4667-90f2-e1c04f7c9aa0",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "=API-KEY BOT CONVERSA"
            }
          ]
        },
        "options": {}
      },
      "id": "ad08e799-2ed6-4e4d-a5a5-a294febacc63",
      "name": "puxa_apikey_botconversa2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3100,
        100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "popup-dci-25",
        "options": {}
      },
      "id": "32dbcca4-1f12-4b74-87c9-2d92eda979c9",
      "name": "Popup-DCI-25",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        620,
        100
      ],
      "webhookId": "e1da26b9-1518-4ee2-b60a-a96ddcd630a8"
    }
  ],
  "pinData": {
    "Popup-DCI-5": [
      {
        "json": {
          "headers": {
            "host": "webhookeditorhetznerfabricionunnes.automagicbots.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36",
            "content-length": "390",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "https://dci-universidadevendas.vercel.app",
            "priority": "u=1, i",
            "referer": "https://dci-universidadevendas.vercel.app/",
            "sec-ch-ua": "\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "189.4.76.38",
            "x-forwarded-host": "webhookeditorhetznerfabricionunnes.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "77400aba3c69",
            "x-real-ip": "189.4.76.38"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Gustavo Uteme",
            "email": "gusta.utm@gmail.com",
            "companyName": "Uteme Evo",
            "planName": "Mensal",
            "planId": "137612",
            "maxUsers": 5,
            "timestamp": "2025-10-01T17:49:45.206Z",
            "phone": "48998151565",
            "cnpj": "90.400.311/0001-30",
            "cpf": "031.972.380-10",
            "pageId": "register-with-plan-popup",
            "dataId": "register-with-plan",
            "utm_source": "",
            "utm_campaign": "",
            "utm_medium": "",
            "utm_term": "",
            "utm_content": ""
          },
          "webhookUrl": "https://webhookeditorhetznerfabricionunnes.automagicbots.com.br/webhook/popup-dci",
          "executionMode": "production"
        }
      }
    ],
    "Popup-DCI-10": [
      {
        "json": {
          "headers": {
            "host": "webhookeditorhetznerfabricionunnes.automagicbots.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36",
            "content-length": "390",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "https://dci-universidadevendas.vercel.app",
            "priority": "u=1, i",
            "referer": "https://dci-universidadevendas.vercel.app/",
            "sec-ch-ua": "\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "189.4.76.38",
            "x-forwarded-host": "webhookeditorhetznerfabricionunnes.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "77400aba3c69",
            "x-real-ip": "189.4.76.38"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Gustavo Uteme",
            "email": "gusta.utm@gmail.com",
            "companyName": "Uteme Evo",
            "planName": "Mensal",
            "planId": "137612",
            "maxUsers": 5,
            "timestamp": "2025-10-01T17:49:45.206Z",
            "phone": "48998151565",
            "cnpj": "90.400.311/0001-30",
            "cpf": "031.972.380-10",
            "pageId": "register-with-plan-popup",
            "dataId": "register-with-plan",
            "utm_source": "",
            "utm_campaign": "",
            "utm_medium": "",
            "utm_term": "",
            "utm_content": ""
          },
          "webhookUrl": "https://webhookeditorhetznerfabricionunnes.automagicbots.com.br/webhook/popup-dci",
          "executionMode": "production"
        }
      }
    ],
    "Popup-DCI-25": [
      {
        "json": {
          "headers": {
            "host": "webhookeditorhetznerfabricionunnes.automagicbots.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "content-length": "468",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-PT,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "https://dci-universidadevendas.vercel.app",
            "priority": "u=1, i",
            "referer": "https://dci-universidadevendas.vercel.app/",
            "sec-ch-ua": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "201.17.208.252",
            "x-forwarded-host": "webhookeditorhetznerfabricionunnes.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "77400aba3c69",
            "x-real-ip": "201.17.208.252"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Maria Jose Teste",
            "email": "mariajose@gmail.com",
            "companyName": "Automação da Maria",
            "planName": "Anual",
            "planId": "137614?utm_source=typeform",
            "maxUsers": 25,
            "timestamp": "2025-10-01T21:06:19.731Z",
            "phone": "21988776655",
            "cnpj": "33.834.219/0001-45",
            "cpf": "936.958.900-70",
            "pageId": "register-with-plan-popup",
            "dataId": "register-with-plan",
            "utm_source": "",
            "utm_campaign": "quente",
            "utm_medium": "botao-typeform",
            "utm_term": "indicacao",
            "utm_content": "forms-indicacao"
          },
          "webhookUrl": "https://webhookeditorhetznerfabricionunnes.automagicbots.com.br/webhook/popup-dci-25",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Q8rgTKWALfDjS7MZ"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-10-02T21:10:41.616Z",
  "versionId": "76ae5806-adc8-466b-b7d6-7094b018869e"
}