workflows/⌚[FABRÍCIO NUNNES][BD][SE] - Calendly - Parte 1.json
{
  "active": true,
  "connections": {
    "Evento Criado": {
      "main": [
        [
          {
            "node": "É Reagendamento1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento": {
      "main": [
        [
          {
            "node": "reagendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento Criado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento1": {
      "main": [
        [
          {
            "node": "Não faça nada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelamento": {
      "main": [
        [
          {
            "node": "formata_dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reagendamento": {
      "main": [
        [
          {
            "node": "formata_dados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados": {
      "main": [
        [
          {
            "node": "pt_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados1": {
      "main": [
        [
          {
            "node": "dados_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados2": {
      "main": [
        [
          {
            "node": "pt_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sessao_estrategica": {
      "main": [
        [
          {
            "node": "É Reagendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SE-webinario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento Criado1": {
      "main": [
        [
          {
            "node": "É Reagendamento3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento2": {
      "main": [
        [
          {
            "node": "reagendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento Criado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento3": {
      "main": [
        [
          {
            "node": "Não faça nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formata_dados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados3": {
      "main": [
        [
          {
            "node": "dados_do_agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_fuso_portugal": {
      "main": [
        [
          {
            "node": "dados_do_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pt_1": {
      "main": [
        [
          {
            "node": "formata_fuso_portugal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_fuso_portugal1": {
      "main": [
        [
          {
            "node": "dados_do_reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pt_": {
      "main": [
        [
          {
            "node": "formata_fuso_portugal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SE-webinario": {
      "main": [
        [
          {
            "node": "É Reagendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento": {
      "main": [
        [
          {
            "node": "sessao_estrategica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_do_agendamento": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_do_reagendamento": {
      "main": [
        [
          {
            "node": "entra_na_fila1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_do_cancelamento": {
      "main": [
        [
          {
            "node": "entra_na_fila2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_funis": {
      "main": [
        [
          {
            "node": "busca_funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_funil": {
      "main": [
        [
          {
            "node": "pesquisa_url_rotacionamento_colaboradores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "fila_acoes_funis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consulta_sdr": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_url_rotacionamento_colaboradores": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_users": {
      "main": [
        [
          {
            "node": "cria_atualiza_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_atualiza_user": {
      "main": [
        [
          {
            "node": "consulta_sdr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados4": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_funis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-14T15:02:22.334Z",
  "id": "GND5Q4ocqmXI2mjn",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[FABRÍCIO NUNNES][BD][SE] - Calendly - Parte 1",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"event\"] }}",
              "value2": "invitee.created"
            }
          ]
        }
      },
      "id": "08aa4808-178d-4f5b-af29-a19bb673ef88",
      "name": "Evento Criado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1360,
        1580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "1a5a4abd-2741-415d-88e7-8e8b97dde98d",
      "name": "É Reagendamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1060,
        1280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"old_invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "31dfe076-21b2-42b2-9cef-fcdf1aee5049",
      "name": "É Reagendamento1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1620,
        1400
      ]
    },
    {
      "parameters": {},
      "id": "e46f2d23-8ec8-4c1e-a950-e8da1f0c61fb",
      "name": "Não faça nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1780,
        1300
      ]
    },
    {
      "parameters": {},
      "id": "66561641-d307-41cb-b663-11f6aacc4021",
      "name": "cancelamento",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1500,
        1720
      ]
    },
    {
      "parameters": {},
      "id": "0c218277-312f-4624-aafd-76419fb631c3",
      "name": "reagendamento",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1360,
        1140
      ]
    },
    {
      "parameters": {
        "queue": "Calendly-parte2",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "6f042a69-6657-4339-8c57-6fac8523c30d",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2480,
        1520
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date(payload.event.created_at);\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date(payload.event.start_time);\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date(payload.event.end_time);\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Buscar o telefone nos campos do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nlet telefone = '';\nconst questionsAndAnswers = payload.questions_and_answers;\nfor (let i = 0; i < questionsAndAnswers.length; i++) {\n  const answer = questionsAndAnswers[i].answer;\n  if (/^[\\+\\s\\d-]+$/.test(answer)) {\n    telefone = answer.replace(/[\\+\\s-]/g, '');\n    break;\n  }\n}\n\n// Extrair o DDI a partir do telefone limpo\nconst ddi = telefone.slice(0, 2);\n\n// Verificar se o DDI é igual a 55\nif (ddi === '55') {\n  const ddd = telefone.slice(2, 4);\n  if (Number(ddd) > 28) {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-8).replace(/\\s/g, '');\n  } else {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-9).replace(/\\s/g, '');\n  }\n} else {\n  telefone = telefone.replace(/[\\+\\s-]/g, ''); // Tratar como número internacional\n}\n\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula(payload.invitee.name);\n\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = payload.invitee.email.toLowerCase();\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n// Verificar se o telefone começa com 351 para identificar Portugal\nif (telefone.startsWith('351')) {\n  return {\n    'Data em que foi feito o Agendamento': dataAgendamento,\n    'Data de Início': dataInicio,\n    'Lembrete 24h': dataLembrete24h,\n    'Lembrete 2h': dataLembrete2h,\n    'Data de Término': dataTermino,\n    'Telefone': telefone,\n    'Nome': name,\n    'Email válido': isEmailValid,\n    'Email': email,\n    'País': 'Portugal' // Adicionar o parâmetro País se o telefone for de Portugal\n  };\n} else {\n  // Continuar com o código existente\n  // Formatar outros campos e retornar o objeto sem o parâmetro \"País\"\n  return {\n    'Data em que foi feito o Agendamento': dataAgendamento,\n    'Data de Início': dataInicio,\n    'Lembrete 24h': dataLembrete24h,\n    'Lembrete 2h': dataLembrete2h,\n    'Data de Término': dataTermino,\n    'Telefone': telefone,\n    'Nome': name,\n    'Email válido': isEmailValid,\n    'Email': email\n  };\n}\n"
      },
      "id": "e1dab7d7-e9b5-4020-aa50-1bc1739c5b8b",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1780,
        1520
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Acesse a data do JSON\nconst canceledAt = payload.event.canceled_at;\n\n// Crie um objeto de data a partir da string\nconst data = new Date(canceledAt);\n\n// Extraia o ano, mês e dia\nconst ano = data.getFullYear();\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Adiciona zero à esquerda, se necessário\nconst dia = String(data.getDate()).padStart(2, '0');\n\n// Crie a string formatada no formato YYYY-MM-DD\nconst dataCancelamento = `${ano}-${mes}-${dia}`;\n\n// Buscar o telefone nos campos do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nlet telefone = '';\nconst questionsAndAnswers = payload.questions_and_answers;\nfor (let i = 0; i < questionsAndAnswers.length; i++) {\n  const answer = questionsAndAnswers[i].answer;\n  if (/^[\\+\\s\\d-]+$/.test(answer)) {\n    telefone = answer.replace(/[\\+\\s-]/g, '');\n    break;\n  }\n}\n\n// Extrair o DDI a partir do telefone limpo\nconst ddi = telefone.slice(0, 2);\n\n// Verificar se o DDI é igual a 55\nif (ddi === '55') {\n  const ddd = telefone.slice(2, 4);\n  if (Number(ddd) > 28) {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-8).replace(/\\s/g, '');\n  } else {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-9).replace(/\\s/g, '');\n  }\n} else {\n  telefone = telefone.replace(/[\\+\\s-]/g, ''); // Tratar como número internacional\n}\n\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula(payload.invitee.name);\n\n// Retornar os resultados\nreturn {\n  'Telefone': telefone,\n  'Nome': name,\n  'Data do Cancelamento': dataCancelamento\n};\n"
      },
      "id": "52f9ff67-544a-422a-ab85-540a35236ea6",
      "name": "formata_dados1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1660,
        1720
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date(payload.new_event.created_at);\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Acesse a data do JSON\nconst canceledAt = payload.invitee.canceled_at;\n\n// Crie um objeto de data a partir da string\nconst data = new Date(canceledAt);\n\n// Extraia o ano, mês e dia\nconst ano = data.getFullYear();\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Adiciona zero à esquerda, se necessário\nconst dia = String(data.getDate()).padStart(2, '0');\n\n// Crie a string formatada no formato YYYY-MM-DD\nconst dataReagendamento = `${ano}-${mes}-${dia}`;\n\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date(payload.new_event.start_time);\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date(payload.new_event.end_time);\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Buscar o telefone nos campos do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nlet telefone = '';\nlet pais = ''; // Variável para armazenar o país\nconst questionsAndAnswers = payload.questions_and_answers;\nfor (let i = 0; i < questionsAndAnswers.length; i++) {\n  const answer = questionsAndAnswers[i].answer;\n  if (/^[\\+\\s\\d-]+$/.test(answer)) {\n    telefone = answer.replace(/[\\+\\s-]/g, '');\n    // Verificar se o telefone começa com \"351\" (código do país para Portugal)\n    if (telefone.startsWith('351')) {\n      pais = 'Portugal';\n    }\n    break;\n  }\n}\n\n// Extrair o DDI a partir do telefone limpo\nconst ddi = telefone.slice(0, 2);\n\n// Verificar se o DDI é igual a 55 ou 351\nif (ddi === '55') {\n  const ddd = telefone.slice(2, 4);\n  if (Number(ddd) > 28) {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-8).replace(/\\s/g, '');\n  } else {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-9).replace(/\\s/g, '');\n  }\n} else if (ddi === '351') {\n  telefone = '351' + telefone.slice(2); // Manter o formato para Portugal\n}\n\n// Função para formatar o nome com a primeira letra de cada palavra em maiúsculo,\n// levando em consideração as letras com acentos\nfunction formatarNome(nome) {\n  return nome\n    .toLowerCase()\n    .replace(/(?:^|\\s|[-'’])(\\S)/g, (match) => match.toUpperCase());\n}\n\n// Usar a função formatarNome para formatar o nome\nconst name = formatarNome(payload.new_invitee.name);\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = payload.new_invitee.email.toLowerCase();\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n\n// Pegar o parâmetro \"created_at\" e converter para o formato YYYY-MM-DD\nconst newCreatedAt = new Date(payload.new_event.created_at);\nconst newDataAgendamento = newCreatedAt.toISOString().slice(0, 10);\n\n// Pegar o parâmetro \"start_time\" e converter para o formato YYYY-MM-DD\nconst newStartTime = new Date(payload.new_event.start_time);\nconst newDataInicio = newStartTime.toISOString().split('T')[0];\n\n// Retornar os resultados\nreturn {\n  'Data em que foi feito o Reagendamento': dataReagendamento,\n  'Data de Início': dataInicio,\n  'Lembrete 24h': dataLembrete24h,\n  'Lembrete 2h': dataLembrete2h,\n  'Data de Término': dataTermino,\n  'Telefone': telefone,\n  'País': pais, // Adicionando o país ao output\n  'Nome': name,\n  'Email válido': isEmailValid,\n  'Email': email,\n  'data_inicio_evento_novo': newDataInicio,\n  'data_agendamento_evento_novo': newDataAgendamento\n};\n"
      },
      "id": "664635a6-6370-43c3-bc19-5b89a0403aa7",
      "name": "formata_dados2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1540,
        1140
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ae9772f6-1e2f-4eae-b369-65a8f0165a1a",
      "name": "cancelamento1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -760,
        1260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7aa95ec4-f71c-428a-be99-519bce97f2a4",
      "name": "reagendamento1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -760,
        1400
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"formata_dados2\"].json[\"Nome\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"formata_dados2\"].json[\"Email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node[\"formata_dados2\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados2\"].json[\"Telefone\"] }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"uuid\"] }}"
            },
            {
              "name": "Responsável pelo Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"extended_assigned_to\"][\"0\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"extended_assigned_to\"][\"0\"][\"email\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"formata_dados2\"].json[\"Data de Início\"].split('T')[0] }}"
            },
            {
              "name": "Data em que foi feito o Reagendamento",
              "value": "={{ $node[\"formata_dados2\"].json[\"Data em que foi feito o Reagendamento\"] }}"
            },
            {
              "name": "Data de Término",
              "value": "={{ $node[\"formata_dados2\"].json[\"Data de Término\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"start_time_pretty\"].split(',')[0].split('- ')[1].replace('Monday','Segunda').replace('Tuesday','Terça').replace('Wednesday','Quarta').replace('Thursday','Quinta').replace('Friday','Sexta').replace('Saturday','Sábado').replace('Sunday','Domingo') }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "Motivo do Reagendamento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"cancel_reason\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_invitee\"][\"uuid\"] }}"
            },
            {
              "name": "ID do Evento Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"uuid\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"name\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "003f9285-2ed2-4d3c-8f84-18e5a8fab5d3"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1045673"
            },
            {
              "name": "id_do_campo_inviteeid_bot_conversa",
              "value": "1045675"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1045669"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa",
              "value": "1045668"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1045528"
            },
            {
              "name": "fluxo_de_confirmacao_de_reagendamento",
              "value": "1769147"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"location\"] }}"
            },
            {
              "name": "ID do Cliente Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"uuid\"] }}"
            },
            {
              "name": "data_de_inicio_antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0] }}"
            },
            {
              "name": "hora_de_inicio_antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "Link da Reunião Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"location\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time_pretty\"].split(',')[0].split('- ')[1].replace('Monday','Segunda').replace('Tuesday','Terça').replace('Wednesday','Quarta').replace('Thursday','Quinta').replace('Friday','Sexta').replace('Saturday','Sábado').replace('Sunday','Domingo') }}"
            },
            {
              "name": "Data do Agendamento Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"created_at\"].split('T')[0] }} {{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"created_at\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "Responsável pelo Evento Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Responsável Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"] }}"
            },
            {
              "name": "data_de_inicio_novo",
              "value": "={{ $node[\"formata_dados2\"].json[\"data_inicio_evento_novo\"] }}"
            },
            {
              "name": "data_agendamento_novo",
              "value": "={{ $node[\"formata_dados2\"].json[\"data_agendamento_evento_novo\"] }} {{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"created_at\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "hora_de_inicio_novo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"start_time\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "1408048"
            },
            {
              "name": "funil",
              "value": "sessao_estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_do_campo_link_da_reuniao_bot_conversa",
              "value": "1045679"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa_pt",
              "value": "1853088"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa_pt",
              "value": "1853084"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa_pt",
              "value": "1852850"
            },
            {
              "name": "Data de Início com Reagendamento - PT",
              "value": "={{ $node[\"formata_fuso_portugal1\"].json[\"Data de Início com Adiantamento\"] }}"
            },
            {
              "name": "Data de Término com Adiantamento - PT",
              "value": "={{ $node[\"formata_fuso_portugal1\"].json[\"Data de Término com Adiantamento\"] }}"
            },
            {
              "name": "País",
              "value": "={{ $node[\"formata_dados2\"].json[\"País\"] }}"
            },
            {
              "name": "slug_do_evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "becdd569-1d06-4777-b106-f4e3e24a18a1",
      "name": "dados_do_reagendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2120,
        1140
      ]
    },
    {
      "parameters": {
        "scope": "organization",
        "events": [
          "invitee.created",
          "invitee.canceled"
        ]
      },
      "id": "97aae787-3215-461e-aa5b-9757840d49ca",
      "name": "Evento",
      "type": "n8n-nodes-base.calendlyTrigger",
      "typeVersion": 1,
      "position": [
        380,
        1280
      ],
      "webhookId": "83084baf-f19a-420a-b6e5-668b96a89ab2",
      "credentials": {
        "calendlyApi": {
          "id": "edqNGtteuzPrqMRP",
          "name": "[Calendly] - Fabrício"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node.formata_dados1.json.Telefone }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node.formata_dados1.json.Telefone }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"uuid\"] }}"
            },
            {
              "name": "Data do Cancelamento",
              "value": "={{ $node[\"formata_dados1\"].json[\"Data do Cancelamento\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"uuid\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "003f9285-2ed2-4d3c-8f84-18e5a8fab5d3"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1045673"
            },
            {
              "name": "id_do_campo_inviteeid_bot_conversa",
              "value": "1045675"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1045669"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa",
              "value": "1045668"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1045528"
            },
            {
              "name": "fluxo_de_confirmacao_de_cancelamento",
              "value": "1769093"
            },
            {
              "name": "id_do_campo_motivo_do_cancelamento_bot_conversa",
              "value": "1045683"
            },
            {
              "name": "Motivo do Cancelamento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"cancel_reason\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0] }}"
            },
            {
              "name": "Hora de Início",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"location\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"name\"] }}"
            },
            {
              "name": "Dia da Semana do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time_pretty\"].split(',')[0].split('- ')[1].replace('Monday','Segunda').replace('Tuesday','Terça').replace('Wednesday','Quarta').replace('Thursday','Quinta').replace('Friday','Sexta').replace('Saturday','Sábado').replace('Sunday','Domingo') }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "data_agendamento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"created_at\"].split('T')[0] }} {{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"created_at\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "1408048"
            },
            {
              "name": "data_termino_ac",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[0] }}"
            },
            {
              "name": "data_e_hora_de_termino",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[0].split('-')[2] }}/{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[0].split('-')[1] }}/{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[0].split('-')[0] }} {{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[1].split('-')[0].split(':')[0] }}:{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[1].split('-')[0].split(':')[1] }}"
            },
            {
              "name": "data_e_hora_de_inicio",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0].split('-')[2] }}/{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0].split('-')[1] }}/{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0].split('-')[0] }} {{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[1].split('-')[0].split(':')[0] }}:{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[1].split('-')[0].split(':')[1] }}"
            },
            {
              "name": "funil",
              "value": "sessao_estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"] }}"
            },
            {
              "name": "Nome do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"name\"] }}"
            },
            {
              "name": "id_campo_data_cancelamento_bot_conversa",
              "value": "1057942"
            },
            {
              "name": "slug_do_evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "8db83765-3c94-4d30-8360-8190f9e309e8",
      "name": "dados_do_cancelamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1820,
        1720
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node[\"formata_dados\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"name\"] }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"uuid\"] }}"
            },
            {
              "name": "Responsável pelo Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"formata_dados\"].json[\"Data de Início\"] }}"
            },
            {
              "name": "Data em que foi feito o Agendamento",
              "value": "={{ $node[\"formata_dados\"].json[\"Data em que foi feito o Agendamento\"] }}"
            },
            {
              "name": "Data de Término",
              "value": "={{ $node[\"formata_dados\"].json[\"Data de Término\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento",
              "value": "={{                $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time_pretty\"].split(',')[0].split('- ')[1].replace('Monday','Segunda').replace('Tuesday','Terça').replace('Wednesday','Quarta').replace('Thursday','Quinta').replace('Friday','Sexta').replace('Saturday','Sábado').replace('Sunday','Domingo')                  }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"location\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"uuid\"] }}"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1045673"
            },
            {
              "name": "fluxo_de_confirmacao_de_agendamento",
              "value": "4496635"
            },
            {
              "name": "API-KEY",
              "value": "003f9285-2ed2-4d3c-8f84-18e5a8fab5d3"
            },
            {
              "name": "id_do_campo_link_da_reuniao_bot_conversa",
              "value": "1045679"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1045528"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa",
              "value": "1045668"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1045669"
            },
            {
              "name": "id_do_campo_id_banco_de_dados_bot_conversa",
              "value": "1408048"
            },
            {
              "name": "funil",
              "value": "sessao_estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_do_campo_id_do_cliente_bot_conversa",
              "value": "1045675"
            },
            {
              "name": "id_do_campo_id_closer_responsavel_bot_conversa",
              "value": "1045682"
            },
            {
              "name": "id_do_campo_tipo_de_servico_bot_conversa",
              "value": "1050125"
            },
            {
              "name": "id_do_campo_email_se_bot_conversa",
              "value": "1045671"
            },
            {
              "name": "id_do_campo_quantos_vendedores_bot_conversa",
              "value": "1051569"
            },
            {
              "name": "id_do_campo_faturamento_mensal_bot_conversa",
              "value": "1051567"
            },
            {
              "name": "id_campo_tem_socio_bot_conversa",
              "value": "1408036"
            },
            {
              "name": "id_campo_nome_closer_responsavel_bot_conversa",
              "value": "1459264"
            },
            {
              "name": "Data em que foi feito o Agendamento - PT",
              "value": "={{ $node[\"pt_1\"].json[\"Data em que foi feito o Agendamento\"] }}"
            },
            {
              "name": "Data de Início - PT",
              "value": "={{ $node[\"formata_fuso_portugal\"].json[\"Nova Hora de Início\"] || \"\" }}"
            },
            {
              "name": "Data de Término - PT",
              "value": "={{ $node[\"formata_fuso_portugal\"].json[\"Nova Hora de Término\"] || \"\"}}"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa_pt",
              "value": "1853088"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa_pt",
              "value": "1853084"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa_pt",
              "value": "1852850"
            },
            {
              "name": "pais",
              "value": "={{ $node[\"formata_dados\"].json[\"País\"] }}"
            },
            {
              "name": "slug_do_evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f5b4d471-9476-4b71-a95a-b0a106b04d5b",
      "name": "dados_do_agendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2300,
        1520
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Observação\n\n- Use os Nodes abaixo para armazenar JSON de execuções de cancelamento e reagendamento para testes",
        "height": 832.1268195814445,
        "width": 468.74007115902964
      },
      "id": "94e7d739-0b26-471f-b031-170bc3d77b03",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        1060
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "operation": "contains",
              "value2": "sessao-estrategica"
            },
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "operation": "contains",
              "value2": "Sessão Estratégica Comercial"
            },
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "value2": "30min"
            },
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "operation": "contains",
              "value2": "funil-de-recuperacao"
            },
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "operation": "contains",
              "value2": "prospeccao-outbound"
            },
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "value2": "diagnostico-palestra"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "5444d147-77f9-487e-b42b-081233e416ef",
      "name": "sessao_estrategica",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        580,
        1280
      ]
    },
    {
      "parameters": {
        "queue": "Calendly - Reagendamentos",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "72f41db4-2709-4c1d-bd31-7f4eea0e9a60",
      "name": "entra_na_fila1",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2360,
        1140
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "queue": "Calendly - Cancelamentos",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "16119191-5915-4e1d-ac88-a1a01c84c725",
      "name": "entra_na_fila2",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2020,
        1720
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {},
      "id": "5122462a-824f-4b3a-a4df-dd1294c45247",
      "name": "nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        940,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"event\"] }}",
              "value2": "invitee.created"
            }
          ]
        }
      },
      "id": "3531924f-c3e1-4332-9202-5c4791f3fa1e",
      "name": "Evento Criado1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        1820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b340d6d2-b99c-47ff-9498-6f88c4b0afaf",
      "name": "É Reagendamento2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        1500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"old_invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "52bc99c2-f594-4d84-9ddd-95fca5a58807",
      "name": "É Reagendamento3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1420,
        1980
      ]
    },
    {
      "parameters": {},
      "id": "d2d9844a-fd95-4fce-84a8-e3492912cbd5",
      "name": "Não faça nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1640,
        1880
      ]
    },
    {
      "parameters": {
        "queue": "Calendly - Aplicação",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "133656e0-4252-4962-a657-c65e21e2ff56",
      "name": "entra_na_fila3",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2020,
        2060
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date(payload.event.created_at);\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date(payload.event.start_time);\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date(payload.event.end_time);\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Buscar o telefone nos campos do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nlet telefone = '';\nconst questionsAndAnswers = payload.questions_and_answers;\nfor (let i = 0; i < questionsAndAnswers.length; i++) {\n  const answer = questionsAndAnswers[i].answer;\n  if (/^[\\+\\s\\d-]+$/.test(answer)) {\n    telefone = answer.replace(/[\\+\\s-]/g, '');\n    break;\n  }\n}\n\n// Extrair o DDI a partir do telefone limpo\nconst ddi = telefone.slice(0, 2);\n\n// Verificar se o DDI é igual a 55\nif (ddi === '55') {\n  const ddd = telefone.slice(2, 4);\n  if (Number(ddd) > 28) {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-8).replace(/\\s/g, '');\n  } else {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-9).replace(/\\s/g, '');\n  }\n} else {\n  telefone = telefone.replace(/[\\+\\s-]/g, ''); // Tratar como número internacional\n}\n\n\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// ...\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula(payload.invitee.name);\n\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = payload.invitee.email.toLowerCase();\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n// Retornar os resultados\nreturn {\n  'Data em que foi feito o Agendamento': dataAgendamento,\n  'Data de Início': dataInicio,\n  'Lembrete 24h': dataLembrete24h,\n  'Lembrete 2h': dataLembrete2h,\n  'Data de Término': dataTermino,\n  'Telefone': telefone,\n  'Nome': name,\n  'Email válido': isEmailValid,\n  'Email': email\n};\n"
      },
      "id": "0e28050d-eca1-4361-89d8-d638b9388a75",
      "name": "formata_dados3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1640,
        2060
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node[\"formata_dados3\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados3\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"name\"] }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"uuid\"] }}"
            },
            {
              "name": "Responsável pelo Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"formata_dados3\"].json[\"Data de Início\"] }}"
            },
            {
              "name": "Data em que foi feito o Agendamento",
              "value": "={{ $node[\"formata_dados3\"].json[\"Data em que foi feito o Agendamento\"] }}"
            },
            {
              "name": "Data de Término",
              "value": "={{ $node[\"formata_dados3\"].json[\"Data de Término\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento",
              "value": "={{                $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time_pretty\"].split(',')[0].split('- ')[1].replace('Monday','Segunda').replace('Tuesday','Terça').replace('Wednesday','Quarta').replace('Thursday','Quinta').replace('Friday','Sexta').replace('Saturday','Sábado').replace('Sunday','Domingo')                  }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"location\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"uuid\"] }}"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1206236"
            },
            {
              "name": "fluxo_de_confirmacao_de_agendamento",
              "value": "2154265"
            },
            {
              "name": "API-KEY",
              "value": "75a53707-f01a-4637-b12b-123aed6631f6"
            },
            {
              "name": "id_do_campo_link_da_reuniao_bot_conversa",
              "value": "1206244"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1206199"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa",
              "value": "1206195"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1206206"
            },
            {
              "name": "id_do_campo_id_banco_de_dados_bot_conversa",
              "value": "1353478"
            },
            {
              "name": "id_do_campo_idleadac_bot_conversa",
              "value": "1353476"
            },
            {
              "name": "id_do_campo_iddealac_bot_conversa",
              "value": "1353477"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac",
              "value": "48"
            },
            {
              "name": "valor_produto_principal_em_centavos",
              "value": "1300000"
            },
            {
              "name": "id_stage_agendou_reuniao_ac",
              "value": "40"
            },
            {
              "name": "funil",
              "value": "aplicacao_direta"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_pipeline_se_ac",
              "value": "7"
            },
            {
              "name": "id_sdr",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"].replace('ceo@andressascherer.com.br','1').replace('comercial@andressascherer.com.br','8') }}"
            },
            {
              "name": "url_api_activecampaign",
              "value": "andressascherer"
            },
            {
              "name": "id_campo_link_de_cancelamento_ac",
              "value": "63"
            },
            {
              "name": "id_campo_link_de_reagendamento_ac",
              "value": "62"
            },
            {
              "name": "id_campo_id_do_cliente_ac",
              "value": "64"
            },
            {
              "name": "id_campo_dia_semana_agendamento_ac",
              "value": "54"
            },
            {
              "name": "id_campo_data_de_inicio_ac",
              "value": "56"
            },
            {
              "name": "id_campo_data_e_hora_de_inicio_ac",
              "value": "55"
            },
            {
              "name": "id_campo_data_e_hora_de_termino_ac",
              "value": "65"
            },
            {
              "name": "id_campo_data_de_termino_ac",
              "value": "59"
            },
            {
              "name": "id_campo_email_do_responsavel_ac",
              "value": "58"
            },
            {
              "name": "id_campo_data_do_agendamento_ac",
              "value": "57"
            },
            {
              "name": "id_campo_link_da_reuniao_ac",
              "value": "60"
            },
            {
              "name": "id_campo_tipo_de_evento_ac",
              "value": "61"
            },
            {
              "name": "id_campo_id_do_evento_ac",
              "value": "53"
            },
            {
              "name": "id_campo_utm_source_ac",
              "value": "67"
            },
            {
              "name": "id_campo_utm_campaign_ac",
              "value": "68"
            },
            {
              "name": "id_campo_utm_term_ac",
              "value": "69"
            },
            {
              "name": "id_campo_utm_medium_ac",
              "value": "70"
            },
            {
              "name": "id_campo_utm_content_ac",
              "value": "71"
            },
            {
              "name": "id_campo_utm_fun_ac",
              "value": "72"
            },
            {
              "name": "id_campo_utm_var_ac",
              "value": "73"
            },
            {
              "name": "id_do_campo_id_do_cliente_bot_conversa",
              "value": "1206238"
            },
            {
              "name": "id_task_reuniao_ac",
              "value": "4"
            }
          ]
        },
        "options": {}
      },
      "id": "189cab5b-8113-4474-b742-fec7269746f4",
      "name": "dados_do_agendamento1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1820,
        2060
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d811042a-d5d1-4853-8bff-2e27f009cfe6",
      "name": "agendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -760,
        1540
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "db05fba3-4ee7-4b86-bf09-183e57bfb617",
      "name": "agendamento_pt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -540,
        1540
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ded57ebc-6e1e-414d-975a-393e43bb0c6a",
      "name": "reagendamento_PT",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -540,
        1400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Função para ajustar a hora\nfunction ajustarHora(hora) {\n    // Se a hora for indefinida, retorna uma string vazia\n    if (!hora) return \"\";\n\n    // Divide a hora em horas e minutos\n    let [horas, minutos] = hora.split(':').map(Number);\n    \n    // Adiciona 3 horas\n    horas += 3;\n    \n    // Se ultrapassar 24 horas, ajusta para o dia seguinte\n    if (horas >= 24) {\n        horas -= 24;\n    }\n    \n    // Retorna a nova hora formatada\n    return `${horas}:${minutos < 10 ? '0' : ''}${minutos}`;\n}\n\n// Obtenha as horas de início e término\nlet horaInicio = $node[\"pt_1\"].json[\"Data de Início\"];\nlet horaTermino = $node[\"pt_1\"].json[\"Data de Término\"];\n\n// Ajuste as horas\nlet novaHoraInicio = ajustarHora(horaInicio);\nlet novaHoraTermino = ajustarHora(horaTermino);\n\n// Retorne um único objeto contendo ambas as novas horas\nreturn [{ \"Nova Hora de Início\": novaHoraInicio, \"Nova Hora de Término\": novaHoraTermino }];\n"
      },
      "id": "f2ee3304-46ad-46e2-8b8b-e2708257dbf3",
      "name": "formata_fuso_portugal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        1520
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Data em que foi feito o Agendamento",
              "stringValue": "={{ $node[\"formata_dados\"].json[\"Data em que foi feito o Agendamento\"].split(' ')[0].replace(',','') }}"
            },
            {
              "name": "Data de Início",
              "stringValue": "={{ $node[\"formata_dados\"].json[\"Data de Início\"].split(' ')[1] }}"
            },
            {
              "name": "Data de Término",
              "stringValue": "={{ $node[\"formata_dados\"].json[\"Data de Término\"].split(' ')[1] }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "052a45e0-99c7-41e9-aef4-90078206446f",
      "name": "pt_1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1940,
        1520
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "295aac41-4428-476c-94d9-123b54135510",
      "name": "cancelamento2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -540,
        1260
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obter os valores das datas fornecidas\nconst dataAgendamento = new Date($node[\"pt_\"].json[\"Data em que foi feito o Reagendamento\"]);\n\nconst convertStringToDate = (dateString) => {\n  const [dayMonthYear, time] = dateString.split(',');\n  const [day, month, year] = dayMonthYear.trim().split('/');\n  const [hour, minute] = time.trim().split(':');\n  return new Date(year, month - 1, day, hour, minute);\n};\n\n\nconst dataInicioString = $node[\"pt_\"].json[\"Data de Início\"];\nconst dataTerminoString = $node[\"pt_\"].json[\"Data de Término\"];\n\n// Converter as strings de data para objetos Date\nconst dataInicio = convertStringToDate(dataInicioString);\nconst dataTermino = convertStringToDate(dataTerminoString);\n\n// Adicionar 3 horas às datas\ndataAgendamento.setHours(dataAgendamento.getHours() + 3);\ndataInicio.setHours(dataInicio.getHours() + 3);\ndataTermino.setHours(dataTermino.getHours() + 3);\n\n// Converter as datas para o formato de string desejado (por exemplo, \"YYYY-MM-DD HH:mm:ss\")\nconst formatDate = (date) => {\n  const year = date.getFullYear();\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const day = String(date.getDate()).padStart(2, '0');\n  const hours = String(date.getHours()).padStart(2, '0');\n  const minutes = String(date.getMinutes()).padStart(2, '0');\n  const seconds = String(date.getSeconds()).padStart(2, '0');\n  \n  return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n};\n\n// Retornar as datas formatadas\nreturn {\n  \"Data em que foi feito o Agendamento com Reagendamento\": formatDate(dataAgendamento),\n  \"Data de Início com Adiantamento\": formatDate(dataInicio),\n  \"Data de Término com Adiantamento\": formatDate(dataTermino)\n};\n"
      },
      "id": "475f9b25-5d54-4b98-8367-a79857f7bb7e",
      "name": "formata_fuso_portugal1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        1140
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Data em que foi feito o Reagendamento",
              "stringValue": "={{ $node[\"formata_dados2\"].json[\"Data em que foi feito o Reagendamento\"].split('-')[2] }}/{{ $node[\"formata_dados2\"].json[\"Data em que foi feito o Reagendamento\"].split('-')[1] }}/{{ $node[\"formata_dados2\"].json[\"Data em que foi feito o Reagendamento\"].split('-')[0] }}"
            },
            {
              "name": "Data de Início",
              "stringValue": "={{ $node[\"formata_dados2\"].json[\"Data de Início\"] }}"
            },
            {
              "name": "Data de Término",
              "stringValue": "={{ $node[\"formata_dados2\"].json[\"Data de Término\"] }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "3c5bade5-2816-4c07-a32f-2b8bb28ab299",
      "name": "pt_",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1720,
        1140
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "operation": "contains",
              "value2": "webinario-gestao-comercial"
            }
          ]
        }
      },
      "id": "75fb5622-0490-4377-847e-6337febb9b9f",
      "name": "SE-webinario",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        1460
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "33624527-3dbf-4de8-81fb-c6d87f6d31a7",
      "name": "agendamento_head_comercial",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -740,
        1720
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8cdcd54d-f6f5-49f6-bf9e-d5676797df18",
      "name": "agendamento_leo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        320,
        1580
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fc8e1967-1196-4fb6-a0c7-14dcca8190a5",
      "name": "reagendamento_ana",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        320,
        1760
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Funis"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "b4fa8b2a-4f7d-4568-85e9-4e8b1aefbd53",
      "name": "pesquisa_variavel_n8n_fluxo_funis",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        860,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_funis\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_forms",
              "value": "={{ $node[\"formata_dados4\"].json[\"form_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        880
      ],
      "id": "50b7953d-c156-47bd-9738-2b676fba8546",
      "name": "busca_funil"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c74589e2-452e-44a5-8a49-b98c6fcdeca8",
              "name": "nome",
              "value": "={{ $node[\"formata_dados4\"].json[\"fname\"] }}",
              "type": "string"
            },
            {
              "id": "f17267b5-65b0-4c2b-b9f5-d719193bb457",
              "name": "sobrenome",
              "value": "={{ $node[\"formata_dados4\"].json[\"lname\"] }}",
              "type": "string"
            },
            {
              "id": "79edcf9f-8602-409f-8d04-ced41c06d16f",
              "name": "email",
              "value": "={{ $node[\"formata_dados4\"].json[\"email\"] }}",
              "type": "string"
            },
            {
              "id": "93103cc7-1870-4962-bb01-59462196b4de",
              "name": "telefone",
              "value": "={{ $node[\"formata_dados4\"].json[\"whatsapp\"] }}",
              "type": "string"
            },
            {
              "id": "4750507c-f44a-45d5-b5ce-2a681d5a5581",
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados4\"].json[\"utm_source\"] }}",
              "type": "string"
            },
            {
              "id": "a68b8a08-b2d1-4352-affb-0a6f4045cf4a",
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados4\"].json[\"utm_campaign\"] }}",
              "type": "string"
            },
            {
              "id": "71c74ec7-51b3-422e-a2d5-ae7bbf3bd1b0",
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados4\"].json[\"utm_term\"] }}",
              "type": "string"
            },
            {
              "id": "57aa10ae-6631-4352-8925-35138b1c9b7a",
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados4\"].json[\"utm_medium\"] }}",
              "type": "string"
            },
            {
              "id": "4e84ee54-3122-48e4-92d9-1f9db59e0b94",
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados4\"].json[\"utm_content\"] }}",
              "type": "string"
            },
            {
              "id": "2bb4770b-d984-4366-a4c5-6e323c3889c1",
              "name": "id_funil",
              "value": "={{ $node[\"busca_funil\"].json[\"id_funil\"] }}",
              "type": "string"
            },
            {
              "id": "b9134b79-303b-4d22-8c4c-36002bd7e7f8",
              "name": "instagram",
              "value": "={{ $node[\"formata_dados4\"].json[\"instagram\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "4b46ea13-5d79-4240-b419-11128000ccd0",
              "name": "id_agendamento",
              "value": "={{ $node[\"formata_dados4\"].json[\"id_agendamento\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "3119a327-9ecf-46bf-88ad-2580b947ef54",
              "name": "id_forms",
              "value": "={{ $node[\"busca_funil\"].json[\"id_forms\"] }}",
              "type": "string"
            },
            {
              "id": "a2bafec5-dec9-4b7a-89d2-90c739e203f5",
              "name": "tipo_forms",
              "value": "={{ $node[\"busca_funil\"].json[\"tipo_forms\"] }}",
              "type": "string"
            },
            {
              "id": "3e57b6fb-6ca1-4fa2-9361-afd053d76c60",
              "name": "link_da_reuniao",
              "value": "={{ $node[\"formata_dados4\"].json[\"link_call\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "3194e1c4-e4e3-4bd8-94a6-3571febefdb4",
              "name": "email_responsavel",
              "value": "={{ $node[\"formata_dados4\"].json[\"email_responsavel\"] }}",
              "type": "string"
            },
            {
              "id": "a7024d05-e41e-45dc-83cd-fb0f80532870",
              "name": "data_termino",
              "value": "={{ $node[\"formata_dados4\"].json[\"formattedEndTime\"] }}",
              "type": "string"
            },
            {
              "id": "e247fdee-27fd-4e2a-be7f-75566c7b4ec4",
              "name": "data_inicio",
              "value": "={{ $node[\"formata_dados4\"].json[\"formattedStartTime\"] }}",
              "type": "string"
            },
            {
              "id": "f9464d0c-ecdb-44f9-b598-16075561326b",
              "name": "data_do_agendamento",
              "value": "={{ $node[\"formata_dados4\"].json[\"dataAgendamento\"] }}",
              "type": "string"
            },
            {
              "id": "8b42365f-2bfc-414b-9d76-33123402cfa5",
              "name": "evento",
              "value": "={{ $node[\"formata_dados4\"].json[\"translatedTriggerEvent\"] }}",
              "type": "string"
            },
            {
              "id": "fa195efa-97bd-4da8-a5d3-0bbbf6214fa8",
              "name": "dia_call",
              "value": "={{ $node[\"formata_dados4\"].json[\"diaSemana\"] }}",
              "type": "string"
            },
            {
              "id": "b8d82f00-0e37-463d-8c75-b8a92df8bc5e",
              "name": "id_agendamento_reagendado",
              "value": "={{ $node[\"formata_dados4\"].json[\"id_agendamento_reagendado\"] }}",
              "type": "string"
            },
            {
              "id": "efddf712-bb47-4cff-a012-ddbdb1562aaa",
              "name": "nome_do_evento",
              "value": "={{ $node[\"formata_dados4\"].json[\"form_name\"] }}",
              "type": "string"
            },
            {
              "id": "941ba5a2-b41c-40b3-bf33-f83921afaa81",
              "name": "motivo_cancelamento",
              "value": "={{ $node[\"formata_dados4\"].json[\"motivo_cancelamento\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "75764743-9553-4332-a586-d81352fc4552",
              "name": "data_call_kommo",
              "value": "={{ $node[\"formata_dados4\"].json[\"formattedStartTimeDDMMYYYYHHMM\"] }}",
              "type": "string"
            },
            {
              "id": "862231fa-0d60-49e7-badd-7c007a4659ff",
              "name": "closer",
              "value": "={{ $node[\"consulta_sdr\"].json[\"nome\"] }}",
              "type": "string"
            },
            {
              "id": "31c1a84d-f8d2-478d-9df9-39dacfa33eb5",
              "name": "hora_inicio",
              "value": "={{ $node[\"formata_dados4\"].json[\"formattedStartTime\"].split (' ')[1] }}",
              "type": "string"
            },
            {
              "id": "e035de46-34b4-498c-a94a-e1edff82b301",
              "name": "link_reagendamento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"reschedule_url\"] }}",
              "type": "string"
            },
            {
              "id": "a5af7d6a-a427-4b53-b979-439be57aea8e",
              "name": "link_cancelamento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"cancel_url\"] }}",
              "type": "string"
            },
            {
              "id": "7da73125-c6d7-4cde-b4a6-7a192079a0d8",
              "name": "id_do_cliente",
              "value": "",
              "type": "string"
            },
            {
              "id": "2bb11e2f-a2ad-4ece-9366-90ac9560cef0",
              "name": "data_cancelamento",
              "value": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "79111658-aff5-4126-968f-729f9562f07c",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2140,
        880
      ]
    },
    {
      "parameters": {
        "queue": "Fila de Ações de Funis",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "c17831eb-676a-4949-b528-bb50dd7726ab",
      "name": "fila_acoes_funis",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2340,
        880
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_url_rotacionamento_colaboradores\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "time",
              "value": "={{ $node[\"busca_funil\"].json[\"tipo_forms\"].replace('Cadastro','SDR').replace('Aplicação','SDR').replace('Agendamento','Closer').replace('Pesquisa','SDR').replace('Checkout','Closer') }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "email_colaborador",
              "value": "={{ $item(\"0\").$node[\"formata_dados4\"].json[\"email_responsavel\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        880
      ],
      "id": "9f97d80f-7097-45b9-93af-7389cef7fded",
      "name": "consulta_sdr"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Rotacionamento de Colaboradores"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "f6ed20e2-a591-4175-bd91-732a15b3f666",
      "name": "pesquisa_url_rotacionamento_colaboradores",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1280,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Users"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "889e5464-5c17-4751-8937-2e12fdd13e53",
      "name": "pesquisa_variavel_n8n_fluxo_users",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1520,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_users\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"formata_dados4\"].json[\"fname\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"formata_dados4\"].json[\"lname\"] || \"\" }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"formata_dados4\"].json[\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"formata_dados4\"].json[\"whatsapp\"] || \"\" }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"formata_dados4\"].json[\"instagram\"] || \"\" }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node[\"formata_dados4\"].json[\"cpf\"] || \"\" }}"
            },
            {
              "name": "cnpj",
              "value": "={{ $node[\"formata_dados4\"].json[\"cnpj\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        880
      ],
      "id": "c415c008-a0f0-499c-a5f5-d8e8ff35e301",
      "name": "cria_atualiza_user"
    },
    {
      "parameters": {
        "jsCode": "// Capturar payload do nó \"Evento\"\nconst payload = $node[\"Evento\"].json.payload;\n\n// Capturar informações básicas\nconst fullNameAnswer = payload.invitee?.name || \"\";\nconst emailAnswer = payload.invitee?.email || \"\";\nconst telefoneClienteOriginal = payload.questions_and_answers?.find(q => q.question.includes(\"telefone\"))?.answer || \"\";\n\n// Obtém o responsável pelo evento\nconst responsavelEvento = payload.event?.extended_assigned_to?.[0]?.name || \"\";\nconst email_responsavel = payload.event?.extended_assigned_to?.[0]?.email || \"\";\n\n// Função para formatar nome corretamente\nfunction capitalizeName(fullName) {\n    if (!fullName) return { fname: \"\", lname: \"\", fullname: \"\" };\n\n    const lowerCaseWords = [\"da\", \"de\", \"do\", \"di\", \"du\"];\n    let words = fullName.toLowerCase().split(\" \").map((word, index) => \n        lowerCaseWords.includes(word) && index !== 0 ? word : word.charAt(0).toUpperCase() + word.slice(1)\n    );\n\n    let fname = words.shift();\n    let lname = words.join(\" \");\n    let fullname = lname ? `${fname} ${lname}` : fname;\n\n    return { fname, lname, fullname };\n}\n\n// Função para formatar telefone corretamente (Brasil)\nfunction formatPhone(phone) {\n    if (!phone) return \"\";\n\n    const telefoneLimpo = phone.replace(/\\D/g, \"\");\n    let DDI = \"55\";\n    let DDD = telefoneLimpo.slice(2, 4);\n    let numero = telefoneLimpo.slice(4);\n\n    if (numero.length === 8) {\n        numero = `9${numero}`;\n    }\n\n    return `${DDI}${DDD}${numero}`;\n}\n\n// Função para formatar data\nfunction formatDate(isoDate) {\n    if (!isoDate) return \"\";\n    const date = new Date(isoDate);\n    return date.toLocaleString('pt-BR', {\n        timeZone: 'America/Sao_Paulo',\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit'\n    });\n}\n\n// Dia da semana\nfunction obterDiaSemana(dataISO) {\n    const diasDaSemana = [\"Domingo\", \"Segunda-feira\", \"Terça-feira\", \"Quarta-feira\", \"Quinta-feira\", \"Sexta-feira\", \"Sábado\"];\n    const dataObj = new Date(dataISO);\n    return diasDaSemana[dataObj.getDay()];\n}\n\n// Capturar horários\nconst formattedEndTime = formatDate(payload.event?.end_time);\nconst formattedStartTime = formatDate(payload.event?.start_time);\nconst formattedCreatedAt = formatDate(payload.event?.created_at);\nconst diaSemana = obterDiaSemana(payload.event?.start_time);\n\n// Cancelamento\nconst motivoCancelamento = payload.event?.cancel_reason || \"\";\n\n// UTMs\nconst utm_source = payload.tracking?.utm_source || \"\";\nconst utm_campaign = payload.tracking?.utm_campaign || \"\";\nconst utm_term = payload.tracking?.utm_term || \"\";\nconst utm_medium = payload.tracking?.utm_medium || \"\";\nconst utm_content = payload.tracking?.utm_content || \"\";\n\n// Informações do evento\nconst form_id = payload.event_type?.uuid || \"\";\nconst form_name = payload.event_type?.name || \"\";\nconst id_agendamento = payload.event?.uuid || \"\";\nconst id_agendamento_reagendado = payload.old_invitee?.uuid || \"\";\nconst link_call = payload.event?.location || \"\";\n\n// Tipo de evento\nconst triggerEvent = $node[\"Evento\"].json.event;\n\nconst translatedTriggerEvent = {\n    \"invitee.created\": \"Agendamento\",\n    \"invitee.canceled\": \"Cancelamento\",\n    \"invitee.rescheduled\": \"Reagendamento\"\n}[triggerEvent] || \"Desconhecido\";\n\n// Formatações finais\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst telefoneFinal = formatPhone(telefoneClienteOriginal);\n\n// Retorno final\nreturn [{\n    json: {\n        ...formattedNames,\n        email: emailAnswer,\n        whatsapp: telefoneFinal,\n        utm_source,\n        utm_campaign,\n        utm_term,\n        utm_medium,\n        utm_content,\n        form_id,\n        form_name,\n        id_agendamento,\n        id_agendamento_reagendado,\n        link_call,\n        email_responsavel,\n        responsavelEvento,\n        formattedStartTime,\n        formattedEndTime,\n        dataAgendamento: formattedCreatedAt,\n        originalTriggerEvent: triggerEvent,\n        translatedTriggerEvent,\n        diaSemana,\n        motivo_cancelamento: motivoCancelamento\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        880
      ],
      "id": "978e6b79-373c-4843-b732-5f889f5999c1",
      "name": "formata_dados4"
    }
  ],
  "pinData": {
    "cancelamento1": [
      {
        "json": {
          "event": "invitee.canceled",
          "payload": {
            "event_type": {
              "uuid": "46da36ce-99b4-4677-9674-66d3d430f29a",
              "kind": "Round Robin",
              "slug": "sessao-estrategica-2023",
              "name": "SESSÃO ESTRATÉGICA 2023",
              "duration": 60,
              "owner": {
                "type": "teams",
                "uuid": "02124feb-7a78-4bfd-a2ac-ee9b8dcef01f"
              }
            },
            "event": {
              "uuid": "09fc61e9-d133-468d-9b83-2b8032dd4532",
              "assigned_to": [
                "[A] Renato Gonçalves "
              ],
              "extended_assigned_to": [
                {
                  "name": "[A] Renato Gonçalves ",
                  "email": "amoncsoliver@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2023-11-09T10:00:00-03:00",
              "start_time_pretty": "10:00am - Thursday, November 9, 2023",
              "invitee_start_time": "2023-11-09T10:00:00-03:00",
              "invitee_start_time_pretty": "10:00am - Thursday, November 9, 2023",
              "end_time": "2023-11-09T11:00:00-03:00",
              "end_time_pretty": "11:00am - Thursday, November 9, 2023",
              "invitee_end_time": "2023-11-09T11:00:00-03:00",
              "invitee_end_time_pretty": "11:00am - Thursday, November 9, 2023",
              "created_at": "2023-11-07T22:35:53-03:00",
              "location": "https://calendly.com/events/09fc61e9-d133-468d-9b83-2b8032dd4532/google_meet",
              "canceled": true,
              "canceler_name": "Renato - Pai do Drop",
              "cancel_reason": "",
              "canceled_at": "2023-11-08T08:25:30-03:00"
            },
            "invitee": {
              "uuid": "a67f300d-8a83-4d57-8d54-47c22bf927c8",
              "first_name": null,
              "last_name": null,
              "name": "Leanders Mota",
              "email": "leanders.mota@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2023-11-07T22:35:53-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": true,
              "canceler_name": "Renato - Pai do Drop",
              "cancel_reason": "",
              "canceled_at": "2023-11-08T08:25:30-03:00"
            },
            "questions_and_answers": [
              {
                "question": "Por favor, compartilhe qualquer coisa que possa ser útil para a preparação da nossa reunião.",
                "answer": "Tenho 2 ramos de atividade distintos e quero alavancar os dois."
              },
              {
                "question": "Qual seu número de Whatsapp?",
                "answer": "+55 75 99158-8202"
              }
            ],
            "questions_and_responses": {
              "1_question": "Por favor, compartilhe qualquer coisa que possa ser útil para a preparação da nossa reunião.",
              "1_response": "Tenho 2 ramos de atividade distintos e quero alavancar os dois.",
              "2_question": "Qual seu número de Whatsapp?",
              "2_response": "+55 75 99158-8202"
            },
            "tracking": {
              "utm_campaign": "sessao_estrategica",
              "utm_source": "meta",
              "utm_medium": "cpc",
              "utm_content": "ad34",
              "utm_term": "magento",
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": null,
            "new_invitee": null
          },
          "time": "2023-11-08T11:25:31Z"
        }
      }
    ],
    "reagendamento1": [
      {
        "json": {
          "event": "invitee.canceled",
          "payload": {
            "event_type": {
              "uuid": "46da36ce-99b4-4677-9674-66d3d430f29a",
              "kind": "Round Robin",
              "slug": "sessao-estrategica-2023",
              "name": "SESSÃO ESTRATÉGICA 2023",
              "duration": 60,
              "owner": {
                "type": "teams",
                "uuid": "02124feb-7a78-4bfd-a2ac-ee9b8dcef01f"
              }
            },
            "event": {
              "uuid": "9790b2b5-2457-4c88-afda-f2501ec17bde",
              "assigned_to": [
                "[T] Renato Gonçalves"
              ],
              "extended_assigned_to": [
                {
                  "name": "[T] Renato Gonçalves",
                  "email": "tais.suportee@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2023-11-03T17:00:00-03:00",
              "start_time_pretty": "05:00pm - Friday, November 3, 2023",
              "invitee_start_time": "2023-11-03T17:00:00-03:00",
              "invitee_start_time_pretty": "05:00pm - Friday, November 3, 2023",
              "end_time": "2023-11-03T18:00:00-03:00",
              "end_time_pretty": "06:00pm - Friday, November 3, 2023",
              "invitee_end_time": "2023-11-03T18:00:00-03:00",
              "invitee_end_time_pretty": "06:00pm - Friday, November 3, 2023",
              "created_at": "2023-10-31T14:47:03-03:00",
              "location": "https://calendly.com/events/9790b2b5-2457-4c88-afda-f2501ec17bde/google_meet",
              "canceled": true,
              "canceler_name": "Renato - Pai do Drop",
              "cancel_reason": null,
              "canceled_at": "2023-11-03T17:36:24-03:00"
            },
            "invitee": {
              "uuid": "b9c587b3-71b5-4a50-b6f9-6ec00c30cec9",
              "first_name": null,
              "last_name": null,
              "name": "Henrique",
              "email": "henrique.pitaluga@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2023-10-31T14:47:03-03:00",
              "is_reschedule": true,
              "payments": [],
              "canceled": true,
              "canceler_name": "Renato - Pai do Drop",
              "cancel_reason": null,
              "canceled_at": "2023-11-03T17:36:24-03:00"
            },
            "questions_and_answers": [
              {
                "question": "Por favor, compartilhe qualquer coisa que possa ser útil para a preparação da nossa reunião.",
                "answer": "Boa tarde ! Estamos iniciando o projeto da nossa loja: www.casasouvenir.com.br, ja mineramos alguns produtos mas sem validação ate o momento, estamos montando a estrutura da loja pela shopify, dominio pela godaddy, checkout pela yamppi, pagamento pelo mercado pago. Em relacao ao trafego nao iniciamos ainda, e temos que estudar mais sobre o assunto e estrategias para os produtos. Nossa loja esta com nicho de produtos para casa em geral. Estamos um pouco perdidos em relação a quando podemos inicar a parte de trafego pago, e divisao de tarefas entre os dois mebros da equipe (eu e mais o Andre). Agradeço des de ja ! "
              },
              {
                "question": "Qual seu número de Whatsapp?",
                "answer": "+55 45 99820-8879"
              }
            ],
            "questions_and_responses": {
              "1_question": "Por favor, compartilhe qualquer coisa que possa ser útil para a preparação da nossa reunião.",
              "1_response": "Boa tarde ! Estamos iniciando o projeto da nossa loja: www.casasouvenir.com.br, ja mineramos alguns produtos mas sem validação ate o momento, estamos montando a estrutura da loja pela shopify, dominio pela godaddy, checkout pela yamppi, pagamento pelo mercado pago. Em relacao ao trafego nao iniciamos ainda, e temos que estudar mais sobre o assunto e estrategias para os produtos. Nossa loja esta com nicho de produtos para casa em geral. Estamos um pouco perdidos em relação a quando podemos inicar a parte de trafego pago, e divisao de tarefas entre os dois mebros da equipe (eu e mais o Andre). Agradeço des de ja ! ",
              "2_question": "Qual seu número de Whatsapp?",
              "2_response": "+55 45 99820-8879"
            },
            "tracking": {
              "utm_campaign": "sessao_estrategica",
              "utm_source": "meta",
              "utm_medium": "cpc",
              "utm_content": "ad34",
              "utm_term": "magento",
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": {
              "uuid": "6bdf9445-16ad-4a01-a02b-cabd3d70da29",
              "assigned_to": [
                "[T] Renato Gonçalves"
              ],
              "extended_assigned_to": [
                {
                  "name": "[T] Renato Gonçalves",
                  "email": "tais.suportee@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2023-11-06T16:00:00-03:00",
              "start_time_pretty": "04:00pm - Monday, November 6, 2023",
              "invitee_start_time": "2023-11-06T16:00:00-03:00",
              "invitee_start_time_pretty": "04:00pm - Monday, November 6, 2023",
              "end_time": "2023-11-06T17:00:00-03:00",
              "end_time_pretty": "05:00pm - Monday, November 6, 2023",
              "invitee_end_time": "2023-11-06T17:00:00-03:00",
              "invitee_end_time_pretty": "05:00pm - Monday, November 6, 2023",
              "created_at": "2023-11-03T17:36:24-03:00",
              "location": "https://calendly.com/events/6bdf9445-16ad-4a01-a02b-cabd3d70da29/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "new_invitee": {
              "uuid": "0adaee2c-db50-487b-b552-cbacb3b597bc",
              "first_name": null,
              "last_name": null,
              "name": "Henrique",
              "email": "henrique.pitaluga@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2023-11-03T17:36:24-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            }
          },
          "time": "2023-11-03T20:36:24Z"
        }
      }
    ],
    "Evento": [
      {
        "json": {
          "event": "invitee.canceled",
          "payload": {
            "event_type": {
              "uuid": "9a89c12e-b4b7-45b6-b462-5ffb9c869d80",
              "kind": "Round Robin",
              "slug": "sessao-estrategica",
              "name": "Sessão Estratégica Comercial",
              "duration": 45,
              "owner": {
                "type": "teams",
                "uuid": "5cd25daf-bf05-457d-92c5-2721ece75eee"
              }
            },
            "event": {
              "uuid": "562ab407-4b9c-49d1-b9dd-a391f77211a8",
              "assigned_to": [
                "Jonatã Almeida"
              ],
              "extended_assigned_to": [
                {
                  "name": "Jonatã Almeida",
                  "email": "closer1@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2025-05-21T15:00:00-03:00",
              "start_time_pretty": "03:00pm - Wednesday, May 21, 2025",
              "invitee_start_time": "2025-05-21T15:00:00-03:00",
              "invitee_start_time_pretty": "03:00pm - Wednesday, May 21, 2025",
              "end_time": "2025-05-21T15:45:00-03:00",
              "end_time_pretty": "03:45pm - Wednesday, May 21, 2025",
              "invitee_end_time": "2025-05-21T15:45:00-03:00",
              "invitee_end_time_pretty": "03:45pm - Wednesday, May 21, 2025",
              "created_at": "2025-05-19T07:25:34-03:00",
              "location": "https://calendly.com/events/562ab407-4b9c-49d1-b9dd-a391f77211a8/google_meet",
              "canceled": true,
              "canceler_name": "Flavia",
              "cancel_reason": "filha doente ",
              "canceled_at": "2025-05-21T11:31:09-03:00"
            },
            "invitee": {
              "uuid": "08b24234-49e8-491c-8cea-9e86c024bcad",
              "first_name": null,
              "last_name": null,
              "name": "Flavia",
              "email": "flahgouveia@hotmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2025-05-19T07:25:34-03:00",
              "is_reschedule": true,
              "payments": [],
              "canceled": true,
              "canceler_name": "Flavia",
              "cancel_reason": "filha doente ",
              "canceled_at": "2025-05-21T11:31:09-03:00"
            },
            "questions_and_answers": [
              {
                "question": "Qual seu telefone?",
                "answer": "+55 35 99131-1447"
              }
            ],
            "questions_and_responses": {
              "1_question": "Qual seu telefone?",
              "1_response": "+55 35 99131-1447"
            },
            "tracking": {
              "utm_campaign": "[LF] [SE] [CAPTAÇÃO] [CADASTRO] [IG] [F] Público Frio antigos",
              "utm_source": "ig",
              "utm_medium": "Instagram_Feed",
              "utm_content": "02 - [IG] [F] Empresários",
              "utm_term": "SE_AD031",
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": {
              "uuid": "f7a07195-6313-4f83-9ec4-72cc1d6eeb3f",
              "assigned_to": [
                "Michelle Nunes"
              ],
              "extended_assigned_to": [
                {
                  "name": "Michelle Nunes",
                  "email": "michelle.nunes@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2025-05-23T17:00:00-03:00",
              "start_time_pretty": "05:00pm - Friday, May 23, 2025",
              "invitee_start_time": "2025-05-23T17:00:00-03:00",
              "invitee_start_time_pretty": "05:00pm - Friday, May 23, 2025",
              "end_time": "2025-05-23T17:45:00-03:00",
              "end_time_pretty": "05:45pm - Friday, May 23, 2025",
              "invitee_end_time": "2025-05-23T17:45:00-03:00",
              "invitee_end_time_pretty": "05:45pm - Friday, May 23, 2025",
              "created_at": "2025-05-21T11:31:09-03:00",
              "location": "https://calendly.com/events/f7a07195-6313-4f83-9ec4-72cc1d6eeb3f/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "new_invitee": {
              "uuid": "f93b1144-d763-457d-a558-c71e5557a483",
              "first_name": null,
              "last_name": null,
              "name": "Flavia",
              "email": "flahgouveia@hotmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2025-05-21T11:31:09-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            }
          },
          "time": "2025-05-21T14:31:11Z"
        }
      }
    ],
    "agendamento": [
      {
        "json": {
          "event": "invitee.created",
          "payload": {
            "event_type": {
              "uuid": "9a89c12e-b4b7-45b6-b462-5ffb9c869d80",
              "kind": "Round Robin",
              "slug": "sessao-estrategica",
              "name": "Sessão Estratégica Comercial",
              "duration": 30,
              "owner": {
                "type": "teams",
                "uuid": "5cd25daf-bf05-457d-92c5-2721ece75eee"
              }
            },
            "event": {
              "uuid": "10ca28c1-8d73-4902-9a90-6f34238140e4",
              "assigned_to": [
                "Gabriel Borges"
              ],
              "extended_assigned_to": [
                {
                  "name": "Gabriel Borges",
                  "email": "closer2@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2023-11-10T10:00:00-03:00",
              "start_time_pretty": "10:00am - Friday, November 10, 2023",
              "invitee_start_time": "2023-11-10T10:00:00-03:00",
              "invitee_start_time_pretty": "10:00am - Friday, November 10, 2023",
              "end_time": "2023-11-10T10:30:00-03:00",
              "end_time_pretty": "10:30am - Friday, November 10, 2023",
              "invitee_end_time": "2023-11-10T10:30:00-03:00",
              "invitee_end_time_pretty": "10:30am - Friday, November 10, 2023",
              "created_at": "2023-11-08T18:24:13-03:00",
              "location": "https://calendly.com/events/10ca28c1-8d73-4902-9a90-6f34238140e4/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "invitee": {
              "uuid": "c30df326-2d4a-427e-b2f6-c9d2a36651d8",
              "first_name": null,
              "last_name": null,
              "name": "Fernando",
              "email": "fitcargas@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2023-11-08T18:24:13-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "questions_and_answers": [
              {
                "question": "Qual seu telefone?",
                "answer": "+55 81 99939-0009"
              }
            ],
            "questions_and_responses": {
              "1_question": "Qual seu telefone?",
              "1_response": "+55 81 99939-0009"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": null,
            "new_invitee": null
          },
          "time": "2023-11-08T21:24:13Z"
        }
      }
    ],
    "agendamento_pt": [
      {
        "json": {
          "event": "invitee.created",
          "payload": {
            "event_type": {
              "uuid": "9a89c12e-b4b7-45b6-b462-5ffb9c869d80",
              "kind": "Round Robin",
              "slug": "sessao-estrategica",
              "name": "Sessão Estratégica Comercial",
              "duration": 45,
              "owner": {
                "type": "teams",
                "uuid": "5cd25daf-bf05-457d-92c5-2721ece75eee"
              }
            },
            "event": {
              "uuid": "ac29233f-f155-4e83-9000-704b13180e88",
              "assigned_to": [
                "Jonatã Almeida"
              ],
              "extended_assigned_to": [
                {
                  "name": "Jonatã Almeida",
                  "email": "closer1@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-02-12T12:30:00-03:00",
              "start_time_pretty": "12:30pm - Monday, February 12, 2024",
              "invitee_start_time": "2024-02-12T12:30:00-03:00",
              "invitee_start_time_pretty": "12:30pm - Monday, February 12, 2024",
              "end_time": "2024-02-12T13:15:00-03:00",
              "end_time_pretty": "01:15pm - Monday, February 12, 2024",
              "invitee_end_time": "2024-02-12T13:15:00-03:00",
              "invitee_end_time_pretty": "01:15pm - Monday, February 12, 2024",
              "created_at": "2024-02-08T10:20:16-03:00",
              "location": "https://calendly.com/events/ac29233f-f155-4e83-9000-704b13180e88/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "invitee": {
              "uuid": "1e801f7a-9239-4106-956d-6308086e569a",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz PT",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-02-08T10:20:16-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "questions_and_answers": [
              {
                "question": "Qual seu telefone?",
                "answer": "+351 963 840 378"
              }
            ],
            "questions_and_responses": {
              "1_question": "Qual seu telefone?",
              "1_response": "+351 963 840 378"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": null,
            "new_invitee": null
          },
          "time": "2024-02-08T13:20:17Z"
        }
      }
    ],
    "reagendamento_PT": [
      {
        "json": {
          "event": "invitee.canceled",
          "payload": {
            "event_type": {
              "uuid": "9a89c12e-b4b7-45b6-b462-5ffb9c869d80",
              "kind": "Round Robin",
              "slug": "sessao-estrategica",
              "name": "Sessão Estratégica Comercial",
              "duration": 45,
              "owner": {
                "type": "teams",
                "uuid": "5cd25daf-bf05-457d-92c5-2721ece75eee"
              }
            },
            "event": {
              "uuid": "83fd490a-e6e7-43f3-aded-2bb4722e5077",
              "assigned_to": [
                "Jonatã Almeida"
              ],
              "extended_assigned_to": [
                {
                  "name": "Jonatã Almeida",
                  "email": "closer1@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-02-10T15:15:00-03:00",
              "start_time_pretty": "03:15pm - Saturday, February 10, 2024",
              "invitee_start_time": "2024-02-10T15:15:00-03:00",
              "invitee_start_time_pretty": "03:15pm - Saturday, February 10, 2024",
              "end_time": "2024-02-10T16:00:00-03:00",
              "end_time_pretty": "04:00pm - Saturday, February 10, 2024",
              "invitee_end_time": "2024-02-10T16:00:00-03:00",
              "invitee_end_time_pretty": "04:00pm - Saturday, February 10, 2024",
              "created_at": "2024-02-08T16:33:54-03:00",
              "location": "https://calendly.com/events/83fd490a-e6e7-43f3-aded-2bb4722e5077/google_meet",
              "canceled": true,
              "canceler_name": "Vitor Queiroz de Almeida",
              "cancel_reason": null,
              "canceled_at": "2024-02-08T16:34:58-03:00"
            },
            "invitee": {
              "uuid": "834ffed7-75a6-4fd9-8e47-c473b3a297f5",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-02-08T16:33:54-03:00",
              "is_reschedule": true,
              "payments": [],
              "canceled": true,
              "canceler_name": "Vitor Queiroz de Almeida",
              "cancel_reason": null,
              "canceled_at": "2024-02-08T16:34:58-03:00"
            },
            "questions_and_answers": [
              {
                "question": "Qual seu telefone?",
                "answer": "+351 963 840 378"
              }
            ],
            "questions_and_responses": {
              "1_question": "Qual seu telefone?",
              "1_response": "+351 963 840 378"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": {
              "uuid": "e4c6c661-84cd-44ae-8e27-b3bf334b1cd9",
              "assigned_to": [
                "Jonatã Almeida"
              ],
              "extended_assigned_to": [
                {
                  "name": "Jonatã Almeida",
                  "email": "closer1@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-02-13T09:00:00-03:00",
              "start_time_pretty": "09:00am - Tuesday, February 13, 2024",
              "invitee_start_time": "2024-02-13T09:00:00-03:00",
              "invitee_start_time_pretty": "09:00am - Tuesday, February 13, 2024",
              "end_time": "2024-02-13T09:45:00-03:00",
              "end_time_pretty": "09:45am - Tuesday, February 13, 2024",
              "invitee_end_time": "2024-02-13T09:45:00-03:00",
              "invitee_end_time_pretty": "09:45am - Tuesday, February 13, 2024",
              "created_at": "2024-02-08T16:34:58-03:00",
              "location": "https://calendly.com/events/e4c6c661-84cd-44ae-8e27-b3bf334b1cd9/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "new_invitee": {
              "uuid": "736cf580-4fd1-4f3b-869d-53d8ffa7d5b2",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-02-08T16:34:58-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            }
          },
          "time": "2024-02-08T19:34:58Z"
        }
      }
    ],
    "cancelamento2": [
      {
        "json": {
          "event": "invitee.canceled",
          "payload": {
            "event_type": {
              "uuid": "9a89c12e-b4b7-45b6-b462-5ffb9c869d80",
              "kind": "Round Robin",
              "slug": "sessao-estrategica",
              "name": "Sessão Estratégica Comercial",
              "duration": 45,
              "owner": {
                "type": "teams",
                "uuid": "5cd25daf-bf05-457d-92c5-2721ece75eee"
              }
            },
            "event": {
              "uuid": "e4c6c661-84cd-44ae-8e27-b3bf334b1cd9",
              "assigned_to": [
                "Jonatã Almeida"
              ],
              "extended_assigned_to": [
                {
                  "name": "Jonatã Almeida",
                  "email": "closer1@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-02-13T09:00:00-03:00",
              "start_time_pretty": "09:00am - Tuesday, February 13, 2024",
              "invitee_start_time": "2024-02-13T09:00:00-03:00",
              "invitee_start_time_pretty": "09:00am - Tuesday, February 13, 2024",
              "end_time": "2024-02-13T09:45:00-03:00",
              "end_time_pretty": "09:45am - Tuesday, February 13, 2024",
              "invitee_end_time": "2024-02-13T09:45:00-03:00",
              "invitee_end_time_pretty": "09:45am - Tuesday, February 13, 2024",
              "created_at": "2024-02-08T16:34:58-03:00",
              "location": "https://calendly.com/events/e4c6c661-84cd-44ae-8e27-b3bf334b1cd9/google_meet",
              "canceled": true,
              "canceler_name": "Vitor Queiroz de Almeida",
              "cancel_reason": "",
              "canceled_at": "2024-02-08T16:38:24-03:00"
            },
            "invitee": {
              "uuid": "736cf580-4fd1-4f3b-869d-53d8ffa7d5b2",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-02-08T16:34:58-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": true,
              "canceler_name": "Vitor Queiroz de Almeida",
              "cancel_reason": "",
              "canceled_at": "2024-02-08T16:38:24-03:00"
            },
            "questions_and_answers": [
              {
                "question": "Qual seu telefone?",
                "answer": "+351 963 840 378"
              }
            ],
            "questions_and_responses": {
              "1_question": "Qual seu telefone?",
              "1_response": "+351 963 840 378"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": {
              "uuid": "83fd490a-e6e7-43f3-aded-2bb4722e5077",
              "assigned_to": [
                "Jonatã Almeida"
              ],
              "extended_assigned_to": [
                {
                  "name": "Jonatã Almeida",
                  "email": "closer1@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-02-10T15:15:00-03:00",
              "start_time_pretty": "03:15pm - Saturday, February 10, 2024",
              "invitee_start_time": "2024-02-10T15:15:00-03:00",
              "invitee_start_time_pretty": "03:15pm - Saturday, February 10, 2024",
              "end_time": "2024-02-10T16:00:00-03:00",
              "end_time_pretty": "04:00pm - Saturday, February 10, 2024",
              "invitee_end_time": "2024-02-10T16:00:00-03:00",
              "invitee_end_time_pretty": "04:00pm - Saturday, February 10, 2024",
              "created_at": "2024-02-08T16:33:54-03:00",
              "location": "https://calendly.com/events/83fd490a-e6e7-43f3-aded-2bb4722e5077/google_meet",
              "canceled": true,
              "canceler_name": "Vitor Queiroz de Almeida",
              "cancel_reason": null,
              "canceled_at": "2024-02-08T16:34:58-03:00"
            },
            "old_invitee": {
              "uuid": "834ffed7-75a6-4fd9-8e47-c473b3a297f5",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-02-08T16:33:54-03:00",
              "is_reschedule": true,
              "payments": [],
              "canceled": true,
              "canceler_name": "Vitor Queiroz de Almeida",
              "cancel_reason": null,
              "canceled_at": "2024-02-08T16:34:58-03:00"
            },
            "new_event": null,
            "new_invitee": null
          },
          "time": "2024-02-08T19:38:25Z"
        }
      }
    ],
    "agendamento_head_comercial": [
      {
        "json": {
          "event": "invitee.created",
          "payload": {
            "event_type": {
              "uuid": "67d2d17f-4c5d-43a7-98c3-6b7666a96a4b",
              "kind": "Round Robin",
              "slug": "sessao-estrategica-comercial-clone-1",
              "name": "Sessão Estratégica Head Comercial",
              "duration": 45,
              "owner": {
                "type": "teams",
                "uuid": "5cd25daf-bf05-457d-92c5-2721ece75eee"
              }
            },
            "event": {
              "uuid": "7d8105a5-05a2-4235-aae8-8175c1036794",
              "assigned_to": [
                "Leonardo Barroso"
              ],
              "extended_assigned_to": [
                {
                  "name": "Leonardo Barroso",
                  "email": "leonardo.barroso@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-06-04T13:00:00-03:00",
              "start_time_pretty": "01:00pm - Tuesday, June 4, 2024",
              "invitee_start_time": "2024-06-04T13:00:00-03:00",
              "invitee_start_time_pretty": "01:00pm - Tuesday, June 4, 2024",
              "end_time": "2024-06-04T13:45:00-03:00",
              "end_time_pretty": "01:45pm - Tuesday, June 4, 2024",
              "invitee_end_time": "2024-06-04T13:45:00-03:00",
              "invitee_end_time_pretty": "01:45pm - Tuesday, June 4, 2024",
              "created_at": "2024-05-31T15:28:58-03:00",
              "location": "https://calendly.com/events/7d8105a5-05a2-4235-aae8-8175c1036794/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "invitee": {
              "uuid": "310c1747-a4a4-4da0-92c2-ec02ad0cb27d",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-05-31T15:28:58-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "questions_and_answers": [
              {
                "question": "Qual seu telefone?",
                "answer": "+55 19 98457-4874"
              }
            ],
            "questions_and_responses": {
              "1_question": "Qual seu telefone?",
              "1_response": "+55 19 98457-4874"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": null,
            "new_invitee": null
          },
          "time": "2024-05-31T18:28:59Z"
        }
      }
    ],
    "agendamento_leo": [
      {
        "json": {
          "event": "invitee.created",
          "payload": {
            "event_type": {
              "uuid": "9a89c12e-b4b7-45b6-b462-5ffb9c869d80",
              "kind": "Round Robin",
              "slug": "sessao-estrategica",
              "name": "Sessão Estratégica Comercial",
              "duration": 45,
              "owner": {
                "type": "teams",
                "uuid": "5cd25daf-bf05-457d-92c5-2721ece75eee"
              }
            },
            "event": {
              "uuid": "c905c93b-e06f-497c-a3cf-f2561230f2cc",
              "assigned_to": [
                "Leonardo Barroso"
              ],
              "extended_assigned_to": [
                {
                  "name": "Leonardo Barroso",
                  "email": "leonardo.barroso@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-09-18T13:00:00-03:00",
              "start_time_pretty": "01:00pm - Wednesday, September 18, 2024",
              "invitee_start_time": "2024-09-18T13:00:00-03:00",
              "invitee_start_time_pretty": "01:00pm - Wednesday, September 18, 2024",
              "end_time": "2024-09-18T13:45:00-03:00",
              "end_time_pretty": "01:45pm - Wednesday, September 18, 2024",
              "invitee_end_time": "2024-09-18T13:45:00-03:00",
              "invitee_end_time_pretty": "01:45pm - Wednesday, September 18, 2024",
              "created_at": "2024-09-16T10:28:15-03:00",
              "location": "https://calendly.com/events/c905c93b-e06f-497c-a3cf-f2561230f2cc/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "invitee": {
              "uuid": "18229abe-7099-48b2-ac10-20007077f6bd",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-09-16T10:28:16-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "questions_and_answers": [
              {
                "question": "Qual seu telefone?",
                "answer": "+55 19 98457-4874"
              }
            ],
            "questions_and_responses": {
              "1_question": "Qual seu telefone?",
              "1_response": "+55 19 98457-4874"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": null,
            "new_invitee": null
          },
          "time": "2024-09-16T13:28:17Z"
        }
      }
    ],
    "reagendamento_ana": [
      {
        "json": {
          "event": "invitee.canceled",
          "payload": {
            "event_type": {
              "uuid": "9a89c12e-b4b7-45b6-b462-5ffb9c869d80",
              "kind": "Round Robin",
              "slug": "sessao-estrategica",
              "name": "Sessão Estratégica Comercial",
              "duration": 45,
              "owner": {
                "type": "teams",
                "uuid": "5cd25daf-bf05-457d-92c5-2721ece75eee"
              }
            },
            "event": {
              "uuid": "c905c93b-e06f-497c-a3cf-f2561230f2cc",
              "assigned_to": [
                "Leonardo Barroso"
              ],
              "extended_assigned_to": [
                {
                  "name": "Leonardo Barroso",
                  "email": "leonardo.barroso@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-09-18T13:00:00-03:00",
              "start_time_pretty": "01:00pm - Wednesday, September 18, 2024",
              "invitee_start_time": "2024-09-18T13:00:00-03:00",
              "invitee_start_time_pretty": "01:00pm - Wednesday, September 18, 2024",
              "end_time": "2024-09-18T13:45:00-03:00",
              "end_time_pretty": "01:45pm - Wednesday, September 18, 2024",
              "invitee_end_time": "2024-09-18T13:45:00-03:00",
              "invitee_end_time_pretty": "01:45pm - Wednesday, September 18, 2024",
              "created_at": "2024-09-16T10:28:15-03:00",
              "location": "https://calendly.com/events/c905c93b-e06f-497c-a3cf-f2561230f2cc/google_meet",
              "canceled": true,
              "canceler_name": "Fabricio Nunnes",
              "cancel_reason": "Teste",
              "canceled_at": "2024-09-16T10:29:37-03:00"
            },
            "invitee": {
              "uuid": "18229abe-7099-48b2-ac10-20007077f6bd",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-09-16T10:28:16-03:00",
              "is_reschedule": true,
              "payments": [],
              "canceled": true,
              "canceler_name": "Fabricio Nunnes",
              "cancel_reason": "Teste",
              "canceled_at": "2024-09-16T10:29:37-03:00"
            },
            "questions_and_answers": [
              {
                "question": "Qual seu telefone?",
                "answer": "+55 19 98457-4874"
              }
            ],
            "questions_and_responses": {
              "1_question": "Qual seu telefone?",
              "1_response": "+55 19 98457-4874"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": {
              "uuid": "b83a4bf4-bc11-441d-b497-d2c6f851ba10",
              "assigned_to": [
                "Ana Carvalho"
              ],
              "extended_assigned_to": [
                {
                  "name": "Ana Carvalho",
                  "email": "ana.carvalho@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-09-18T15:00:00-03:00",
              "start_time_pretty": "03:00pm - Wednesday, September 18, 2024",
              "invitee_start_time": "2024-09-18T15:00:00-03:00",
              "invitee_start_time_pretty": "03:00pm - Wednesday, September 18, 2024",
              "end_time": "2024-09-18T15:45:00-03:00",
              "end_time_pretty": "03:45pm - Wednesday, September 18, 2024",
              "invitee_end_time": "2024-09-18T15:45:00-03:00",
              "invitee_end_time_pretty": "03:45pm - Wednesday, September 18, 2024",
              "created_at": "2024-09-16T10:29:37-03:00",
              "location": "https://calendly.com/events/b83a4bf4-bc11-441d-b497-d2c6f851ba10/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "new_invitee": {
              "uuid": "b840900f-3815-4220-b5be-e811aaca5a09",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-09-16T10:29:37-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            }
          },
          "time": "2024-09-16T13:29:37Z"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Q8rgTKWALfDjS7MZ"
  },
  "staticData": {
    "node:Evento": {
      "webhookId": 5769348
    }
  },
  "tags": [
    {
      "createdAt": "2024-05-14T15:06:28.872Z",
      "updatedAt": "2024-05-14T15:06:28.872Z",
      "id": "nzGANUfak2QAGAAC",
      "name": "[Calendly]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-22T00:46:36.154Z",
  "versionId": "ffd031e4-9216-419c-b044-0361a1a715e9"
}