workflows/⌚[SE][BD] - Aplicação sem Agendamento - Parte 2.json
{
  "active": true,
  "connections": {
    "cadastrar_contato": {
      "main": [
        [
          {
            "node": "email_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cadastrar_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead1": {
      "main": [
        [
          {
            "node": "dados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados1": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_existe": {
      "main": [
        [
          {
            "node": "pesquisa_lead3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "achou_email1": {
      "main": [
        [
          {
            "node": "dados_validados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "dados7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_validados": {
      "main": [
        [
          {
            "node": "entra_na_fila4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe4": {
      "main": [
        [
          {
            "node": "insere_dados3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "achou_email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead3": {
      "main": [
        [
          {
            "node": "dados6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados3": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados6": {
      "main": [
        [
          {
            "node": "entra_na_fila7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados7": {
      "main": [
        [
          {
            "node": "entra_na_fila6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados3": {
      "main": [
        [
          {
            "node": "entra_na_fila1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe5": {
      "main": [
        [
          {
            "node": "insere_dados1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "dados8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados8": {
      "main": [
        [
          {
            "node": "entra_na_fila6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead3": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead": {
      "main": [
        [
          {
            "node": "Item Lists3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists2": {
      "main": [
        [
          {
            "node": "nao_existe5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists3": {
      "main": [
        [
          {
            "node": "nao_existe4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila1": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-14T00:59:51.006Z",
  "id": "mQLLd5N1a7m1MBWq",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[SE][BD] - Aplicação sem Agendamento - Parte 2",
  "nodes": [
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $node[\"chega_da_fila1\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[1] }}."
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila1\"].json.content[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        720,
        500
      ],
      "id": "6085f7ea-ba41-4647-ae06-d3656c4b9197",
      "continueOnFail": true
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "93546b70-4779-4df4-b5c2-29ee612f8b21",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        720,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.fields.redelivered }}",
              "value2": true
            }
          ]
        }
      },
      "id": "90f6b443-cb99-46b5-b31b-c43e5282f350",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        500
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "fd930d0c-bd14-4851-8580-9473f16c1760",
      "name": "insert_data_utm_lead1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2200,
        260
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Qualificado"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"instagram\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "1c3b5200-cb4f-4352-8acf-7b1ad148e50c",
      "name": "insere_dados1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1980,
        260
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "queue": "Sem Agendamentos - Parte 3",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "c0b3810c-356e-4045-8672-e540fc3086e2",
      "name": "entra_na_fila6",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2800,
        720
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "queue": "Sem Agendamentos - Parte 4",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "691de3ec-ce82-47cc-97c5-8e571fbd50f4",
      "name": "entra_na_fila1",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2800,
        260
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"E-mail do Cliente\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "ef3ebf92-c818-4393-9a62-01b85e8a6517",
      "name": "email_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "7d81064b-f713-41c6-b4ef-152acc56530e",
      "name": "achou_email1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1660,
        820
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"nome\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node[\"pesquisa_lead\"].json[\"telefone\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"telefone\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "Instagram",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"instagram\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "quantos_vendedores_possui",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"quantos_vendedores_possui\"]  || null }}"
            },
            {
              "name": "conhece_mentoria",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"conhece_mentoria\"]  || null }}"
            },
            {
              "name": "tem_socio",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"tem_socio\"] }}"
            },
            {
              "name": "id_campo_quantos_vendedores_possui_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_quantos_vendedores_possui_bot_conversa\"] || null }}"
            },
            {
              "name": "id_campo_conhece_mentoria_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_conhece_mentoria_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_tem_socio_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_tem_socio_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "faturamento",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"faturamento\"] }}"
            },
            {
              "name": "maior_problema",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"maior_problema\"] }}"
            },
            {
              "name": "porque_a_mentoria",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"porque_a_mentoria\"] }}"
            },
            {
              "name": "porque_voce",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"porque_voce\"] }}"
            },
            {
              "name": "estrategias",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"estrategias\"] }}"
            },
            {
              "name": "nicho",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"nicho\"] }}"
            },
            {
              "name": "situacao_atual",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"situacao_atual\"] }}"
            },
            {
              "name": "metodologia",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"metodologia\"] }}"
            },
            {
              "name": "comeca_quando",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"comeca_quando\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c6c194ea-f446-44f2-b5ef-9ae753a475e5",
      "name": "dados_validados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1980,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "3139ee43-7240-47bd-b26b-e2f24092f004",
      "name": "nao_existe4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        600
      ]
    },
    {
      "parameters": {
        "queue": "Sem Agendamentos - Parte 2",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "a0b6ea41-1433-44fd-a589-f0613dba9c13",
      "name": "entra_na_fila4",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2200,
        680
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "=id_lead",
              "value": "={{ $node[\"insere_dados3\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "80e2b313-cf48-4a07-bae5-05a12f0f5fe0",
      "name": "insert_data_utm_lead3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2200,
        440
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Qualificado"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"instagram\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "7e8f0a87-423d-46dd-9419-05c96f700617",
      "name": "insere_dados3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1980,
        440
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "queue": "Sem Agendamentos - Parte 4",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "0f7c910a-aea5-44ab-aed6-3483616349f9",
      "name": "entra_na_fila7",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2800,
        440
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"insere_dados3\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "name": "id_lead_bc",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "id_campo_quantos_vendedores_possui_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_quantos_vendedores_possui_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_conhece_mentoria_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_conhece_mentoria_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_tem_socio_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_tem_socio_bot_conversa\"] }}"
            },
            {
              "name": "quantos_vendedores_possui",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"quantos_vendedores_possui\"] || null }}"
            },
            {
              "name": "conhece_mentoria",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"conhece_mentoria\"]  || null }}"
            },
            {
              "name": "tem_socio",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"tem_socio\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"instagram\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"faturamento\"] }}"
            },
            {
              "name": "maior_problema",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"maior_problema\"] }}"
            },
            {
              "name": "porque_a_mentoria",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"porque_a_mentoria\"] }}"
            },
            {
              "name": "porque_voce",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"porque_voce\"] }}"
            },
            {
              "name": "estrategias",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"estrategias\"] }}"
            },
            {
              "name": "nicho",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"nicho\"] }}"
            },
            {
              "name": "situacao_atual",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"situacao_atual\"] }}"
            },
            {
              "name": "metodologia",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"metodologia\"] }}"
            },
            {
              "name": "comeca_quando",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"comeca_quando\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead",
              "value": "={{ $node[\"pesquisa_lead1\"].json[\"success\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6fc1a547-b708-4fc4-b9a2-1cc575e1fa33",
      "name": "dados6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2520,
        440
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "telefone_bd",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"telefone\"] }}"
            },
            {
              "name": "instagram_bd",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"instagram\"] }}"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}"
            },
            {
              "name": "id_lead_bc",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "quantos_vendedores_possui",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"quantos_vendedores_possui\"] || null }}"
            },
            {
              "name": "conhece_mentoria",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"conhece_mentoria\"]  || null }}"
            },
            {
              "name": "tem_socio",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"tem_socio\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_quantos_vendedores_possui_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_quantos_vendedores_possui_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_conhece_mentoria_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_conhece_mentoria_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_tem_socio_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_tem_socio_bot_conversa\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "email_bd",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"email\"] }}"
            },
            {
              "name": "telefone_bd",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"telefone\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"instagram\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"faturamento\"] }}"
            },
            {
              "name": "maior_problema",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"maior_problema\"] }}"
            },
            {
              "name": "porque_a_mentoria",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"porque_a_mentoria\"] }}"
            },
            {
              "name": "porque_voce",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"porque_voce\"] }}"
            },
            {
              "name": "estrategias",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"estrategias\"] }}"
            },
            {
              "name": "nicho",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"nicho\"] }}"
            },
            {
              "name": "situacao_atual",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"situacao_atual\"] }}"
            },
            {
              "name": "metodologia",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"metodologia\"] }}"
            },
            {
              "name": "comeca_quando",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"comeca_quando\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead"
            }
          ]
        },
        "options": {}
      },
      "id": "de034f19-7f0e-4c67-b86a-ef0313a2edbf",
      "name": "dados7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2520,
        840
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "name": "id_lead_bc",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "quantos_vendedores_possui",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"quantos_vendedores_possui\"] || null }}"
            },
            {
              "name": "conhece_mentoria",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"conhece_mentoria\"] || null }}"
            },
            {
              "name": "tem_socio",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"tem_socio\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_quantos_vendedores_possui_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_quantos_vendedores_possui_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_conhece_mentoria_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_conhece_mentoria_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_tem_socio_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_tem_socio_bot_conversa\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"instagram\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"faturamento\"] }}"
            },
            {
              "name": "maior_problema",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"maior_problema\"] }}"
            },
            {
              "name": "porque_a_mentoria",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"porque_a_mentoria\"] }}"
            },
            {
              "name": "porque_voce",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"porque_voce\"] }}"
            },
            {
              "name": "estrategias",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"estrategias\"] }}"
            },
            {
              "name": "nicho",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"nicho\"] }}"
            },
            {
              "name": "situacao_atual",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"situacao_atual\"] }}"
            },
            {
              "name": "metodologia",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"metodologia\"] }}"
            },
            {
              "name": "comeca_quando",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"comeca_quando\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"success\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "401e5c1c-6f34-4213-85e5-b9dc8b02bdc9",
      "name": "dados3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2520,
        260
      ]
    },
    {
      "parameters": {
        "queue": "Sem Agendamentos - Parte 2",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              },
              {}
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "365fcda5-34f0-4f0b-b19d-027b3ce62a94",
      "name": "chega_da_fila1",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        300,
        500
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead3\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "0ea6ac50-b002-4b7a-8258-2b33f6fc666b",
      "name": "nao_existe5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        400
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "telefone_bd",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"telefone\"] }}"
            },
            {
              "name": "instagram_bd",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"instagram\"] }}"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"id_lead\"] }}"
            },
            {
              "name": "id_lead_bc",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "quantos_vendedores_possui",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"quantos_vendedores_possui\"] || null }}"
            },
            {
              "name": "conhece_mentoria",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"conhece_mentoria\"] || null }}"
            },
            {
              "name": "tem_socio",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"tem_socio\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_quantos_vendedores_possui_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_quantos_vendedores_possui_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_conhece_mentoria_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_conhece_mentoria_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_tem_socio_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_campo_tem_socio_bot_conversa\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"instagram\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"faturamento\"] }}"
            },
            {
              "name": "maior_problema",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"maior_problema\"] }}"
            },
            {
              "name": "porque_a_mentoria",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"porque_a_mentoria\"] }}"
            },
            {
              "name": "porque_voce",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"porque_voce\"] }}"
            },
            {
              "name": "estrategias",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"estrategias\"] }}"
            },
            {
              "name": "nicho",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"nicho\"] }}"
            },
            {
              "name": "situacao_atual",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"situacao_atual\"] }}"
            },
            {
              "name": "metodologia",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"metodologia\"] }}"
            },
            {
              "name": "comeca_quando",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"comeca_quando\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead"
            }
          ]
        },
        "options": {}
      },
      "id": "441a02dd-df98-4b52-b150-4bd83dd84bbe",
      "name": "dados8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2520,
        640
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"E-mail do Cliente\"] || '-----------------------'}}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"]|| '-----------------------' }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"]|| '-----------------------' }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"E-mail do Cliente\"] || '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "91aa6c5e-a143-4f1d-acba-ea974e594f83",
      "name": "pesquisa_lead3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1140,
        400
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"E-mail do Cliente\"] || '-----------------------' }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '-----------------------'}}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"]|| '-----------------------' }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila1\"].json[\"content\"][\"E-mail do Cliente\"]|| '-----------------------' }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "e8b3ca95-5993-47dc-b554-e87303a43d0b",
      "name": "pesquisa_lead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1140,
        600
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "8180f648-45e3-4e0e-9929-81f71a6468b1",
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1300,
        400
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "621babff-51c6-4b20-9b86-b5d66191d18e",
      "name": "Item Lists3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1300,
        600
      ]
    }
  ],
  "pinData": {
    "chega_da_fila1": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-3JYqPKv9-ohbkzhmbrZaxw",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Sem Agendamentos - Parte 2"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "Nome do Cliente": "Mateus Diniz - Automagic Bots",
            "E-mail do Cliente": "mateusdiniz@automagicbots.com.br",
            "Telefone do Cliente - Formato BC": "+556281196678",
            "Telefone do Cliente - Formato Z-API": "556281196678",
            "utm_content": "automacao",
            "utm_source": "bots",
            "utm_campaign": "teste",
            "utm_medium": "automagic",
            "utm_term": "teste",
            "id_fluxo_nao_agendou_10_min": "",
            "API-KEY": "a9585685-a8d4-4f70-be7c-44c8dedf905f",
            "quantos_vendedores_possui": "De 6 a 8 vendedores",
            "conhece_mentoria": "Sim",
            "tem_socio": "Não",
            "id_campo_id_banco_de_dados_bot_conversa": "1408048",
            "id_campo_utm_source_bot_conversa": "1408038",
            "id_campo_utm_campaign_bot_conversa": "1408041",
            "id_campo_utm_term_bot_conversa": "1408042",
            "id_campo_utm_medium_bot_conversa": "1408043",
            "id_campo_utm_content_bot_conversa": "1408040",
            "id_campo_utm_fun_bot_conversa": "1408044",
            "id_campo_utm_var_bot_conversa": "1408045",
            "id_campo_quantos_vendedores_possui_bot_conversa": "1408034",
            "id_campo_conhece_mentoria_bot_conversa": "1408035",
            "id_campo_tem_socio_bot_conversa": "1408036",
            "funil": "SE",
            "variacao_do_funil": "V2",
            "data_ultima_quinzena": "\"2024-04-11\"",
            "id_campo_emailse_bot_conversa": "1045671",
            "id_tag_desqualificado_bot_conversa": "5073673",
            "id_tag_qualificado_bot_conversa": "4891806",
            "instagram": "prmateusdiniz",
            "faturamento": "Entre R$ 30 e R$ 70 mil reais",
            "maior_problema": "testando automação",
            "porque_a_mentoria": "teste automagic",
            "porque_voce": "automagic",
            "estrategias": "automagicbots",
            "nicho": "automações",
            "situacao_atual": "Apenas quero saber como direcionar melhor meu time de vendedores",
            "metodologia": "Prefiro aprender a metodologia do Fabrício Nunnes e executar sozinho",
            "comeca_quando": "Imediatamente para gerar resultados imediatos"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-05-14T14:14:07.752Z",
      "updatedAt": "2024-05-14T14:14:07.752Z",
      "id": "X8oLlxNlti847OWk",
      "name": "[SEM AGENDAMENTO]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-14T14:27:17.736Z",
  "versionId": "7f6300cf-63fb-4aba-b9f1-a8d576320d63"
}