workflows/⌚[FABRÍCIO NUNNES][BD][SE] - Calendly - Parte 1.json
{
  "active": true,
  "connections": {
    "Evento Criado": {
      "main": [
        [
          {
            "node": "É Reagendamento1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento": {
      "main": [
        [
          {
            "node": "reagendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento Criado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento1": {
      "main": [
        [
          {
            "node": "Não faça nada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelamento": {
      "main": [
        [
          {
            "node": "formata_dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reagendamento": {
      "main": [
        [
          {
            "node": "formata_dados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "numeros_de_teste": {
      "main": [
        [],
        [
          {
            "node": "nao_faça_nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados": {
      "main": [
        [
          {
            "node": "pt_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados1": {
      "main": [
        [
          {
            "node": "dados_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados2": {
      "main": [
        [
          {
            "node": "pt_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Deals da Conta3": {
      "main": [
        [
          {
            "node": "Listar Pipelines e Status da Conta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Pipelines e Status da Conta3": {
      "main": [
        [
          {
            "node": "Consulta Users da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Deals da Conta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Users da Conta": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Tags da Conta": {
      "main": [
        [
          {
            "node": "Listar Tipos de Task da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sessao_estrategica": {
      "main": [
        [
          {
            "node": "É Reagendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SE-webinario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento Criado1": {
      "main": [
        [
          {
            "node": "É Reagendamento3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento2": {
      "main": [
        [
          {
            "node": "reagendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento Criado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento3": {
      "main": [
        [
          {
            "node": "Não faça nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formata_dados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados3": {
      "main": [
        [
          {
            "node": "dados_do_agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_fuso_portugal": {
      "main": [
        [
          {
            "node": "dados_do_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pt_1": {
      "main": [
        [
          {
            "node": "formata_fuso_portugal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_fuso_portugal1": {
      "main": [
        [
          {
            "node": "dados_do_reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pt_": {
      "main": [
        [
          {
            "node": "formata_fuso_portugal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SE-webinario": {
      "main": [
        [
          {
            "node": "É Reagendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento": {
      "main": [
        [
          {
            "node": "sessao_estrategica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_do_agendamento": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_do_reagendamento": {
      "main": [
        [
          {
            "node": "entra_na_fila1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_do_cancelamento": {
      "main": [
        [
          {
            "node": "entra_na_fila2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-14T15:02:22.334Z",
  "id": "GND5Q4ocqmXI2mjn",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[FABRÍCIO NUNNES][BD][SE] - Calendly - Parte 1",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"event\"] }}",
              "value2": "invitee.created"
            }
          ]
        }
      },
      "id": "08aa4808-178d-4f5b-af29-a19bb673ef88",
      "name": "Evento Criado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1360,
        1580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "1a5a4abd-2741-415d-88e7-8e8b97dde98d",
      "name": "É Reagendamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1060,
        1280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"old_invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "31dfe076-21b2-42b2-9cef-fcdf1aee5049",
      "name": "É Reagendamento1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1620,
        1400
      ]
    },
    {
      "parameters": {},
      "id": "e46f2d23-8ec8-4c1e-a950-e8da1f0c61fb",
      "name": "Não faça nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1780,
        1300
      ]
    },
    {
      "parameters": {},
      "id": "66561641-d307-41cb-b663-11f6aacc4021",
      "name": "cancelamento",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1500,
        1720
      ]
    },
    {
      "parameters": {},
      "id": "0c218277-312f-4624-aafd-76419fb631c3",
      "name": "reagendamento",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1360,
        1140
      ]
    },
    {
      "parameters": {},
      "id": "2a6e4a25-6f5b-421a-b504-63ba01cd9cd9",
      "name": "nao_faça_nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        960,
        940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 31 98493-9743"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 31 98571-1260"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 71 98160-6543"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 14 99158-8346"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 31 99958-0682"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "493ff326-a7ca-4190-9b7b-5640f54d4efc",
      "name": "numeros_de_teste",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        740,
        880
      ]
    },
    {
      "parameters": {
        "queue": "Calendly-parte2",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "6f042a69-6657-4339-8c57-6fac8523c30d",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2480,
        1520
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date(payload.event.created_at);\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date(payload.event.start_time);\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date(payload.event.end_time);\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Buscar o telefone nos campos do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nlet telefone = '';\nconst questionsAndAnswers = payload.questions_and_answers;\nfor (let i = 0; i < questionsAndAnswers.length; i++) {\n  const answer = questionsAndAnswers[i].answer;\n  if (/^[\\+\\s\\d-]+$/.test(answer)) {\n    telefone = answer.replace(/[\\+\\s-]/g, '');\n    break;\n  }\n}\n\n// Extrair o DDI a partir do telefone limpo\nconst ddi = telefone.slice(0, 2);\n\n// Verificar se o DDI é igual a 55\nif (ddi === '55') {\n  const ddd = telefone.slice(2, 4);\n  if (Number(ddd) > 28) {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-8).replace(/\\s/g, '');\n  } else {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-9).replace(/\\s/g, '');\n  }\n} else {\n  telefone = telefone.replace(/[\\+\\s-]/g, ''); // Tratar como número internacional\n}\n\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula(payload.invitee.name);\n\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = payload.invitee.email.toLowerCase();\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n// Verificar se o telefone começa com 351 para identificar Portugal\nif (telefone.startsWith('351')) {\n  return {\n    'Data em que foi feito o Agendamento': dataAgendamento,\n    'Data de Início': dataInicio,\n    'Lembrete 24h': dataLembrete24h,\n    'Lembrete 2h': dataLembrete2h,\n    'Data de Término': dataTermino,\n    'Telefone': telefone,\n    'Nome': name,\n    'Email válido': isEmailValid,\n    'Email': email,\n    'País': 'Portugal' // Adicionar o parâmetro País se o telefone for de Portugal\n  };\n} else {\n  // Continuar com o código existente\n  // Formatar outros campos e retornar o objeto sem o parâmetro \"País\"\n  return {\n    'Data em que foi feito o Agendamento': dataAgendamento,\n    'Data de Início': dataInicio,\n    'Lembrete 24h': dataLembrete24h,\n    'Lembrete 2h': dataLembrete2h,\n    'Data de Término': dataTermino,\n    'Telefone': telefone,\n    'Nome': name,\n    'Email válido': isEmailValid,\n    'Email': email\n  };\n}\n"
      },
      "id": "e1dab7d7-e9b5-4020-aa50-1bc1739c5b8b",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1780,
        1520
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Acesse a data do JSON\nconst canceledAt = payload.event.canceled_at;\n\n// Crie um objeto de data a partir da string\nconst data = new Date(canceledAt);\n\n// Extraia o ano, mês e dia\nconst ano = data.getFullYear();\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Adiciona zero à esquerda, se necessário\nconst dia = String(data.getDate()).padStart(2, '0');\n\n// Crie a string formatada no formato YYYY-MM-DD\nconst dataCancelamento = `${ano}-${mes}-${dia}`;\n\n// Buscar o telefone nos campos do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nlet telefone = '';\nconst questionsAndAnswers = payload.questions_and_answers;\nfor (let i = 0; i < questionsAndAnswers.length; i++) {\n  const answer = questionsAndAnswers[i].answer;\n  if (/^[\\+\\s\\d-]+$/.test(answer)) {\n    telefone = answer.replace(/[\\+\\s-]/g, '');\n    break;\n  }\n}\n\n// Extrair o DDI a partir do telefone limpo\nconst ddi = telefone.slice(0, 2);\n\n// Verificar se o DDI é igual a 55\nif (ddi === '55') {\n  const ddd = telefone.slice(2, 4);\n  if (Number(ddd) > 28) {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-8).replace(/\\s/g, '');\n  } else {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-9).replace(/\\s/g, '');\n  }\n} else {\n  telefone = telefone.replace(/[\\+\\s-]/g, ''); // Tratar como número internacional\n}\n\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula(payload.invitee.name);\n\n// Retornar os resultados\nreturn {\n  'Telefone': telefone,\n  'Nome': name,\n  'Data do Cancelamento': dataCancelamento\n};\n"
      },
      "id": "52f9ff67-544a-422a-ab85-540a35236ea6",
      "name": "formata_dados1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1660,
        1720
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date(payload.new_event.created_at);\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Acesse a data do JSON\nconst canceledAt = payload.invitee.canceled_at;\n\n// Crie um objeto de data a partir da string\nconst data = new Date(canceledAt);\n\n// Extraia o ano, mês e dia\nconst ano = data.getFullYear();\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Adiciona zero à esquerda, se necessário\nconst dia = String(data.getDate()).padStart(2, '0');\n\n// Crie a string formatada no formato YYYY-MM-DD\nconst dataReagendamento = `${ano}-${mes}-${dia}`;\n\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date(payload.new_event.start_time);\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date(payload.new_event.end_time);\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Buscar o telefone nos campos do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nlet telefone = '';\nlet pais = ''; // Variável para armazenar o país\nconst questionsAndAnswers = payload.questions_and_answers;\nfor (let i = 0; i < questionsAndAnswers.length; i++) {\n  const answer = questionsAndAnswers[i].answer;\n  if (/^[\\+\\s\\d-]+$/.test(answer)) {\n    telefone = answer.replace(/[\\+\\s-]/g, '');\n    // Verificar se o telefone começa com \"351\" (código do país para Portugal)\n    if (telefone.startsWith('351')) {\n      pais = 'Portugal';\n    }\n    break;\n  }\n}\n\n// Extrair o DDI a partir do telefone limpo\nconst ddi = telefone.slice(0, 2);\n\n// Verificar se o DDI é igual a 55 ou 351\nif (ddi === '55') {\n  const ddd = telefone.slice(2, 4);\n  if (Number(ddd) > 28) {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-8).replace(/\\s/g, '');\n  } else {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-9).replace(/\\s/g, '');\n  }\n} else if (ddi === '351') {\n  telefone = '351' + telefone.slice(2); // Manter o formato para Portugal\n}\n\n// Função para formatar o nome com a primeira letra de cada palavra em maiúsculo,\n// levando em consideração as letras com acentos\nfunction formatarNome(nome) {\n  return nome\n    .toLowerCase()\n    .replace(/(?:^|\\s|[-'’])(\\S)/g, (match) => match.toUpperCase());\n}\n\n// Usar a função formatarNome para formatar o nome\nconst name = formatarNome(payload.new_invitee.name);\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = payload.new_invitee.email.toLowerCase();\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n\n// Pegar o parâmetro \"created_at\" e converter para o formato YYYY-MM-DD\nconst newCreatedAt = new Date(payload.new_event.created_at);\nconst newDataAgendamento = newCreatedAt.toISOString().slice(0, 10);\n\n// Pegar o parâmetro \"start_time\" e converter para o formato YYYY-MM-DD\nconst newStartTime = new Date(payload.new_event.start_time);\nconst newDataInicio = newStartTime.toISOString().split('T')[0];\n\n// Retornar os resultados\nreturn {\n  'Data em que foi feito o Reagendamento': dataReagendamento,\n  'Data de Início': dataInicio,\n  'Lembrete 24h': dataLembrete24h,\n  'Lembrete 2h': dataLembrete2h,\n  'Data de Término': dataTermino,\n  'Telefone': telefone,\n  'País': pais, // Adicionando o país ao output\n  'Nome': name,\n  'Email válido': isEmailValid,\n  'Email': email,\n  'data_inicio_evento_novo': newDataInicio,\n  'data_agendamento_evento_novo': newDataAgendamento\n};\n"
      },
      "id": "664635a6-6370-43c3-bc19-5b89a0403aa7",
      "name": "formata_dados2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1540,
        1140
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ae9772f6-1e2f-4eae-b369-65a8f0165a1a",
      "name": "cancelamento1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -760,
        1260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7aa95ec4-f71c-428a-be99-519bce97f2a4",
      "name": "reagendamento1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -760,
        1400
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"formata_dados2\"].json[\"Nome\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"formata_dados2\"].json[\"Email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node[\"formata_dados2\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados2\"].json[\"Telefone\"] }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"uuid\"] }}"
            },
            {
              "name": "Responsável pelo Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"extended_assigned_to\"][\"0\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"extended_assigned_to\"][\"0\"][\"email\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"formata_dados2\"].json[\"Data de Início\"].split('T')[0] }}"
            },
            {
              "name": "Data em que foi feito o Reagendamento",
              "value": "={{ $node[\"formata_dados2\"].json[\"Data em que foi feito o Reagendamento\"] }}"
            },
            {
              "name": "Data de Término",
              "value": "={{ $node[\"formata_dados2\"].json[\"Data de Término\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"start_time_pretty\"].split(',')[0].split('- ')[1].replace('Monday','Segunda').replace('Tuesday','Terça').replace('Wednesday','Quarta').replace('Thursday','Quinta').replace('Friday','Sexta').replace('Saturday','Sábado').replace('Sunday','Domingo') }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "Motivo do Reagendamento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"cancel_reason\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_invitee\"][\"uuid\"] }}"
            },
            {
              "name": "ID do Evento Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"uuid\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"name\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "003f9285-2ed2-4d3c-8f84-18e5a8fab5d3"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1045673"
            },
            {
              "name": "id_do_campo_inviteeid_bot_conversa",
              "value": "1045675"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1045669"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa",
              "value": "1045668"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1045528"
            },
            {
              "name": "fluxo_de_confirmacao_de_reagendamento",
              "value": "1769147"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"location\"] }}"
            },
            {
              "name": "ID do Cliente Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"uuid\"] }}"
            },
            {
              "name": "data_de_inicio_antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0] }}"
            },
            {
              "name": "hora_de_inicio_antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "Link da Reunião Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"location\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time_pretty\"].split(',')[0].split('- ')[1].replace('Monday','Segunda').replace('Tuesday','Terça').replace('Wednesday','Quarta').replace('Thursday','Quinta').replace('Friday','Sexta').replace('Saturday','Sábado').replace('Sunday','Domingo') }}"
            },
            {
              "name": "Data do Agendamento Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"created_at\"].split('T')[0] }} {{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"created_at\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "Responsável pelo Evento Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Responsável Antigo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"] }}"
            },
            {
              "name": "data_de_inicio_novo",
              "value": "={{ $node[\"formata_dados2\"].json[\"data_inicio_evento_novo\"] }}"
            },
            {
              "name": "data_agendamento_novo",
              "value": "={{ $node[\"formata_dados2\"].json[\"data_agendamento_evento_novo\"] }} {{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"created_at\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "hora_de_inicio_novo",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"new_event\"][\"start_time\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "1408048"
            },
            {
              "name": "funil",
              "value": "sessao_estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_do_campo_link_da_reuniao_bot_conversa",
              "value": "1045679"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa_pt",
              "value": "1853088"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa_pt",
              "value": "1853084"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa_pt",
              "value": "1852850"
            },
            {
              "name": "Data de Início com Reagendamento - PT",
              "value": "={{ $node[\"formata_fuso_portugal1\"].json[\"Data de Início com Adiantamento\"] }}"
            },
            {
              "name": "Data de Término com Adiantamento - PT",
              "value": "={{ $node[\"formata_fuso_portugal1\"].json[\"Data de Término com Adiantamento\"] }}"
            },
            {
              "name": "País",
              "value": "={{ $node[\"formata_dados2\"].json[\"País\"] }}"
            },
            {
              "name": "slug_do_evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "becdd569-1d06-4777-b106-f4e3e24a18a1",
      "name": "dados_do_reagendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2120,
        1140
      ]
    },
    {
      "parameters": {
        "scope": "organization",
        "events": [
          "invitee.created",
          "invitee.canceled"
        ]
      },
      "id": "97aae787-3215-461e-aa5b-9757840d49ca",
      "name": "Evento",
      "type": "n8n-nodes-base.calendlyTrigger",
      "typeVersion": 1,
      "position": [
        380,
        1280
      ],
      "webhookId": "83084baf-f19a-420a-b6e5-668b96a89ab2",
      "credentials": {
        "calendlyApi": {
          "id": "edqNGtteuzPrqMRP",
          "name": "[Calendly] - Fabrício"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node.formata_dados1.json.Telefone }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node.formata_dados1.json.Telefone }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"uuid\"] }}"
            },
            {
              "name": "Data do Cancelamento",
              "value": "={{ $node[\"formata_dados1\"].json[\"Data do Cancelamento\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"uuid\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "003f9285-2ed2-4d3c-8f84-18e5a8fab5d3"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1045673"
            },
            {
              "name": "id_do_campo_inviteeid_bot_conversa",
              "value": "1045675"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1045669"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa",
              "value": "1045668"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1045528"
            },
            {
              "name": "fluxo_de_confirmacao_de_cancelamento",
              "value": "1769093"
            },
            {
              "name": "id_do_campo_motivo_do_cancelamento_bot_conversa",
              "value": "1045683"
            },
            {
              "name": "Motivo do Cancelamento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"cancel_reason\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0] }}"
            },
            {
              "name": "Hora de Início",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"location\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"name\"] }}"
            },
            {
              "name": "Dia da Semana do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time_pretty\"].split(',')[0].split('- ')[1].replace('Monday','Segunda').replace('Tuesday','Terça').replace('Wednesday','Quarta').replace('Thursday','Quinta').replace('Friday','Sexta').replace('Saturday','Sábado').replace('Sunday','Domingo') }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "data_agendamento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"created_at\"].split('T')[0] }} {{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"created_at\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "1408048"
            },
            {
              "name": "data_termino_ac",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[0] }}"
            },
            {
              "name": "data_e_hora_de_termino",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[0].split('-')[2] }}/{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[0].split('-')[1] }}/{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[0].split('-')[0] }} {{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[1].split('-')[0].split(':')[0] }}:{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"end_time\"].split('T')[1].split('-')[0].split(':')[1] }}"
            },
            {
              "name": "data_e_hora_de_inicio",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0].split('-')[2] }}/{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0].split('-')[1] }}/{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[0].split('-')[0] }} {{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[1].split('-')[0].split(':')[0] }}:{{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time\"].split('T')[1].split('-')[0].split(':')[1] }}"
            },
            {
              "name": "funil",
              "value": "sessao_estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"] }}"
            },
            {
              "name": "Nome do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"name\"] }}"
            },
            {
              "name": "id_campo_data_cancelamento_bot_conversa",
              "value": "1057942"
            },
            {
              "name": "slug_do_evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "8db83765-3c94-4d30-8360-8190f9e309e8",
      "name": "dados_do_cancelamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1820,
        1720
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node[\"formata_dados\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"name\"] }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"uuid\"] }}"
            },
            {
              "name": "Responsável pelo Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"formata_dados\"].json[\"Data de Início\"] }}"
            },
            {
              "name": "Data em que foi feito o Agendamento",
              "value": "={{ $node[\"formata_dados\"].json[\"Data em que foi feito o Agendamento\"] }}"
            },
            {
              "name": "Data de Término",
              "value": "={{ $node[\"formata_dados\"].json[\"Data de Término\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento",
              "value": "={{                $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time_pretty\"].split(',')[0].split('- ')[1].replace('Monday','Segunda').replace('Tuesday','Terça').replace('Wednesday','Quarta').replace('Thursday','Quinta').replace('Friday','Sexta').replace('Saturday','Sábado').replace('Sunday','Domingo')                  }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"location\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"uuid\"] }}"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1045673"
            },
            {
              "name": "fluxo_de_confirmacao_de_agendamento",
              "value": "4496635"
            },
            {
              "name": "API-KEY",
              "value": "003f9285-2ed2-4d3c-8f84-18e5a8fab5d3"
            },
            {
              "name": "id_do_campo_link_da_reuniao_bot_conversa",
              "value": "1045679"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1045528"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa",
              "value": "1045668"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1045669"
            },
            {
              "name": "id_do_campo_id_banco_de_dados_bot_conversa",
              "value": "1408048"
            },
            {
              "name": "funil",
              "value": "sessao_estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_do_campo_id_do_cliente_bot_conversa",
              "value": "1045675"
            },
            {
              "name": "id_do_campo_id_closer_responsavel_bot_conversa",
              "value": "1045682"
            },
            {
              "name": "id_do_campo_tipo_de_servico_bot_conversa",
              "value": "1050125"
            },
            {
              "name": "id_do_campo_email_se_bot_conversa",
              "value": "1045671"
            },
            {
              "name": "id_do_campo_quantos_vendedores_bot_conversa",
              "value": "1051569"
            },
            {
              "name": "id_do_campo_faturamento_mensal_bot_conversa",
              "value": "1051567"
            },
            {
              "name": "id_campo_tem_socio_bot_conversa",
              "value": "1408036"
            },
            {
              "name": "id_campo_nome_closer_responsavel_bot_conversa",
              "value": "1459264"
            },
            {
              "name": "Data em que foi feito o Agendamento - PT",
              "value": "={{ $node[\"pt_1\"].json[\"Data em que foi feito o Agendamento\"] }}"
            },
            {
              "name": "Data de Início - PT",
              "value": "={{ $node[\"formata_fuso_portugal\"].json[\"Nova Hora de Início\"] || \"\" }}"
            },
            {
              "name": "Data de Término - PT",
              "value": "={{ $node[\"formata_fuso_portugal\"].json[\"Nova Hora de Término\"] || \"\"}}"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa_pt",
              "value": "1853088"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa_pt",
              "value": "1853084"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa_pt",
              "value": "1852850"
            },
            {
              "name": "pais",
              "value": "={{ $node[\"formata_dados\"].json[\"País\"] }}"
            },
            {
              "name": "slug_do_evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f5b4d471-9476-4b71-a95a-b0a106b04d5b",
      "name": "dados_do_agendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2300,
        1520
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Para consulta\n\nUtilize estes Nodes para Consultar o ID dos Campos do Deal e o ID das Pipelines e Stages no ActiveCampaign",
        "height": 494.4652796495957,
        "width": 1558.7543199104232
      },
      "id": "90f8997f-a107-44bd-8bff-637d1bcde7f0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        180
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealCustomFieldMeta",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Deals da Conta3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        940,
        400
      ],
      "id": "13453395-cf7d-40a0-a247-a6c2cd7a47fa"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealGroups",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Pipelines e Status da Conta3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1160,
        400
      ],
      "id": "84923c6f-a9a2-44b3-ad7b-0f063d4763da"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "f855a9327a9219d27bf8713569e0f7e926110f6bbe180b11ad6c3a9bdb922fd7f05402c9"
            },
            {
              "name": "url_api_activecampaign",
              "value": "futureminds14016"
            }
          ]
        },
        "options": {}
      },
      "id": "da4123d2-bcce-4251-b12d-827b65e0b5bf",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        740,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "55f516d6-7e92-47c7-886f-88543b729ee9",
      "name": "Consulta Users da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1380,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        400
      ],
      "id": "1cbd61f9-ff30-44de-a8b2-072baae1222d"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1600,
        400
      ],
      "id": "d12657ff-2fbd-4de7-9db0-c7ee19401a2b"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "value2": "xyz"
            },
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "value2": "abc"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "e105db4e-d93d-4a61-ac78-b7c900faaf6b",
      "name": "eventos_permitidos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        840
      ]
    },
    {
      "parameters": {
        "content": "## Observação\n\n- Use esse node se o cliente tiver apenas alguns eventos do Calendly que devem entrar na automação",
        "height": 318.2284579191374,
        "width": 468.74007115902964
      },
      "id": "d1dd122d-5e39-4c9e-8ee2-d4958cfd65ca",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        680
      ]
    },
    {
      "parameters": {
        "content": "## Observação\n\n- Use esse node para permitir que apenas alguns números entrem na automação para testar",
        "height": 318.2284579191374,
        "width": 468.74007115902964
      },
      "id": "e37f8ab3-4d8a-4c98-9b7a-ab013dc883d5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        760
      ]
    },
    {
      "parameters": {
        "content": "## Observação\n\n- Use os Nodes abaixo para armazenar JSON de execuções de cancelamento e reagendamento para testes",
        "height": 832.1268195814445,
        "width": 468.74007115902964
      },
      "id": "94e7d739-0b26-471f-b031-170bc3d77b03",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        1060
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "operation": "contains",
              "value2": "sessao-estrategica"
            },
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "operation": "contains",
              "value2": "Sessão Estratégica Comercial"
            },
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "value2": "30min"
            },
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "operation": "contains",
              "value2": "funil-de-recuperacao"
            },
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "operation": "contains",
              "value2": "prospeccao-outbound"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "5444d147-77f9-487e-b42b-081233e416ef",
      "name": "sessao_estrategica",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        580,
        1280
      ]
    },
    {
      "parameters": {
        "queue": "Calendly - Reagendamentos",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "72f41db4-2709-4c1d-bd31-7f4eea0e9a60",
      "name": "entra_na_fila1",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2360,
        1140
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "queue": "Calendly - Cancelamentos",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "16119191-5915-4e1d-ac88-a1a01c84c725",
      "name": "entra_na_fila2",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2020,
        1720
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealTasktypes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "71df9b97-315d-4829-9dc3-a2849408d01f",
      "name": "Listar Tipos de Task da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {},
      "id": "5122462a-824f-4b3a-a4df-dd1294c45247",
      "name": "nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        940,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"event\"] }}",
              "value2": "invitee.created"
            }
          ]
        }
      },
      "id": "3531924f-c3e1-4332-9202-5c4791f3fa1e",
      "name": "Evento Criado1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        1820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b340d6d2-b99c-47ff-9498-6f88c4b0afaf",
      "name": "É Reagendamento2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        1500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"old_invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "52bc99c2-f594-4d84-9ddd-95fca5a58807",
      "name": "É Reagendamento3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1420,
        1980
      ]
    },
    {
      "parameters": {},
      "id": "d2d9844a-fd95-4fce-84a8-e3492912cbd5",
      "name": "Não faça nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1640,
        1880
      ]
    },
    {
      "parameters": {
        "queue": "Calendly - Aplicação",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "133656e0-4252-4962-a657-c65e21e2ff56",
      "name": "entra_na_fila3",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2020,
        2060
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date(payload.event.created_at);\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date(payload.event.start_time);\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date(payload.event.end_time);\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Buscar o telefone nos campos do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nlet telefone = '';\nconst questionsAndAnswers = payload.questions_and_answers;\nfor (let i = 0; i < questionsAndAnswers.length; i++) {\n  const answer = questionsAndAnswers[i].answer;\n  if (/^[\\+\\s\\d-]+$/.test(answer)) {\n    telefone = answer.replace(/[\\+\\s-]/g, '');\n    break;\n  }\n}\n\n// Extrair o DDI a partir do telefone limpo\nconst ddi = telefone.slice(0, 2);\n\n// Verificar se o DDI é igual a 55\nif (ddi === '55') {\n  const ddd = telefone.slice(2, 4);\n  if (Number(ddd) > 28) {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-8).replace(/\\s/g, '');\n  } else {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-9).replace(/\\s/g, '');\n  }\n} else {\n  telefone = telefone.replace(/[\\+\\s-]/g, ''); // Tratar como número internacional\n}\n\n\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// ...\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula(payload.invitee.name);\n\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = payload.invitee.email.toLowerCase();\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n// Retornar os resultados\nreturn {\n  'Data em que foi feito o Agendamento': dataAgendamento,\n  'Data de Início': dataInicio,\n  'Lembrete 24h': dataLembrete24h,\n  'Lembrete 2h': dataLembrete2h,\n  'Data de Término': dataTermino,\n  'Telefone': telefone,\n  'Nome': name,\n  'Email válido': isEmailValid,\n  'Email': email\n};\n"
      },
      "id": "0e28050d-eca1-4361-89d8-d638b9388a75",
      "name": "formata_dados3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1640,
        2060
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node[\"formata_dados3\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados3\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"name\"] }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"uuid\"] }}"
            },
            {
              "name": "Responsável pelo Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"formata_dados3\"].json[\"Data de Início\"] }}"
            },
            {
              "name": "Data em que foi feito o Agendamento",
              "value": "={{ $node[\"formata_dados3\"].json[\"Data em que foi feito o Agendamento\"] }}"
            },
            {
              "name": "Data de Término",
              "value": "={{ $node[\"formata_dados3\"].json[\"Data de Término\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento",
              "value": "={{                $node[\"Evento\"].json[\"payload\"][\"event\"][\"start_time_pretty\"].split(',')[0].split('- ')[1].replace('Monday','Segunda').replace('Tuesday','Terça').replace('Wednesday','Quarta').replace('Thursday','Quinta').replace('Friday','Sexta').replace('Saturday','Sábado').replace('Sunday','Domingo')                  }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"location\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"uuid\"] }}"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1206236"
            },
            {
              "name": "fluxo_de_confirmacao_de_agendamento",
              "value": "2154265"
            },
            {
              "name": "API-KEY",
              "value": "75a53707-f01a-4637-b12b-123aed6631f6"
            },
            {
              "name": "id_do_campo_link_da_reuniao_bot_conversa",
              "value": "1206244"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1206199"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa",
              "value": "1206195"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1206206"
            },
            {
              "name": "id_do_campo_id_banco_de_dados_bot_conversa",
              "value": "1353478"
            },
            {
              "name": "id_do_campo_idleadac_bot_conversa",
              "value": "1353476"
            },
            {
              "name": "id_do_campo_iddealac_bot_conversa",
              "value": "1353477"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac",
              "value": "48"
            },
            {
              "name": "valor_produto_principal_em_centavos",
              "value": "1300000"
            },
            {
              "name": "id_stage_agendou_reuniao_ac",
              "value": "40"
            },
            {
              "name": "funil",
              "value": "aplicacao_direta"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_pipeline_se_ac",
              "value": "7"
            },
            {
              "name": "id_sdr",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"][\"extended_assigned_to\"][\"0\"][\"email\"].replace('ceo@andressascherer.com.br','1').replace('comercial@andressascherer.com.br','8') }}"
            },
            {
              "name": "url_api_activecampaign",
              "value": "andressascherer"
            },
            {
              "name": "id_campo_link_de_cancelamento_ac",
              "value": "63"
            },
            {
              "name": "id_campo_link_de_reagendamento_ac",
              "value": "62"
            },
            {
              "name": "id_campo_id_do_cliente_ac",
              "value": "64"
            },
            {
              "name": "id_campo_dia_semana_agendamento_ac",
              "value": "54"
            },
            {
              "name": "id_campo_data_de_inicio_ac",
              "value": "56"
            },
            {
              "name": "id_campo_data_e_hora_de_inicio_ac",
              "value": "55"
            },
            {
              "name": "id_campo_data_e_hora_de_termino_ac",
              "value": "65"
            },
            {
              "name": "id_campo_data_de_termino_ac",
              "value": "59"
            },
            {
              "name": "id_campo_email_do_responsavel_ac",
              "value": "58"
            },
            {
              "name": "id_campo_data_do_agendamento_ac",
              "value": "57"
            },
            {
              "name": "id_campo_link_da_reuniao_ac",
              "value": "60"
            },
            {
              "name": "id_campo_tipo_de_evento_ac",
              "value": "61"
            },
            {
              "name": "id_campo_id_do_evento_ac",
              "value": "53"
            },
            {
              "name": "id_campo_utm_source_ac",
              "value": "67"
            },
            {
              "name": "id_campo_utm_campaign_ac",
              "value": "68"
            },
            {
              "name": "id_campo_utm_term_ac",
              "value": "69"
            },
            {
              "name": "id_campo_utm_medium_ac",
              "value": "70"
            },
            {
              "name": "id_campo_utm_content_ac",
              "value": "71"
            },
            {
              "name": "id_campo_utm_fun_ac",
              "value": "72"
            },
            {
              "name": "id_campo_utm_var_ac",
              "value": "73"
            },
            {
              "name": "id_do_campo_id_do_cliente_bot_conversa",
              "value": "1206238"
            },
            {
              "name": "id_task_reuniao_ac",
              "value": "4"
            }
          ]
        },
        "options": {}
      },
      "id": "189cab5b-8113-4474-b742-fec7269746f4",
      "name": "dados_do_agendamento1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1820,
        2060
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d811042a-d5d1-4853-8bff-2e27f009cfe6",
      "name": "agendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -760,
        1540
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "db05fba3-4ee7-4b86-bf09-183e57bfb617",
      "name": "agendamento_pt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -540,
        1540
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ded57ebc-6e1e-414d-975a-393e43bb0c6a",
      "name": "reagendamento_PT",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -540,
        1400
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date(payload.event.created_at);\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date(payload.event.start_time);\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date(payload.event.end_time);\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Buscar o telefone nos campos do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nlet telefone = '';\nconst questionsAndAnswers = payload.questions_and_answers;\nfor (let i = 0; i < questionsAndAnswers.length; i++) {\n  const answer = questionsAndAnswers[i].answer;\n  if (/^[\\+\\s\\d-]+$/.test(answer)) {\n    telefone = answer.replace(/[\\+\\s-]/g, '');\n    break;\n  }\n}\n\n// Extrair o DDI a partir do telefone limpo\nconst ddi = telefone.slice(0, 2);\n\n// Verificar se o DDI é igual a 55\nif (ddi === '55') {\n  const ddd = telefone.slice(2, 4);\n  if (Number(ddd) > 28) {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-8).replace(/\\s/g, '');\n  } else {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-9).replace(/\\s/g, '');\n  }\n} else {\n  telefone = telefone.replace(/[\\+\\s-]/g, ''); // Tratar como número internacional\n}\n\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula(payload.invitee.name);\n\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = payload.invitee.email.toLowerCase();\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n// Verificar se o telefone começa com 351 para identificar Portugal\nif (telefone.startsWith('351')) {\n  return {\n    'Data em que foi feito o Agendamento': dataAgendamento,\n    'Data de Início': dataInicio,\n    'Lembrete 24h': dataLembrete24h,\n    'Lembrete 2h': dataLembrete2h,\n    'Data de Término': dataTermino,\n    'Telefone': telefone,\n    'Nome': name,\n    'Email válido': isEmailValid,\n    'Email': email,\n    'País': 'Portugal' // Adicionar o parâmetro País se o telefone for de Portugal\n  };\n} else {\n  // Continuar com o código existente\n  // Formatar outros campos e retornar o objeto sem o parâmetro \"País\"\n  return {\n    'Data em que foi feito o Agendamento': dataAgendamento,\n    'Data de Início': dataInicio,\n    'Lembrete 24h': dataLembrete24h,\n    'Lembrete 2h': dataLembrete2h,\n    'Data de Término': dataTermino,\n    'Telefone': telefone,\n    'Nome': name,\n    'Email válido': isEmailValid,\n    'Email': email\n  };\n}\n"
      },
      "id": "9e593df2-4976-417c-9ad0-b6bd129494b6",
      "name": "formata_dados5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        440,
        1040
      ]
    },
    {
      "parameters": {
        "jsCode": "// Função para ajustar a hora\nfunction ajustarHora(hora) {\n    // Se a hora for indefinida, retorna uma string vazia\n    if (!hora) return \"\";\n\n    // Divide a hora em horas e minutos\n    let [horas, minutos] = hora.split(':').map(Number);\n    \n    // Adiciona 3 horas\n    horas += 3;\n    \n    // Se ultrapassar 24 horas, ajusta para o dia seguinte\n    if (horas >= 24) {\n        horas -= 24;\n    }\n    \n    // Retorna a nova hora formatada\n    return `${horas}:${minutos < 10 ? '0' : ''}${minutos}`;\n}\n\n// Obtenha as horas de início e término\nlet horaInicio = $node[\"pt_1\"].json[\"Data de Início\"];\nlet horaTermino = $node[\"pt_1\"].json[\"Data de Término\"];\n\n// Ajuste as horas\nlet novaHoraInicio = ajustarHora(horaInicio);\nlet novaHoraTermino = ajustarHora(horaTermino);\n\n// Retorne um único objeto contendo ambas as novas horas\nreturn [{ \"Nova Hora de Início\": novaHoraInicio, \"Nova Hora de Término\": novaHoraTermino }];\n"
      },
      "id": "f2ee3304-46ad-46e2-8b8b-e2708257dbf3",
      "name": "formata_fuso_portugal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        1520
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Data em que foi feito o Agendamento",
              "stringValue": "={{ $node[\"formata_dados\"].json[\"Data em que foi feito o Agendamento\"].split(' ')[0].replace(',','') }}"
            },
            {
              "name": "Data de Início",
              "stringValue": "={{ $node[\"formata_dados\"].json[\"Data de Início\"].split(' ')[1] }}"
            },
            {
              "name": "Data de Término",
              "stringValue": "={{ $node[\"formata_dados\"].json[\"Data de Término\"].split(' ')[1] }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "052a45e0-99c7-41e9-aef4-90078206446f",
      "name": "pt_1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1940,
        1520
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "295aac41-4428-476c-94d9-123b54135510",
      "name": "cancelamento2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -540,
        1260
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obter os valores das datas fornecidas\nconst dataAgendamento = new Date($node[\"pt_\"].json[\"Data em que foi feito o Reagendamento\"]);\n\nconst convertStringToDate = (dateString) => {\n  const [dayMonthYear, time] = dateString.split(',');\n  const [day, month, year] = dayMonthYear.trim().split('/');\n  const [hour, minute] = time.trim().split(':');\n  return new Date(year, month - 1, day, hour, minute);\n};\n\n\nconst dataInicioString = $node[\"pt_\"].json[\"Data de Início\"];\nconst dataTerminoString = $node[\"pt_\"].json[\"Data de Término\"];\n\n// Converter as strings de data para objetos Date\nconst dataInicio = convertStringToDate(dataInicioString);\nconst dataTermino = convertStringToDate(dataTerminoString);\n\n// Adicionar 3 horas às datas\ndataAgendamento.setHours(dataAgendamento.getHours() + 3);\ndataInicio.setHours(dataInicio.getHours() + 3);\ndataTermino.setHours(dataTermino.getHours() + 3);\n\n// Converter as datas para o formato de string desejado (por exemplo, \"YYYY-MM-DD HH:mm:ss\")\nconst formatDate = (date) => {\n  const year = date.getFullYear();\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const day = String(date.getDate()).padStart(2, '0');\n  const hours = String(date.getHours()).padStart(2, '0');\n  const minutes = String(date.getMinutes()).padStart(2, '0');\n  const seconds = String(date.getSeconds()).padStart(2, '0');\n  \n  return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n};\n\n// Retornar as datas formatadas\nreturn {\n  \"Data em que foi feito o Agendamento com Reagendamento\": formatDate(dataAgendamento),\n  \"Data de Início com Adiantamento\": formatDate(dataInicio),\n  \"Data de Término com Adiantamento\": formatDate(dataTermino)\n};\n"
      },
      "id": "475f9b25-5d54-4b98-8367-a79857f7bb7e",
      "name": "formata_fuso_portugal1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        1140
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Data em que foi feito o Reagendamento",
              "stringValue": "={{ $node[\"formata_dados2\"].json[\"Data em que foi feito o Reagendamento\"].split('-')[2] }}/{{ $node[\"formata_dados2\"].json[\"Data em que foi feito o Reagendamento\"].split('-')[1] }}/{{ $node[\"formata_dados2\"].json[\"Data em que foi feito o Reagendamento\"].split('-')[0] }}"
            },
            {
              "name": "Data de Início",
              "stringValue": "={{ $node[\"formata_dados2\"].json[\"Data de Início\"] }}"
            },
            {
              "name": "Data de Término",
              "stringValue": "={{ $node[\"formata_dados2\"].json[\"Data de Término\"] }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "3c5bade5-2816-4c07-a32f-2b8bb28ab299",
      "name": "pt_",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1720,
        1140
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "operation": "contains",
              "value2": "webinario-gestao-comercial"
            }
          ]
        }
      },
      "id": "75fb5622-0490-4377-847e-6337febb9b9f",
      "name": "SE-webinario",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        1460
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "33624527-3dbf-4de8-81fb-c6d87f6d31a7",
      "name": "agendamento_head_comercial",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -740,
        1720
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8cdcd54d-f6f5-49f6-bf9e-d5676797df18",
      "name": "agendamento_leo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        320,
        1580
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fc8e1967-1196-4fb6-a0c7-14dcca8190a5",
      "name": "reagendamento_ana",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        320,
        1760
      ]
    }
  ],
  "pinData": {
    "cancelamento1": [
      {
        "json": {
          "event": "invitee.canceled",
          "payload": {
            "event_type": {
              "uuid": "46da36ce-99b4-4677-9674-66d3d430f29a",
              "kind": "Round Robin",
              "slug": "sessao-estrategica-2023",
              "name": "SESSÃO ESTRATÉGICA 2023",
              "duration": 60,
              "owner": {
                "type": "teams",
                "uuid": "02124feb-7a78-4bfd-a2ac-ee9b8dcef01f"
              }
            },
            "event": {
              "uuid": "09fc61e9-d133-468d-9b83-2b8032dd4532",
              "assigned_to": [
                "[A] Renato Gonçalves "
              ],
              "extended_assigned_to": [
                {
                  "name": "[A] Renato Gonçalves ",
                  "email": "amoncsoliver@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2023-11-09T10:00:00-03:00",
              "start_time_pretty": "10:00am - Thursday, November 9, 2023",
              "invitee_start_time": "2023-11-09T10:00:00-03:00",
              "invitee_start_time_pretty": "10:00am - Thursday, November 9, 2023",
              "end_time": "2023-11-09T11:00:00-03:00",
              "end_time_pretty": "11:00am - Thursday, November 9, 2023",
              "invitee_end_time": "2023-11-09T11:00:00-03:00",
              "invitee_end_time_pretty": "11:00am - Thursday, November 9, 2023",
              "created_at": "2023-11-07T22:35:53-03:00",
              "location": "https://calendly.com/events/09fc61e9-d133-468d-9b83-2b8032dd4532/google_meet",
              "canceled": true,
              "canceler_name": "Renato - Pai do Drop",
              "cancel_reason": "",
              "canceled_at": "2023-11-08T08:25:30-03:00"
            },
            "invitee": {
              "uuid": "a67f300d-8a83-4d57-8d54-47c22bf927c8",
              "first_name": null,
              "last_name": null,
              "name": "Leanders Mota",
              "email": "leanders.mota@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2023-11-07T22:35:53-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": true,
              "canceler_name": "Renato - Pai do Drop",
              "cancel_reason": "",
              "canceled_at": "2023-11-08T08:25:30-03:00"
            },
            "questions_and_answers": [
              {
                "question": "Por favor, compartilhe qualquer coisa que possa ser útil para a preparação da nossa reunião.",
                "answer": "Tenho 2 ramos de atividade distintos e quero alavancar os dois."
              },
              {
                "question": "Qual seu número de Whatsapp?",
                "answer": "+55 75 99158-8202"
              }
            ],
            "questions_and_responses": {
              "1_question": "Por favor, compartilhe qualquer coisa que possa ser útil para a preparação da nossa reunião.",
              "1_response": "Tenho 2 ramos de atividade distintos e quero alavancar os dois.",
              "2_question": "Qual seu número de Whatsapp?",
              "2_response": "+55 75 99158-8202"
            },
            "tracking": {
              "utm_campaign": "sessao_estrategica",
              "utm_source": "meta",
              "utm_medium": "cpc",
              "utm_content": "ad34",
              "utm_term": "magento",
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": null,
            "new_invitee": null
          },
          "time": "2023-11-08T11:25:31Z"
        }
      }
    ],
    "reagendamento1": [
      {
        "json": {
          "event": "invitee.canceled",
          "payload": {
            "event_type": {
              "uuid": "46da36ce-99b4-4677-9674-66d3d430f29a",
              "kind": "Round Robin",
              "slug": "sessao-estrategica-2023",
              "name": "SESSÃO ESTRATÉGICA 2023",
              "duration": 60,
              "owner": {
                "type": "teams",
                "uuid": "02124feb-7a78-4bfd-a2ac-ee9b8dcef01f"
              }
            },
            "event": {
              "uuid": "9790b2b5-2457-4c88-afda-f2501ec17bde",
              "assigned_to": [
                "[T] Renato Gonçalves"
              ],
              "extended_assigned_to": [
                {
                  "name": "[T] Renato Gonçalves",
                  "email": "tais.suportee@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2023-11-03T17:00:00-03:00",
              "start_time_pretty": "05:00pm - Friday, November 3, 2023",
              "invitee_start_time": "2023-11-03T17:00:00-03:00",
              "invitee_start_time_pretty": "05:00pm - Friday, November 3, 2023",
              "end_time": "2023-11-03T18:00:00-03:00",
              "end_time_pretty": "06:00pm - Friday, November 3, 2023",
              "invitee_end_time": "2023-11-03T18:00:00-03:00",
              "invitee_end_time_pretty": "06:00pm - Friday, November 3, 2023",
              "created_at": "2023-10-31T14:47:03-03:00",
              "location": "https://calendly.com/events/9790b2b5-2457-4c88-afda-f2501ec17bde/google_meet",
              "canceled": true,
              "canceler_name": "Renato - Pai do Drop",
              "cancel_reason": null,
              "canceled_at": "2023-11-03T17:36:24-03:00"
            },
            "invitee": {
              "uuid": "b9c587b3-71b5-4a50-b6f9-6ec00c30cec9",
              "first_name": null,
              "last_name": null,
              "name": "Henrique",
              "email": "henrique.pitaluga@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2023-10-31T14:47:03-03:00",
              "is_reschedule": true,
              "payments": [],
              "canceled": true,
              "canceler_name": "Renato - Pai do Drop",
              "cancel_reason": null,
              "canceled_at": "2023-11-03T17:36:24-03:00"
            },
            "questions_and_answers": [
              {
                "question": "Por favor, compartilhe qualquer coisa que possa ser útil para a preparação da nossa reunião.",
                "answer": "Boa tarde ! Estamos iniciando o projeto da nossa loja: www.casasouvenir.com.br, ja mineramos alguns produtos mas sem validação ate o momento, estamos montando a estrutura da loja pela shopify, dominio pela godaddy, checkout pela yamppi, pagamento pelo mercado pago. Em relacao ao trafego nao iniciamos ainda, e temos que estudar mais sobre o assunto e estrategias para os produtos. Nossa loja esta com nicho de produtos para casa em geral. Estamos um pouco perdidos em relação a quando podemos inicar a parte de trafego pago, e divisao de tarefas entre os dois mebros da equipe (eu e mais o Andre). Agradeço des de ja ! "
              },
              {
                "question": "Qual seu número de Whatsapp?",
                "answer": "+55 45 99820-8879"
              }
            ],
            "questions_and_responses": {
              "1_question": "Por favor, compartilhe qualquer coisa que possa ser útil para a preparação da nossa reunião.",
              "1_response": "Boa tarde ! Estamos iniciando o projeto da nossa loja: www.casasouvenir.com.br, ja mineramos alguns produtos mas sem validação ate o momento, estamos montando a estrutura da loja pela shopify, dominio pela godaddy, checkout pela yamppi, pagamento pelo mercado pago. Em relacao ao trafego nao iniciamos ainda, e temos que estudar mais sobre o assunto e estrategias para os produtos. Nossa loja esta com nicho de produtos para casa em geral. Estamos um pouco perdidos em relação a quando podemos inicar a parte de trafego pago, e divisao de tarefas entre os dois mebros da equipe (eu e mais o Andre). Agradeço des de ja ! ",
              "2_question": "Qual seu número de Whatsapp?",
              "2_response": "+55 45 99820-8879"
            },
            "tracking": {
              "utm_campaign": "sessao_estrategica",
              "utm_source": "meta",
              "utm_medium": "cpc",
              "utm_content": "ad34",
              "utm_term": "magento",
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": {
              "uuid": "6bdf9445-16ad-4a01-a02b-cabd3d70da29",
              "assigned_to": [
                "[T] Renato Gonçalves"
              ],
              "extended_assigned_to": [
                {
                  "name": "[T] Renato Gonçalves",
                  "email": "tais.suportee@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2023-11-06T16:00:00-03:00",
              "start_time_pretty": "04:00pm - Monday, November 6, 2023",
              "invitee_start_time": "2023-11-06T16:00:00-03:00",
              "invitee_start_time_pretty": "04:00pm - Monday, November 6, 2023",
              "end_time": "2023-11-06T17:00:00-03:00",
              "end_time_pretty": "05:00pm - Monday, November 6, 2023",
              "invitee_end_time": "2023-11-06T17:00:00-03:00",
              "invitee_end_time_pretty": "05:00pm - Monday, November 6, 2023",
              "created_at": "2023-11-03T17:36:24-03:00",
              "location": "https://calendly.com/events/6bdf9445-16ad-4a01-a02b-cabd3d70da29/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "new_invitee": {
              "uuid": "0adaee2c-db50-487b-b552-cbacb3b597bc",
              "first_name": null,
              "last_name": null,
              "name": "Henrique",
              "email": "henrique.pitaluga@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2023-11-03T17:36:24-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            }
          },
          "time": "2023-11-03T20:36:24Z"
        }
      }
    ],
    "Evento": [
      {
        "json": {
          "event": "invitee.created",
          "payload": {
            "event_type": {
              "uuid": "287b5cd2-2e58-4f4a-a877-c80d450099e7",
              "kind": "Round Robin",
              "slug": "sessao-estrategica-comercial-manual-clone",
              "name": "Funil SS",
              "duration": 45,
              "owner": {
                "type": "teams",
                "uuid": "5cd25daf-bf05-457d-92c5-2721ece75eee"
              }
            },
            "event": {
              "uuid": "1c09550b-c09e-4da2-91a6-8e27d043ac85",
              "assigned_to": [
                "Leandro Arcas"
              ],
              "extended_assigned_to": [
                {
                  "name": "Leandro Arcas",
                  "email": "leandro.arcas@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2025-02-26T16:00:00-03:00",
              "start_time_pretty": "04:00pm - Wednesday, February 26, 2025",
              "invitee_start_time": "2025-02-26T16:00:00-03:00",
              "invitee_start_time_pretty": "04:00pm - Wednesday, February 26, 2025",
              "end_time": "2025-02-26T16:45:00-03:00",
              "end_time_pretty": "04:45pm - Wednesday, February 26, 2025",
              "invitee_end_time": "2025-02-26T16:45:00-03:00",
              "invitee_end_time_pretty": "04:45pm - Wednesday, February 26, 2025",
              "created_at": "2025-02-24T15:29:38-03:00",
              "location": "https://calendly.com/events/1c09550b-c09e-4da2-91a6-8e27d043ac85/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "invitee": {
              "uuid": "fc4a020f-bd2b-4967-8a08-6b3222eb7464",
              "first_name": null,
              "last_name": null,
              "name": "Matheus Lanna",
              "email": "matheus@armyfit.com.br",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2025-02-24T15:29:38-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "questions_and_answers": [
              {
                "question": "Qual seu telefone?",
                "answer": "+55 11 95248-9272"
              },
              {
                "question": "Instagram",
                "answer": "@mlanna94"
              }
            ],
            "questions_and_responses": {
              "1_question": "Qual seu telefone?",
              "1_response": "+55 11 95248-9272",
              "2_question": "Instagram",
              "2_response": "@mlanna94"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": null,
            "new_invitee": null
          },
          "time": "2025-02-24T18:29:40Z"
        }
      }
    ],
    "agendamento": [
      {
        "json": {
          "event": "invitee.created",
          "payload": {
            "event_type": {
              "uuid": "9a89c12e-b4b7-45b6-b462-5ffb9c869d80",
              "kind": "Round Robin",
              "slug": "sessao-estrategica",
              "name": "Sessão Estratégica Comercial",
              "duration": 30,
              "owner": {
                "type": "teams",
                "uuid": "5cd25daf-bf05-457d-92c5-2721ece75eee"
              }
            },
            "event": {
              "uuid": "10ca28c1-8d73-4902-9a90-6f34238140e4",
              "assigned_to": [
                "Gabriel Borges"
              ],
              "extended_assigned_to": [
                {
                  "name": "Gabriel Borges",
                  "email": "closer2@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2023-11-10T10:00:00-03:00",
              "start_time_pretty": "10:00am - Friday, November 10, 2023",
              "invitee_start_time": "2023-11-10T10:00:00-03:00",
              "invitee_start_time_pretty": "10:00am - Friday, November 10, 2023",
              "end_time": "2023-11-10T10:30:00-03:00",
              "end_time_pretty": "10:30am - Friday, November 10, 2023",
              "invitee_end_time": "2023-11-10T10:30:00-03:00",
              "invitee_end_time_pretty": "10:30am - Friday, November 10, 2023",
              "created_at": "2023-11-08T18:24:13-03:00",
              "location": "https://calendly.com/events/10ca28c1-8d73-4902-9a90-6f34238140e4/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "invitee": {
              "uuid": "c30df326-2d4a-427e-b2f6-c9d2a36651d8",
              "first_name": null,
              "last_name": null,
              "name": "Fernando",
              "email": "fitcargas@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2023-11-08T18:24:13-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "questions_and_answers": [
              {
                "question": "Qual seu telefone?",
                "answer": "+55 81 99939-0009"
              }
            ],
            "questions_and_responses": {
              "1_question": "Qual seu telefone?",
              "1_response": "+55 81 99939-0009"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": null,
            "new_invitee": null
          },
          "time": "2023-11-08T21:24:13Z"
        }
      }
    ],
    "agendamento_pt": [
      {
        "json": {
          "event": "invitee.created",
          "payload": {
            "event_type": {
              "uuid": "9a89c12e-b4b7-45b6-b462-5ffb9c869d80",
              "kind": "Round Robin",
              "slug": "sessao-estrategica",
              "name": "Sessão Estratégica Comercial",
              "duration": 45,
              "owner": {
                "type": "teams",
                "uuid": "5cd25daf-bf05-457d-92c5-2721ece75eee"
              }
            },
            "event": {
              "uuid": "ac29233f-f155-4e83-9000-704b13180e88",
              "assigned_to": [
                "Jonatã Almeida"
              ],
              "extended_assigned_to": [
                {
                  "name": "Jonatã Almeida",
                  "email": "closer1@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-02-12T12:30:00-03:00",
              "start_time_pretty": "12:30pm - Monday, February 12, 2024",
              "invitee_start_time": "2024-02-12T12:30:00-03:00",
              "invitee_start_time_pretty": "12:30pm - Monday, February 12, 2024",
              "end_time": "2024-02-12T13:15:00-03:00",
              "end_time_pretty": "01:15pm - Monday, February 12, 2024",
              "invitee_end_time": "2024-02-12T13:15:00-03:00",
              "invitee_end_time_pretty": "01:15pm - Monday, February 12, 2024",
              "created_at": "2024-02-08T10:20:16-03:00",
              "location": "https://calendly.com/events/ac29233f-f155-4e83-9000-704b13180e88/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "invitee": {
              "uuid": "1e801f7a-9239-4106-956d-6308086e569a",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz PT",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-02-08T10:20:16-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "questions_and_answers": [
              {
                "question": "Qual seu telefone?",
                "answer": "+351 963 840 378"
              }
            ],
            "questions_and_responses": {
              "1_question": "Qual seu telefone?",
              "1_response": "+351 963 840 378"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": null,
            "new_invitee": null
          },
          "time": "2024-02-08T13:20:17Z"
        }
      }
    ],
    "reagendamento_PT": [
      {
        "json": {
          "event": "invitee.canceled",
          "payload": {
            "event_type": {
              "uuid": "9a89c12e-b4b7-45b6-b462-5ffb9c869d80",
              "kind": "Round Robin",
              "slug": "sessao-estrategica",
              "name": "Sessão Estratégica Comercial",
              "duration": 45,
              "owner": {
                "type": "teams",
                "uuid": "5cd25daf-bf05-457d-92c5-2721ece75eee"
              }
            },
            "event": {
              "uuid": "83fd490a-e6e7-43f3-aded-2bb4722e5077",
              "assigned_to": [
                "Jonatã Almeida"
              ],
              "extended_assigned_to": [
                {
                  "name": "Jonatã Almeida",
                  "email": "closer1@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-02-10T15:15:00-03:00",
              "start_time_pretty": "03:15pm - Saturday, February 10, 2024",
              "invitee_start_time": "2024-02-10T15:15:00-03:00",
              "invitee_start_time_pretty": "03:15pm - Saturday, February 10, 2024",
              "end_time": "2024-02-10T16:00:00-03:00",
              "end_time_pretty": "04:00pm - Saturday, February 10, 2024",
              "invitee_end_time": "2024-02-10T16:00:00-03:00",
              "invitee_end_time_pretty": "04:00pm - Saturday, February 10, 2024",
              "created_at": "2024-02-08T16:33:54-03:00",
              "location": "https://calendly.com/events/83fd490a-e6e7-43f3-aded-2bb4722e5077/google_meet",
              "canceled": true,
              "canceler_name": "Vitor Queiroz de Almeida",
              "cancel_reason": null,
              "canceled_at": "2024-02-08T16:34:58-03:00"
            },
            "invitee": {
              "uuid": "834ffed7-75a6-4fd9-8e47-c473b3a297f5",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-02-08T16:33:54-03:00",
              "is_reschedule": true,
              "payments": [],
              "canceled": true,
              "canceler_name": "Vitor Queiroz de Almeida",
              "cancel_reason": null,
              "canceled_at": "2024-02-08T16:34:58-03:00"
            },
            "questions_and_answers": [
              {
                "question": "Qual seu telefone?",
                "answer": "+351 963 840 378"
              }
            ],
            "questions_and_responses": {
              "1_question": "Qual seu telefone?",
              "1_response": "+351 963 840 378"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": {
              "uuid": "e4c6c661-84cd-44ae-8e27-b3bf334b1cd9",
              "assigned_to": [
                "Jonatã Almeida"
              ],
              "extended_assigned_to": [
                {
                  "name": "Jonatã Almeida",
                  "email": "closer1@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-02-13T09:00:00-03:00",
              "start_time_pretty": "09:00am - Tuesday, February 13, 2024",
              "invitee_start_time": "2024-02-13T09:00:00-03:00",
              "invitee_start_time_pretty": "09:00am - Tuesday, February 13, 2024",
              "end_time": "2024-02-13T09:45:00-03:00",
              "end_time_pretty": "09:45am - Tuesday, February 13, 2024",
              "invitee_end_time": "2024-02-13T09:45:00-03:00",
              "invitee_end_time_pretty": "09:45am - Tuesday, February 13, 2024",
              "created_at": "2024-02-08T16:34:58-03:00",
              "location": "https://calendly.com/events/e4c6c661-84cd-44ae-8e27-b3bf334b1cd9/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "new_invitee": {
              "uuid": "736cf580-4fd1-4f3b-869d-53d8ffa7d5b2",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-02-08T16:34:58-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            }
          },
          "time": "2024-02-08T19:34:58Z"
        }
      }
    ],
    "cancelamento2": [
      {
        "json": {
          "event": "invitee.canceled",
          "payload": {
            "event_type": {
              "uuid": "9a89c12e-b4b7-45b6-b462-5ffb9c869d80",
              "kind": "Round Robin",
              "slug": "sessao-estrategica",
              "name": "Sessão Estratégica Comercial",
              "duration": 45,
              "owner": {
                "type": "teams",
                "uuid": "5cd25daf-bf05-457d-92c5-2721ece75eee"
              }
            },
            "event": {
              "uuid": "e4c6c661-84cd-44ae-8e27-b3bf334b1cd9",
              "assigned_to": [
                "Jonatã Almeida"
              ],
              "extended_assigned_to": [
                {
                  "name": "Jonatã Almeida",
                  "email": "closer1@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-02-13T09:00:00-03:00",
              "start_time_pretty": "09:00am - Tuesday, February 13, 2024",
              "invitee_start_time": "2024-02-13T09:00:00-03:00",
              "invitee_start_time_pretty": "09:00am - Tuesday, February 13, 2024",
              "end_time": "2024-02-13T09:45:00-03:00",
              "end_time_pretty": "09:45am - Tuesday, February 13, 2024",
              "invitee_end_time": "2024-02-13T09:45:00-03:00",
              "invitee_end_time_pretty": "09:45am - Tuesday, February 13, 2024",
              "created_at": "2024-02-08T16:34:58-03:00",
              "location": "https://calendly.com/events/e4c6c661-84cd-44ae-8e27-b3bf334b1cd9/google_meet",
              "canceled": true,
              "canceler_name": "Vitor Queiroz de Almeida",
              "cancel_reason": "",
              "canceled_at": "2024-02-08T16:38:24-03:00"
            },
            "invitee": {
              "uuid": "736cf580-4fd1-4f3b-869d-53d8ffa7d5b2",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-02-08T16:34:58-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": true,
              "canceler_name": "Vitor Queiroz de Almeida",
              "cancel_reason": "",
              "canceled_at": "2024-02-08T16:38:24-03:00"
            },
            "questions_and_answers": [
              {
                "question": "Qual seu telefone?",
                "answer": "+351 963 840 378"
              }
            ],
            "questions_and_responses": {
              "1_question": "Qual seu telefone?",
              "1_response": "+351 963 840 378"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": {
              "uuid": "83fd490a-e6e7-43f3-aded-2bb4722e5077",
              "assigned_to": [
                "Jonatã Almeida"
              ],
              "extended_assigned_to": [
                {
                  "name": "Jonatã Almeida",
                  "email": "closer1@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-02-10T15:15:00-03:00",
              "start_time_pretty": "03:15pm - Saturday, February 10, 2024",
              "invitee_start_time": "2024-02-10T15:15:00-03:00",
              "invitee_start_time_pretty": "03:15pm - Saturday, February 10, 2024",
              "end_time": "2024-02-10T16:00:00-03:00",
              "end_time_pretty": "04:00pm - Saturday, February 10, 2024",
              "invitee_end_time": "2024-02-10T16:00:00-03:00",
              "invitee_end_time_pretty": "04:00pm - Saturday, February 10, 2024",
              "created_at": "2024-02-08T16:33:54-03:00",
              "location": "https://calendly.com/events/83fd490a-e6e7-43f3-aded-2bb4722e5077/google_meet",
              "canceled": true,
              "canceler_name": "Vitor Queiroz de Almeida",
              "cancel_reason": null,
              "canceled_at": "2024-02-08T16:34:58-03:00"
            },
            "old_invitee": {
              "uuid": "834ffed7-75a6-4fd9-8e47-c473b3a297f5",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-02-08T16:33:54-03:00",
              "is_reschedule": true,
              "payments": [],
              "canceled": true,
              "canceler_name": "Vitor Queiroz de Almeida",
              "cancel_reason": null,
              "canceled_at": "2024-02-08T16:34:58-03:00"
            },
            "new_event": null,
            "new_invitee": null
          },
          "time": "2024-02-08T19:38:25Z"
        }
      }
    ],
    "agendamento_head_comercial": [
      {
        "json": {
          "event": "invitee.created",
          "payload": {
            "event_type": {
              "uuid": "67d2d17f-4c5d-43a7-98c3-6b7666a96a4b",
              "kind": "Round Robin",
              "slug": "sessao-estrategica-comercial-clone-1",
              "name": "Sessão Estratégica Head Comercial",
              "duration": 45,
              "owner": {
                "type": "teams",
                "uuid": "5cd25daf-bf05-457d-92c5-2721ece75eee"
              }
            },
            "event": {
              "uuid": "7d8105a5-05a2-4235-aae8-8175c1036794",
              "assigned_to": [
                "Leonardo Barroso"
              ],
              "extended_assigned_to": [
                {
                  "name": "Leonardo Barroso",
                  "email": "leonardo.barroso@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-06-04T13:00:00-03:00",
              "start_time_pretty": "01:00pm - Tuesday, June 4, 2024",
              "invitee_start_time": "2024-06-04T13:00:00-03:00",
              "invitee_start_time_pretty": "01:00pm - Tuesday, June 4, 2024",
              "end_time": "2024-06-04T13:45:00-03:00",
              "end_time_pretty": "01:45pm - Tuesday, June 4, 2024",
              "invitee_end_time": "2024-06-04T13:45:00-03:00",
              "invitee_end_time_pretty": "01:45pm - Tuesday, June 4, 2024",
              "created_at": "2024-05-31T15:28:58-03:00",
              "location": "https://calendly.com/events/7d8105a5-05a2-4235-aae8-8175c1036794/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "invitee": {
              "uuid": "310c1747-a4a4-4da0-92c2-ec02ad0cb27d",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-05-31T15:28:58-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "questions_and_answers": [
              {
                "question": "Qual seu telefone?",
                "answer": "+55 19 98457-4874"
              }
            ],
            "questions_and_responses": {
              "1_question": "Qual seu telefone?",
              "1_response": "+55 19 98457-4874"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": null,
            "new_invitee": null
          },
          "time": "2024-05-31T18:28:59Z"
        }
      }
    ],
    "agendamento_leo": [
      {
        "json": {
          "event": "invitee.created",
          "payload": {
            "event_type": {
              "uuid": "9a89c12e-b4b7-45b6-b462-5ffb9c869d80",
              "kind": "Round Robin",
              "slug": "sessao-estrategica",
              "name": "Sessão Estratégica Comercial",
              "duration": 45,
              "owner": {
                "type": "teams",
                "uuid": "5cd25daf-bf05-457d-92c5-2721ece75eee"
              }
            },
            "event": {
              "uuid": "c905c93b-e06f-497c-a3cf-f2561230f2cc",
              "assigned_to": [
                "Leonardo Barroso"
              ],
              "extended_assigned_to": [
                {
                  "name": "Leonardo Barroso",
                  "email": "leonardo.barroso@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-09-18T13:00:00-03:00",
              "start_time_pretty": "01:00pm - Wednesday, September 18, 2024",
              "invitee_start_time": "2024-09-18T13:00:00-03:00",
              "invitee_start_time_pretty": "01:00pm - Wednesday, September 18, 2024",
              "end_time": "2024-09-18T13:45:00-03:00",
              "end_time_pretty": "01:45pm - Wednesday, September 18, 2024",
              "invitee_end_time": "2024-09-18T13:45:00-03:00",
              "invitee_end_time_pretty": "01:45pm - Wednesday, September 18, 2024",
              "created_at": "2024-09-16T10:28:15-03:00",
              "location": "https://calendly.com/events/c905c93b-e06f-497c-a3cf-f2561230f2cc/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "invitee": {
              "uuid": "18229abe-7099-48b2-ac10-20007077f6bd",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-09-16T10:28:16-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "questions_and_answers": [
              {
                "question": "Qual seu telefone?",
                "answer": "+55 19 98457-4874"
              }
            ],
            "questions_and_responses": {
              "1_question": "Qual seu telefone?",
              "1_response": "+55 19 98457-4874"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": null,
            "new_invitee": null
          },
          "time": "2024-09-16T13:28:17Z"
        }
      }
    ],
    "reagendamento_ana": [
      {
        "json": {
          "event": "invitee.canceled",
          "payload": {
            "event_type": {
              "uuid": "9a89c12e-b4b7-45b6-b462-5ffb9c869d80",
              "kind": "Round Robin",
              "slug": "sessao-estrategica",
              "name": "Sessão Estratégica Comercial",
              "duration": 45,
              "owner": {
                "type": "teams",
                "uuid": "5cd25daf-bf05-457d-92c5-2721ece75eee"
              }
            },
            "event": {
              "uuid": "c905c93b-e06f-497c-a3cf-f2561230f2cc",
              "assigned_to": [
                "Leonardo Barroso"
              ],
              "extended_assigned_to": [
                {
                  "name": "Leonardo Barroso",
                  "email": "leonardo.barroso@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-09-18T13:00:00-03:00",
              "start_time_pretty": "01:00pm - Wednesday, September 18, 2024",
              "invitee_start_time": "2024-09-18T13:00:00-03:00",
              "invitee_start_time_pretty": "01:00pm - Wednesday, September 18, 2024",
              "end_time": "2024-09-18T13:45:00-03:00",
              "end_time_pretty": "01:45pm - Wednesday, September 18, 2024",
              "invitee_end_time": "2024-09-18T13:45:00-03:00",
              "invitee_end_time_pretty": "01:45pm - Wednesday, September 18, 2024",
              "created_at": "2024-09-16T10:28:15-03:00",
              "location": "https://calendly.com/events/c905c93b-e06f-497c-a3cf-f2561230f2cc/google_meet",
              "canceled": true,
              "canceler_name": "Fabricio Nunnes",
              "cancel_reason": "Teste",
              "canceled_at": "2024-09-16T10:29:37-03:00"
            },
            "invitee": {
              "uuid": "18229abe-7099-48b2-ac10-20007077f6bd",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-09-16T10:28:16-03:00",
              "is_reschedule": true,
              "payments": [],
              "canceled": true,
              "canceler_name": "Fabricio Nunnes",
              "cancel_reason": "Teste",
              "canceled_at": "2024-09-16T10:29:37-03:00"
            },
            "questions_and_answers": [
              {
                "question": "Qual seu telefone?",
                "answer": "+55 19 98457-4874"
              }
            ],
            "questions_and_responses": {
              "1_question": "Qual seu telefone?",
              "1_response": "+55 19 98457-4874"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": {
              "uuid": "b83a4bf4-bc11-441d-b497-d2c6f851ba10",
              "assigned_to": [
                "Ana Carvalho"
              ],
              "extended_assigned_to": [
                {
                  "name": "Ana Carvalho",
                  "email": "ana.carvalho@universidadevendas.com.br",
                  "primary": true
                }
              ],
              "start_time": "2024-09-18T15:00:00-03:00",
              "start_time_pretty": "03:00pm - Wednesday, September 18, 2024",
              "invitee_start_time": "2024-09-18T15:00:00-03:00",
              "invitee_start_time_pretty": "03:00pm - Wednesday, September 18, 2024",
              "end_time": "2024-09-18T15:45:00-03:00",
              "end_time_pretty": "03:45pm - Wednesday, September 18, 2024",
              "invitee_end_time": "2024-09-18T15:45:00-03:00",
              "invitee_end_time_pretty": "03:45pm - Wednesday, September 18, 2024",
              "created_at": "2024-09-16T10:29:37-03:00",
              "location": "https://calendly.com/events/b83a4bf4-bc11-441d-b497-d2c6f851ba10/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "new_invitee": {
              "uuid": "b840900f-3815-4220-b5be-e811aaca5a09",
              "first_name": null,
              "last_name": null,
              "name": "Vitor Queiroz de Almeida",
              "email": "vitorrqueiroztrafego@gmail.com",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "created_at": "2024-09-16T10:29:37-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            }
          },
          "time": "2024-09-16T13:29:37Z"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Q8rgTKWALfDjS7MZ"
  },
  "staticData": {
    "node:Evento": {
      "webhookId": 5555740
    }
  },
  "tags": [
    {
      "createdAt": "2024-05-14T15:06:28.872Z",
      "updatedAt": "2024-05-14T15:06:28.872Z",
      "id": "nzGANUfak2QAGAAC",
      "name": "[Calendly]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-03-12T13:52:53.451Z",
  "versionId": "793fd7c0-f272-4c25-bd1f-bd199e214310"
}