workflows/🏆⌚[SE] - Não Aplicou em 10 min - Parte 2.json
{
  "active": true,
  "connections": {
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cadastrar_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead2": {
      "main": [
        [
          {
            "node": "id_lead5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead5": {
      "main": [
        [
          {
            "node": "pesquisa_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados2": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_igual1": {
      "main": [
        [
          {
            "node": "email_preenchido2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_preenchido1": {
      "main": [
        [
          {
            "node": "telefone_igual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual3": {
      "main": [
        [
          {
            "node": "atualiza_dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido2": {
      "main": [
        [
          {
            "node": "email_igual3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido3": {
      "main": [
        [
          {
            "node": "email_igual6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual6": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead": {
      "main": [
        [
          {
            "node": "pesquisa_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email2": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_email2": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_email": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email2_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido": {
      "main": [
        [
          {
            "node": "email_igual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email1": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone1": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email2_telefone1": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead2": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "numeros_de_teste": {
      "main": [
        [
          {
            "node": "espera_5_segundos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "espera_1_min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_utm_content": {
      "main": [
        [
          {
            "node": "envia_campo_utm_term",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_utm_term": {
      "main": [
        [
          {
            "node": "envia_campo_utm_campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_utm_campaign": {
      "main": [
        [
          {
            "node": "envia_campo_utm_source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_utm_source": {
      "main": [
        [
          {
            "node": "envia_campo_utm_var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_utm_var": {
      "main": [
        [
          {
            "node": "envia_campo_utm_fun",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_utm_fun": {
      "main": [
        [
          {
            "node": "envia_campo_utm_medium",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_utm_content1": {
      "main": [
        [
          {
            "node": "envia_campo_utm_term1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_utm_term1": {
      "main": [
        [
          {
            "node": "envia_campo_utm_campaign1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_utm_campaign1": {
      "main": [
        [
          {
            "node": "envia_campo_utm_source1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_utm_source1": {
      "main": [
        [
          {
            "node": "envia_campo_utm_var1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_utm_var1": {
      "main": [
        [
          {
            "node": "envia_campo_utm_fun1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_utm_fun1": {
      "main": [
        [
          {
            "node": "envia_campo_utm_medium1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_utm_medium1": {
      "main": [
        [
          {
            "node": "envia_campo_id_banco_de_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_id_banco_de_dados": {
      "main": [
        [
          {
            "node": "e_portugal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_5_segundos": {
      "main": [
        [
          {
            "node": "pesquisa_aplicacao_menos_de_15d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aplicacao_nao_existe": {
      "main": [
        [
          {
            "node": "envia_campo_utm_content1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_campo_utm_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_utm_medium": {
      "main": [
        [
          {
            "node": "envia_campo_id_banco_de_dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria/atualiza_deal": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_dia_dia_data_lake": {
      "main": [
        [
          {
            "node": "email_existe1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_existe2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia12": {
      "main": [
        [
          {
            "node": "nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_existe1": {
      "main": [
        [
          {
            "node": "lead_ja_existia12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia": {
      "main": [
        [
          {
            "node": "nada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia13": {
      "main": [
        [
          {
            "node": "nada2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_existe2": {
      "main": [
        [
          {
            "node": "lead_ja_existia13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia1": {
      "main": [
        [
          {
            "node": "nada3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake": {
      "main": [
        [
          {
            "node": "numeros_de_teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nada2": {
      "main": [
        [
          {
            "node": "numeros_de_teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake15": {
      "main": [
        [
          {
            "node": "numeros_de_teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nada3": {
      "main": [
        [
          {
            "node": "numeros_de_teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake": {
      "main": [
        [
          {
            "node": "numeros_de_teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nada1": {
      "main": [
        [
          {
            "node": "numeros_de_teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake11": {
      "main": [
        [
          {
            "node": "numeros_de_teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nada": {
      "main": [
        [
          {
            "node": "numeros_de_teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_vazio": {
      "main": [
        [
          {
            "node": "telefone_vazio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "telefone_vazio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_vazio": {
      "main": [
        [
          {
            "node": "sem_acao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_vazio1": {
      "main": [
        [
          {
            "node": "pesquisa_lead_email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead_telefone_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_telefone_email": {
      "main": [
        [
          {
            "node": "pesquisa_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_email": {
      "main": [
        [
          {
            "node": "pesquisa_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_telefone": {
      "main": [
        [
          {
            "node": "pesquisa_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead1": {
      "main": [
        [
          {
            "node": "nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe": {
      "main": [
        [
          {
            "node": "insere_dados2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "telefone_preenchido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_tag_portugal": {
      "main": [
        [
          {
            "node": "envia_fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato": {
      "main": [
        [
          {
            "node": "email_vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "e_portugal": {
      "main": [
        [
          {
            "node": "envia_tag_portugal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "e_portugal1": {
      "main": [
        [
          {
            "node": "envia_tag_portugal1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_tag_portugal1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "cria/atualiza_contato_qualificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_1_min": {
      "main": [
        [
          {
            "node": "espera_1_min1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_1_min1": {
      "main": [
        [
          {
            "node": "espera_1_min2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_1_min2": {
      "main": [
        [
          {
            "node": "espera_1_min3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_1_min3": {
      "main": [
        [
          {
            "node": "espera_1_min4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_1_min4": {
      "main": [
        [
          {
            "node": "espera_1_min5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_1_min5": {
      "main": [
        [
          {
            "node": "espera_1_min6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_1_min6": {
      "main": [
        [
          {
            "node": "espera_1_min7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_1_min7": {
      "main": [
        [
          {
            "node": "espera_1_min8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_1_min8": {
      "main": [
        [
          {
            "node": "espera_1_min9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_1_min9": {
      "main": [
        [
          {
            "node": "pesquisa_aplicacao_menos_de_15d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria/atualiza_deal_sdr": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria/atualiza_contato_qualificado": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "cria/atualiza_deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria/atualiza_deal_sdr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_dia_dia_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_aplicacao_menos_de_15d": {
      "main": [
        [
          {
            "node": "aplicacao_nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_id_banco_de_dados1": {
      "main": [
        [
          {
            "node": "e_portugal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_fluxo": {
      "main": [
        [
          {
            "node": "espera_1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "add_lead_leadlovers_com_agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_lead_leadlovers_sem_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "cadastrar_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_1h": {
      "main": [
        [
          {
            "node": "pesquisa_aplicacao_menos_de_15d1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_aplicacao_menos_de_15d1": {
      "main": [
        [
          {
            "node": "aplicacao_nao_existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aplicacao_nao_existe1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-13T19:33:34.835Z",
  "id": "oachw9Op6WMqKqY3",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🏆⌚[SE] - Não Aplicou em 10 min - Parte 2",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"fields\"][\"redelivered\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "87419f6f-1d63-4a97-843d-5d926148c585",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -20,
        1140
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "4ec78490-c7a5-4508-96e8-3b39c77e3d20",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        200,
        1100
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nap01\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "envia_fluxo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        7800,
        1220
      ],
      "id": "9dea4e8d-ec7d-4887-8ef0-1e6e75f45883",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados2\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "2eb2947f-5ce1-4154-81bd-08956cd43a3c",
      "name": "insert_data_utm_lead2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2180,
        1280
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"insere_dados2\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c54eea45-d84c-4acf-b0ce-20b158f5ae67",
      "name": "id_lead5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2380,
        1280
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "856d3326-45b8-4034-94fa-02c38fd3302e",
      "name": "insere_dados2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1960,
        1280
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"telefone\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        }
      },
      "id": "018bc613-8248-49f2-8b23-aec309c67294",
      "name": "telefone_igual1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1840,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"telefone\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "bc73df5e-5751-4077-acc3-5aee83d550c7",
      "name": "telefone_preenchido1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1640,
        1760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "cc9058e7-71b1-4d5f-a309-1e253e33e351",
      "name": "email_igual3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2180,
        1540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a33f3b79-30e0-47a4-846f-ac0507d7dce1",
      "name": "email_preenchido2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2020,
        1620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "6320259c-cfa2-47c4-9a42-bd320d17f1f7",
      "name": "email_preenchido3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        2100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "fee0c780-ba76-4d51-84a3-4fc622a4f15d",
      "name": "email_igual6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2200,
        2020
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7fff62e3-53c8-4ec5-b556-23cbbc8d58d4",
      "name": "id_lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2620,
        1480
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "9abb00ab-aacc-4ea7-bde3-d8eafd57c4af",
      "name": "atualiza_dados_email2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2380,
        1620
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "8ebe8965-c733-46a4-a4ec-e0afbef9a5f4",
      "name": "atualiza_dados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2380,
        1460
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "4b252fbc-f7b7-48cd-ad48-492feffd363e",
      "name": "atualiza_dados_email",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2180,
        1780
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "a3fc22fe-af2b-4f83-9dae-4a93b7531b46",
      "name": "atualiza_dados_telefone2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2400,
        1940
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "1de79f17-2337-4432-93c4-dd84706b621b",
      "name": "atualiza_dados_telefone2_email2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2400,
        2120
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "ee57bc36-67a6-4fbb-bd96-4ff755e62b79",
      "name": "atualiza_dados_telefone2_email",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2160,
        2200
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "475e5247-9e04-4140-8e60-4a72cf24ebab",
      "name": "email_igual",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2040,
        2480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "691c0515-912c-49a4-9640-58ffa2d6b97a",
      "name": "email_preenchido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1880,
        2560
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "c95e76cc-3f5b-47b9-9bcc-2d7e90962096",
      "name": "atualiza_dados_email1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2040,
        2720
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "b0dbd3a9-e207-4210-a87e-261af63bd1bb",
      "name": "atualiza_dados_telefone1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        2400
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "7b276719-e4c8-4090-934b-37e39c651c54",
      "name": "atualiza_dados_email2_telefone1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        2560
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $json[\"id_lead\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "b644500c-8a9d-41cc-9608-402a9acc0baa",
      "name": "pesquisa_lead2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2760,
        1280
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "6d5b121b-579e-4297-8439-aa86b43ed40e",
      "name": "espera_5_segundos",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5080,
        1180
      ],
      "webhookId": "3b7b2293-187e-4093-b5c5-3293ef3a0db7"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "351963840378"
            },
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "5519984574874"
            },
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "5562981196678"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "28e1b5e8-b1e2-4da3-8e41-41fde7000027",
      "name": "numeros_de_teste",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4880,
        1320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "489147d2-39c7-43c6-8635-18266b42b024",
      "name": "envia_campo_utm_content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5740,
        1420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3b62f29d-ce28-4cbb-a28e-efd97b2c1c7f",
      "name": "envia_campo_utm_term",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5940,
        1420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a4ead406-fd7e-494e-ba14-93659d0f9b1a",
      "name": "envia_campo_utm_campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6140,
        1420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "65af8c14-8448-4263-9dd5-1fea4dc8dafa",
      "name": "envia_campo_utm_source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6340,
        1420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b347bef7-ed42-4d4b-9344-36fbb7d9eaee",
      "name": "envia_campo_utm_var",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6540,
        1420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "28666cdc-73bc-4807-a399-69625af5fe93",
      "name": "envia_campo_utm_fun",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6740,
        1420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dd583481-be04-428a-8975-0c0faea04d00",
      "name": "envia_campo_utm_content1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5740,
        1220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "36207a25-7386-4fd0-9166-e53421ff5bb9",
      "name": "envia_campo_utm_term1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5940,
        1220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f9500e69-9935-4ac4-b794-150040af80ba",
      "name": "envia_campo_utm_campaign1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6140,
        1220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1b6f9dc7-5fe1-4cab-8189-ed195d4db04d",
      "name": "envia_campo_utm_source1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6340,
        1220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8da1be3c-bad6-43c2-b376-b82163a017d6",
      "name": "envia_campo_utm_var1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6540,
        1220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "32fffc5b-7ac6-431d-a60a-fe1b5fec128f",
      "name": "envia_campo_utm_fun1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6740,
        1220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "79fd24b4-7f6a-4595-a7fa-fe982b61fca8",
      "name": "envia_campo_utm_medium1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6940,
        1220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4e17ef7a-0d35-4d30-9e92-04f7e7e57abc",
      "name": "envia_campo_id_banco_de_dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        7140,
        1220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bcd7bfb3-b1bd-4b63-a72d-83d8651c29f8",
      "name": "envia_campo_id_banco_de_dados1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        7140,
        1420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM aplicacoes\nWHERE id_lead = {{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}\nAND data_aplicacao > {{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}\nAND data_aplicacao <> CURDATE();\n",
        "options": {
          "detailedOutput": true
        }
      },
      "id": "580b69bc-4438-489c-9e5e-6c76dee404cd",
      "name": "pesquisa_aplicacao_menos_de_15d",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5280,
        1320
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_aplicacao_menos_de_15d\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "5869923b-a1c8-4b92-9fa8-9a1fee5af8f9",
      "name": "aplicacao_nao_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5480,
        1320
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?search=[APP] - Lead",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        840,
        620
      ],
      "id": "f0e04f0f-c5e8-43b0-92b7-828e560291f2"
    },
    {
      "parameters": {
        "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs dos Campos e Tags no ActiveCampaign",
        "height": 407.6377565498652,
        "width": 747.0856205721786
      },
      "id": "a7a9a144-ed39-4049-9572-100fe03bf8c4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        340,
        460
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        640,
        620
      ],
      "id": "8ecdd4d4-cc8e-4abe-8eb2-64c7c9d81986"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "52c97abb7c0c065f86602540a33784b7b7ebc81aff2be61bc7ef6d93d9d2ad195a8a303f"
            },
            {
              "name": "url_api_activecampaign",
              "value": "andressascherer"
            }
          ]
        },
        "options": {}
      },
      "id": "e4e460dd-096c-45db-b03b-400fe21d217f",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        440,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/custom_fields/{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "67f81910-b5b2-465f-bbd5-29a0017e3400",
      "name": "envia_campo_utm_medium",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6940,
        1420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/9d2ff7c0-d711-474b-9d5d-8d20316bd596",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json.content[\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json.content[\"E-mail do Cliente\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4984987d-03a0-4348-87a0-4eb1b8f8e04a",
      "name": "cria/atualiza_contato_qualificado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3040,
        1280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/035fb8b9-af29-4153-9550-5a3a61bc749d",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json.content[\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json.content[\"E-mail do Cliente\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "dono_negocio",
              "value": "laiane@universidadevendas.com.br"
            },
            {
              "name": "pais",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Pais\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8a1091f0-2440-4dc8-8292-64acd8cb2cae",
      "name": "cria/atualiza_deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3480,
        1180
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "820594ec-2126-4f3b-a497-45d419843843",
      "name": "pesquisa_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3700,
        1280
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "710d3232-1da8-45cd-9297-998dcc285139",
      "name": "nao_encontrou_registro_dia_dia_data_lake",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3880,
        1280
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}"
            },
            {
              "column": "qtd_leads",
              "value": "1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "d7ff30e2-569f-42ed-90f6-668ad3347be1",
      "name": "insert_data_data_lake11",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4480,
        1060
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "24eaf0d4-49ba-45e8-918c-dcca27aa05c8",
      "name": "lead_ja_existia12",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4280,
        1020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "c4fcaca3-9882-4b05-8d21-83bdee912c7d",
      "name": "email_existe1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4080,
        1160
      ]
    },
    {
      "parameters": {},
      "id": "a3bd811e-e3ca-46c4-acb7-236406e3fee5",
      "name": "nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4480,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "c59ae8d8-f05e-4bd0-ad0f-e48d79ceb377",
      "name": "lead_ja_existia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4280,
        1260
      ]
    },
    {
      "parameters": {},
      "id": "86af4c6f-ac9b-4e12-8435-bb36a57274de",
      "name": "nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4480,
        1240
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}"
            },
            {
              "column": "qtd_leads",
              "value": "1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "ff36dc40-8728-4ba6-9809-a39a7b815c9b",
      "name": "insert_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4480,
        1420
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "f20b5f9a-1dc0-46b8-a478-0cf68f3d8ab9",
      "name": "update_data_data_lake15",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4480,
        1780
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "23889f12-7897-4c58-bfee-70a3c8e90ae3",
      "name": "lead_ja_existia13",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4280,
        1700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "9b705df5-7af5-40ac-8ebb-9fa6baac7c60",
      "name": "email_existe2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4100,
        1740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "fa92366d-6bc4-4dda-8957-aba6b832bf45",
      "name": "lead_ja_existia1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4300,
        2040
      ]
    },
    {
      "parameters": {},
      "id": "18947b2d-9b39-4fd6-b959-5be15499a999",
      "name": "nada2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4480,
        1600
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "48789ddb-e97c-4106-8df5-1e02eacaba9a",
      "name": "update_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4520,
        2120
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {},
      "id": "c3c44ee0-4778-4565-9c5f-4fb807efa30a",
      "name": "nada3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4460,
        1980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "0b0e0fbc-a061-4129-a028-6e4b9fbb1e8c",
      "name": "email_vazio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        380,
        1300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "b9d839d9-cdee-4b06-9cc9-03075999499c",
      "name": "telefone_vazio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        580,
        1140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "f7b00cb5-780b-4634-ae68-01ffe7a0ad3e",
      "name": "telefone_vazio1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        580,
        1460
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "40fda3c1-aee5-4f18-98ed-ffdff677939b",
      "name": "pesquisa_lead_telefone_email",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        840,
        1560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "db213037-3007-4786-9fa9-b1e0f6d9c2a2",
      "name": "pesquisa_lead_email",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        840,
        1380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {},
      "id": "6cf105b7-f645-4670-b392-6285826c0409",
      "name": "sem_acao",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "68da067b-644f-408f-8c74-b0e603cbee71",
      "name": "pesquisa_lead_telefone",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        840,
        1220
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "d4867ec3-4ca8-40db-8db6-4f550c3f5a1b",
      "name": "nao_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1360,
        1300
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "cfa141a3-ac70-4e2a-9d34-0822b630fce2",
      "name": "pesquisa_lead1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1160,
        1300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/tags/7200846/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bcfd6d7a-e3cc-4613-9b59-f6163ae290ff",
      "name": "envia_tag_portugal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        7540,
        1140
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "=+{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}."
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        200,
        1300
      ],
      "id": "685ff71d-fd90-4329-b2a0-e93695848962",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/tags/7200846/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fbdb53a2-5b83-4616-9f57-c23689c86b26",
      "name": "envia_tag_portugal1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        7540,
        1340
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Pais\"] }}",
              "value2": "Portugal"
            }
          ]
        }
      },
      "id": "deef240b-02f5-4a1a-8ff1-37aeb9a7112d",
      "name": "e_portugal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7300,
        1220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Pais\"] }}",
              "value2": "Portugal"
            }
          ]
        }
      },
      "id": "804a0a40-3529-429d-9c6a-081547e2018d",
      "name": "e_portugal1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7300,
        1420
      ]
    },
    {
      "parameters": {},
      "id": "202d9ece-989f-43a4-8a80-bff761044b51",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7800,
        1420
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "7065fa01-82fe-41fc-959e-89b3b6a91a61",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        2900,
        1280
      ]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "73f636b9-e4d0-4c02-ae55-ea60701eac9f",
      "name": "espera_1_min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5000,
        1460
      ],
      "webhookId": "e372fa4f-d5a8-464b-8d09-2b2d595c793a"
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "7003950a-6c97-4d63-9b97-c1f4ec4c48f6",
      "name": "espera_1_min1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5140,
        1460
      ],
      "webhookId": "e372fa4f-d5a8-464b-8d09-2b2d595c793a"
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "360cb1f0-72f3-47b0-a753-e8e1dd4456e0",
      "name": "espera_1_min2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4860,
        1600
      ],
      "webhookId": "e372fa4f-d5a8-464b-8d09-2b2d595c793a"
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "afe6b852-186b-4ecc-aa2c-2b5f53127f25",
      "name": "espera_1_min3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5000,
        1600
      ],
      "webhookId": "e372fa4f-d5a8-464b-8d09-2b2d595c793a"
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "98d34a5f-7df6-460a-9d8f-e325440c2c7f",
      "name": "espera_1_min4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5140,
        1600
      ],
      "webhookId": "e372fa4f-d5a8-464b-8d09-2b2d595c793a"
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "d75570cc-2814-44f3-a6ba-977eeaa0fc99",
      "name": "espera_1_min5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5300,
        1600
      ],
      "webhookId": "e372fa4f-d5a8-464b-8d09-2b2d595c793a"
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "e9d8a10a-97cc-404f-81b1-52d849d83921",
      "name": "espera_1_min6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4860,
        1740
      ],
      "webhookId": "e372fa4f-d5a8-464b-8d09-2b2d595c793a"
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "a01419f2-d57d-413e-86e1-b007b8372ff4",
      "name": "espera_1_min7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5000,
        1740
      ],
      "webhookId": "e372fa4f-d5a8-464b-8d09-2b2d595c793a"
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "fd0d8d97-c7ba-4605-8a67-43144b03ae9d",
      "name": "espera_1_min8",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5140,
        1740
      ],
      "webhookId": "e372fa4f-d5a8-464b-8d09-2b2d595c793a"
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "1f52241c-f7af-4032-b67a-f993b7d31fdc",
      "name": "espera_1_min9",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5280,
        1740
      ],
      "webhookId": "e372fa4f-d5a8-464b-8d09-2b2d595c793a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/4358bb8d-a097-4b8c-95d0-2335b938763b",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json.content[\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json.content[\"E-mail do Cliente\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "dono do negócio",
              "value": "naiara.jaqueline@universidadevendas.com.br"
            },
            {
              "name": "pais",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Pais\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3e68ce55-cb29-435f-a9a8-6846e5a2a346",
      "name": "cria/atualiza_deal_sdr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3480,
        1360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d77830d4-e0ec-4887-9f5f-faa981237a0e",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}",
              "rightValue": "v2",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "84e1701a-c8bc-4cbb-ac3a-ec53e964564b",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3260,
        1280
      ]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "f1e1b1d2-b704-4535-b666-6e69e28e79f2",
      "name": "espera_1h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        8020,
        1220
      ],
      "webhookId": "e372fa4f-d5a8-464b-8d09-2b2d595c793a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://llapi.leadlovers.com/webapi/Lead",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "4EC65C2C218348E182B16D1B9901C60E"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Name\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n  \"Email\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\",\n  \"MachineCode\": 735671,\n  \"EmailSequenceCode\": 1731373,\n  \"SequenceLevelCode\": 1\n}",
        "options": {}
      },
      "id": "76480a69-3c86-498f-8ba9-3eb11e9b9afc",
      "name": "add_lead_leadlovers_sem_agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8900,
        1300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://llapi.leadlovers.com/webapi/Lead",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "4EC65C2C218348E182B16D1B9901C60E"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Name\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n  \"Email\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\",\n  \"MachineCode\": 735671,\n  \"EmailSequenceCode\": 1731364,\n  \"SequenceLevelCode\": 1\n}",
        "options": {}
      },
      "id": "6d099a3b-bf65-4718-b221-58c78d204110",
      "name": "add_lead_leadlovers_com_agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8900,
        1120
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil_lead_loves\"] }}",
                    "rightValue": "com agendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "com"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "e5267cd1-492e-443f-9c92-a790c1a94670",
                    "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil_lead_loves\"] }}",
                    "rightValue": "sem agendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sem"
            }
          ]
        },
        "options": {}
      },
      "id": "1c52124e-33dd-444d-9378-0fa6fa7833b9",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        8640,
        1220
      ]
    },
    {
      "parameters": {
        "queue": "Não Aplicou - Sessão",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "38e82f9e-1920-4cab-87a7-b629c4f32ab9",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        1280
      ],
      "credentials": {
        "rabbitmq": {
          "id": "gEWuEJrN8BnSAPqF",
          "name": "[RabbitMQ] - Fabrício Nunnes"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM aplicacoes\nWHERE id_lead = {{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}\nAND data_aplicacao > {{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}\nAND data_aplicacao <> CURDATE();\n",
        "options": {
          "detailedOutput": true
        }
      },
      "id": "a8f8e4f6-46da-4a43-b77b-b906373012f0",
      "name": "pesquisa_aplicacao_menos_de_15d1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        8200,
        1220
      ],
      "credentials": {
        "mySql": {
          "id": "PfzfhyuSKTUfroef",
          "name": "[MySQL] - Fabricio Nunnes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_aplicacao_menos_de_15d1\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "ccc30a09-823d-4d42-8c43-4f71053ab79b",
      "name": "aplicacao_nao_existe1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        8400,
        1220
      ]
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-WaXEE1H9qMLtKTPoiXUkdg",
            "deliveryTag": 22,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Não Aplicou - Sessão"
          },
          "properties": {
            "headers": {
              "x-delivery-count": 3
            }
          },
          "content": {
            "Nome do Cliente": "Vitor Queiroz de Almeida",
            "Telefone do Cliente - Formato Z-API": "5519982022213",
            "E-mail do Cliente": "vitorrqueiroztrafego@gmail.com",
            "Data do Evento": "25/06/2024",
            "Hora do Evento": "16:38",
            "utm_term": "",
            "utm_medium": "",
            "utm_campaign": "",
            "utm_source": "organico",
            "utm_content": "",
            "id_campo_emailse": "1045671",
            "valor_mentoria_centavos": "",
            "id_fluxo_nap01": "2445393",
            "API-KEY": "a9585685-a8d4-4f70-be7c-44c8dedf905f",
            "id_pipeline_se": "",
            "id_stage_iniciou_aplicacao": "",
            "id_campo_deal_utm_source": "",
            "id_campo_deal_utm_campaign": "",
            "id_campo_deal_utm_term": "",
            "id_campo_deal_utm_medium": "",
            "id_campo_deal_utm_content": "",
            "id_sdr": "",
            "funil": "sessao_estrategica",
            "variacao_do_funil": "funil_head_comercial",
            "url_api_activecampaign": "",
            "id_campo_deal_utm_fun": "",
            "id_campo_deal_utm_var": "",
            "id_campo_utm_content_bot_conversa": "1408040",
            "id_campo_utm_fun_bot_conversa": "1408044",
            "id_campo_utm_var_bot_conversa": "1408045",
            "id_campo_utm_medium_bot_conversa": "1408043",
            "id_campo_utm_term_bot_conversa": "1408042",
            "id_campo_utm_campaign_bot_conversa": "1408041",
            "id_campo_utm_source_bot_conversa": "1408038",
            "id_campo_id_banco_de_dados_bot_conversa": "1408048",
            "id_campo_id_banco_de_dados_ac": "",
            "id_campo_iddealac_bot_conversa": "",
            "id_campo_idleadac_bot_conversa": "",
            "data_ultima_quinzena": "\"2024-06-10\"",
            "id_fluxo_notifica_sdr_pop_up": "2215208",
            "funil_lead_loves": "com agendamento"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Q8rgTKWALfDjS7MZ"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-05-13T19:27:32.381Z",
      "updatedAt": "2024-05-13T19:27:32.381Z",
      "id": "d8guY4oNbv53fjEq",
      "name": "[NAP]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-11-06T19:31:20.786Z",
  "versionId": "0bb1ab57-9ca8-46aa-846a-26df6ecf5816"
}